.left-toolbar {
	display: flex;
	align-items: center;

	.left-toolbar-query-actions {
		display: flex;
		border-radius: 2px;
		border: 1px solid var(--Slate-400, #1d212d);
		background: var(--Ink-300, #16181d);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		flex-direction: row;

		.ant-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			padding: 9px;

			&.active-tab {
				background-color: #1d212d;
			}
		}
		.action-btn + .action-btn {
			border-left: 1px solid var(--Slate-400, #1d212d);
		}
	}

	.histogram-view-controller {
		display: flex;
		align-items: center;
		padding-left: 8px;
		gap: 8px;
	}
}

.right-toolbar {
	display: flex;
	align-items: center;
}
