.section {
	margin-bottom: 12px;
	border: 1px solid var(--l1-border);
	border-radius: 4px;
}

.dragging {
	opacity: 0.8;
}

.deleteModal :global(.ant-modal-confirm-body) {
	align-items: center;
}

.emptySection {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px 12px;
}
