.trace-drawer-descriptive-content {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.span-name-duration {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.span-name {
			display: flex;
			gap: 8px;

			.info-pill {
				display: flex;

				.text {
					display: flex;
					padding: 6px 8px;
					align-items: center;
					gap: 4px;
					border-right: 1px solid var(--bg-slate-300);
					background: var(--bg-slate-500);
					color: #fff;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 128.571% */
					letter-spacing: -0.07px;
				}

				.value {
					display: flex;
					padding: 6px 8px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					background: var(--bg-slate-400);
					color: var(--bg-vanilla-400);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 128.571% */
					letter-spacing: -0.07px;
				}

				.success {
					border: 1px solid var(--bg-robin-500);
					background: var(--bg-robin-500);
					color: var(--bg-vanilla-100);
				}

				.error {
					border: 1px solid var(--bg-cherry-500);
					background: var(--bg-cherry-500);
					color: var(--bg-vanilla-100);
				}
			}
		}

		.span-duration {
			display: flex;
			gap: 24px;

			.item {
				display: flex;
				gap: 6px;
				align-items: center;

				.value {
					color: var(--bg-vanilla-400);
					font-variant-numeric: lining-nums tabular-nums stacked-fractions
						slashed-zero;
					font-feature-settings: 'case' on, 'cpsp' on, 'dlig' on, 'salt' on;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 128.571% */
					letter-spacing: -0.07px;
				}
			}
		}
	}

	.span-metadata {
		display: flex;
		gap: 24px;

		.item {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.text {
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 11px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px; /* 163.636% */
				letter-spacing: 0.44px;
				text-transform: uppercase;
			}

			.value {
				.dot {
					width: 4px;
					height: 4px;
					border-radius: 4px;
					filter: drop-shadow(0px 0px 6px rgba(37, 225, 146, 0.8));
				}

				display: flex;
				padding: 2px 8px;
				align-items: center;
				gap: 8px;
				border-radius: 50px;
				border: 1px solid var(--bg-slate-400);
				background: var(--bg-slate-500);
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px; /* 128.571% */
				letter-spacing: -0.07px;
			}
		}
	}
}

.lightMode {
	.trace-drawer-descriptive-content {
		.span-name-duration {
			.span-name {
				.info-pill {
					.text {
						border: 1px solid var(--bg-vanilla-300);
						background: var(--bg-vanilla-200);
						color: var(--bg-ink-100);
					}

					.value {
						background: var(--bg-vanilla-400);
						color: var(--bg-ink-400);
					}
				}
			}

			.span-duration {
				.item {
					.value {
						color: var(--bg-ink-400);
					}
				}
			}
		}

		.span-metadata {
			.item {
				.text {
					color: var(--bg-ink-400);
				}

				.value {
					border: 1px solid var(--bg-vanilla-400);
					background: var(--bg-vanilla-400);
					color: var(--bg-ink-400);
				}
			}
		}
	}
}
