.tagTooltip {
	.ant-tooltip-content {
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 8px;

		background-color: var(--l1-border);
		margin-bottom: 8px;
	}

	.ant-tooltip-inner {
		box-shadow: none;
	}
}
