.keyboard-shortcuts {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding: 1rem;
	gap: 24px;
	width: 80%;
	margin: 0 auto;

	.shortcut-section {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.shortcut-section-heading {
			font-weight: 600;
			font-size: 22px;
			line-height: 1.3636363636363635;
		}

		tbody {
			.shortcut-key {
				font-family: 'Space Mono', monospace;
				text-transform: uppercase;
			}
		}
	}
}
