.wrapper {
	cursor: not-allowed;
}

.errorContent {
	background: var(--callout-error-background) !important;
	border-color: var(--callout-error-border) !important;
	backdrop-filter: blur(15px);
	border-radius: 4px !important;
	color: var(--foreground) !important;
	font-style: normal;
	font-weight: 400;
	white-space: nowrap;
}
