.ingestion-url-error-tooltip {
	.ingestion-url-error-content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.ingestion-url-error-code {
		font-size: 12px;
		font-weight: 500;
		color: var(--bg-amber-500);
	}

	.ingestion-url-error-message {
		font-size: 12px;
		font-weight: 400;
		color: var(--bg-vanilla-300);
	}
}

.lightMode {
	.ingestion-url-error-tooltip {
		.ingestion-url-error-content {
			.ingestion-url-error-code {
				color: var(--bg-amber-500);
			}
		}

		.ingestion-url-error-message {
			color: var(--bg-ink-500);
		}
	}
}
