.alert-not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 500px;
	gap: 24px;
	margin: 0 auto;

	.description {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6px;

		.not-found-img {
			height: 32px;
			width: 32px;
		}

		.not-found-text {
			color: var(--bg-vanilla-400);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: -0.07px;
			text-align: center;
		}
	}

	.reasons {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.reason {
			display: flex;
			padding: 12px;
			align-items: flex-start;
			gap: 12px;
			border-radius: 4px;
			background: rgba(171, 189, 255, 0.04);

			.construction-img,
			.broom-img {
				height: 16px;
				width: 16px;
			}

			.text {
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: -0.07px;
			}
		}
	}

	.none-of-above {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;

		.text {
			color: var(--bg-vanilla-400);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: -0.07px;
			text-align: center;
		}

		.action-btns {
			display: flex;
			gap: 8px;

			.action-btn {
				display: flex;
				width: 160px;
				padding: 4px 8px;
				justify-content: center;
				align-items: center;
				gap: 8px;
				border-radius: 2px;
				border: 1px solid var(--bg-slate-400);
				background: var(--bg-slate-500);
				box-shadow: none;

				.ant-btn-icon {
					margin-inline-end: 0px;
				}
			}
		}
	}
}

.lightMode {
	.alert-not-found {
		.description {
			.not-found-text {
				color: var(--bg-ink-400);
			}
		}

		.reasons {
			.reason {
				background: var(--bg-vanilla-300);
				.text {
					color: var(--bg-ink-400);
				}
			}
		}

		.none-of-above {
			.text {
				color: var(--bg-ink-400);
			}

			.action-btns {
				.action-btn {
					border: 1px solid var(--bg-vanilla-300);
					background: var(--bg-vanilla-300);
				}
			}
		}
	}
}
