.llmObservabilityAttributeMapping {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	padding: var(--spacing-2) var(--spacing-2);

	--tab-content-padding: 0;
	--tab-text-color: var(--l1-foreground);
	--tab-active-text-color: var(--l1-foreground);
}

.pageError {
	padding: var(--padding-3) var(--padding-4);
	border-radius: var(--radius-2);
	background: var(--callout-error-background);
	color: var(--callout-error-title);
	font-size: var(--periscope-font-size-base);
}
