.qb-entity-options {
	display: flex;
	justify-content: space-between;
	margin: 4px 0;

	.left-col-items {
		display: flex;
		align-items: center;
		gap: 12px;

		.title {
			font-weight: 500;
			font-style: italic;
			.entityType {
				text-transform: capitalize;
			}
		}
	}

	.options {
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		margin-left: -51px;

		border-radius: 2px;
		border: 1px solid var(--Slate-200, #2c3140);

		.periscope-btn {
			border: 1px solid var(--bg-slate-200);
			background: var(--bg-ink-200);
			min-width: 28px;
		}

		.query-name {
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			// line-height: 18px;

			color: var(--bg-sakura-400);

			border: 1px solid rgba(242, 71, 105, 0.2);
			background: rgba(242, 71, 105, 0.1);

			&:hover {
				border: 1px solid rgba(242, 71, 105, 0.4);
				color: var(--bg-sakura-400);
			}
		}

		.formula-name {
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			// line-height: 18px;

			color: var(--bg-sienna-400);

			border: 1px solid rgba(189, 153, 121, 0.2);
			background: rgba(189, 153, 121, 0.1);

			&:hover {
				border: 1px solid rgba(189, 153, 121, 0.4);
				color: var(--bg-sienna-400);
			}
		}
	}
}
