.onboarding-module-steps {
	display: flex;
	flex-direction: row;
	height: 100%;

	.step-data {
		height: 90%;
		overflow: auto;
		padding: 16px 0;

		.step-content {
			.step-name {
				margin: 16px 0;
			}
		}
	}

	.step-actions {
		height: 10%;
	}
}

.steps-container {
	width: 20%;
	height: 100%;
}

.selected-step-content {
	width: 80%;
	height: 100%;

	.module-container {
		width: 80%;
	}
}

.selected-step-pills {
	display: flex;
	margin-bottom: 24px;

	.entity {
		display: flex;
		flex-direction: column;
		margin-right: 48px;

		.entity-name {
			margin-bottom: 12px;
		}

		.entity-value {
			border: 1px solid darkgray;
			padding: 6px;
			min-height: 30px;
			border-radius: 3px;
			font-weight: 500;
			min-width: 120px;
			text-transform: capitalize;
		}
	}
}

.supported-languages-container {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.environment,
.supported-language {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 12px;

	min-width: 200px;
	height: 100px;
	// border: 1px solid #424242;
	border-radius: 3px;
	// color: #424242;
	text-transform: capitalize;
	text-align: center;

	cursor: pointer;

	&.selected {
		background-color: rgba(17, 26, 44, 0.5);
		border: 0.5px solid #424242;
	}

	&:hover {
		background-color: rgba(17, 26, 44, 0.5);
		border: 0.5px solid #424242;
	}

	.environment-name {
		.ant-typography {
			font-size: 12px !important;
		}
	}
}

.supported-langauge-img {
	height: 40px;
	width: 40px;
}

.selected-langauage-setup-instructions {
	padding: 24px 0;
}
