.footer-main-container {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.footer-container {
	display: inline-flex;
	height: 36px;
	padding: 12px;
	justify-content: center;
	align-items: center;
	gap: 32px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid var(--l1-border);
	background: var(--l2-background);

	width: 100%;
	max-width: 600px;
}

.footer-container .footer-content {
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer-container .footer-link {
	display: flex;
	align-items: center;
	gap: 6px;
	color: var(--muted-foreground);
}

.footer-container .footer-text {
	color: var(--muted-foreground);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.2px;
}

.footer-container .footer-dot {
	width: 4px;
	height: 4px;
	fill: var(--l1-border);
}
