.span-related-signals-drawer {
	.ant-drawer-body {
		padding: 0;
	}

	.ant-drawer-header {
		border-bottom: 1px solid var(--l1-border);
		padding: 16px 15px;
		.title {
			color: var(--l2-foreground);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: -0.07px;
		}
	}

	.ant-divider {
		margin-inline-start: 10px !important;
		margin-inline-end: 16px !important;
		height: 16px;
		border-color: var(--l1-border);
	}
	.ant-drawer-close {
		margin: 0 !important;
	}

	.span-related-signals-drawer__content {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.view-title {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.views-tabs-container {
		padding: 16px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.open-in-explorer {
			display: flex;
			align-items: center;
			height: 30px;
			border-radius: 2px;
			border: 1px solid var(--l1-border);
			background: var(--l3-background);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		}

		.ant-radio-button-wrapper {
			width: 114px;
			height: 32px;

			.view-title {
				gap: 6px;
				color: var(--l1-foreground);
				font-size: 12px;
				font-weight: 400;
				letter-spacing: -0.06px;
			}
		}
	}

	.span-related-signals-drawer__applied-filters {
		padding: 11px;
		margin-inline: 16px;
		border: 1px solid var(--l1-border);
		border-radius: 3px;
	}

	.span-related-signals-drawer__filters-list {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	.span-related-signals-drawer__filter-tag {
		padding: 2px 6px;
		border-radius: 2px;
		background: var(--l3-background);
		cursor: default;

		.ant-typography {
			color: var(--l2-foreground);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: -0.07px;
		}
	}

	.infra-metrics-container {
		padding-inline: 16px;
		.infra-metrics-card {
			border: 1px solid var(--l1-border);
		}
	}
}
