.span-list {
	height: 100%;
	display: flex;
	flex-direction: column;

	&__header {
		padding: 16px;
		border-bottom: 1px solid var(--bg-slate-400);
	}

	&__content {
		flex: 1;
		overflow: hidden;
	}
}

.search-filters {
	display: flex;
	align-items: center;
	gap: 16px;

	&__input {
		flex: 1;
		max-width: 400px;
	}

	&__search-input {
		.ant-input-prefix {
			color: var(--text-slate-400);
		}
	}
}

.span-table {
	height: 100%;
	margin-top: 16px;

	.data-table-container {
		border: none;
	}
	.sticky-header-table-container {
		width: 100%;
	}

	[data-slot='table-cell'] {
		font-size: 13px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.service-cell-with-expand {
		display: flex;
		align-items: center;
		gap: 8px;

		.expand-button {
			min-width: auto;
			padding: 0;
			height: auto;
			border: none;
			box-shadow: none;
			display: flex;

			&:hover {
				background: var(--bg-slate-100);
			}
		}
	}

	.service-cell-child {
		padding-left: 32px;
	}

	[data-slot='table-header'] {
		&,
		[data-slot='table-row']:hover {
			background: transparent;
		}
	}
	thead > [data-slot='table-row'] {
		border-bottom: none !important;
		[data-slot='table-head'] {
			color: var(--bg-vanilla-400);
			font-size: 11px;
			font-style: normal;
			font-weight: 600;
			line-height: 18px; /* 163.636% */
			letter-spacing: 0.44px;
			text-transform: uppercase;
		}
	}
	[data-slot='table-row'] {
		border: none !important;
		&:nth-of-type(odd) {
			background: rgba(171, 189, 255, 0.01);
		}
		&:hover {
			background: var(--bg-slate-500);
		}
	}
	[data-slot='table-head'] {
		background: var(--bg-ink-500);
	}
	[data-slot='table-head']:first-of-type {
		background: #13141a;
	}
	[data-slot='table-cell']:first-of-type {
		background: rgba(171, 189, 255, 0.04);
	}
}
