.log-field-key {
	padding-right: 5px;
	color: var(--text-vanilla-400, #c0c1c3);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
	letter-spacing: -0.07px;
}
.log-value {
	color: var(--text-vanilla-400, #c0c1c3);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
	letter-spacing: -0.07px;
}
.log-line {
	display: flex;
	overflow: hidden;
	.log-state-indicator {
		padding-left: 0;
	}
	transition: background-color 0.2s ease-in;
	&:hover {
		background-color: rgba(171, 189, 255, 0.04) !important;
	}
}

.log-selected-fields {
	display: flex;
	width: 100%;
	overflow: hidden;
	align-items: center;

	.selected-log-field-key {
		color: var(--bg-robin-400) !important;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 128.571% */
		letter-spacing: -0.07px;
	}

	.selected-log-value {
		color: var(--bg-sienna-500);
		border-radius: 2px;
		background: rgba(173, 127, 88, 0.08);
		padding: 0px 2px;
		margin-left: 7px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.07px;
		font-size: 14px;
	}

	.selected-log-kv {
		min-height: 24px;
		display: flex;
		align-items: center;
	}
}

.log-action-buttons {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	right: 0;
	cursor: pointer;
	height: 32px;
	width: 68px;
	border-radius: 2px;
	border: 1px solid var(--bg-slate-400, #1d212d);
	background: var(--bg-ink-400, #121317);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

	.context-btn {
		width: 50% !important;
	}
	.copy-link-btn {
		width: 50% !important;
		border-left: 1px solid var(--bg-slate-400, #1d212d) !important;
	}

	.ant-btn-default {
		border: none;
		box-shadow: none;
	}
}
