.drawerSection {
	composes: drawerSection from './shared.module.scss';
}

.drawerSurface {
	composes: drawerSurface from './shared.module.scss';
}

.drawerSurfaceHead {
	composes: drawerSurfaceHead from './shared.module.scss';
}

.flowRadioTitle {
	display: flex;
	gap: var(--spacing-2);
	align-items: center;
}

.flowRadioDesc {
	margin-top: var(--spacing-2);
}
