.log-detail-drawer {
	border-left: 1px solid var(--l1-border);
	background: var(--l2-background);
	box-shadow: -4px 10px 16px 2px rgba(0, 0, 0, 0.2);

	.log-detail-drawer__title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.log-detail-drawer__title-left {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.log-detail-drawer__title-right {
			display: flex;
			align-items: center;
			.ant-btn {
				display: flex;
				align-items: center;
			}
		}
	}

	.ant-drawer-header {
		padding: 8px 16px;
		border-bottom: none;

		align-items: stretch;

		border-bottom: 1px solid var(--l1-border);
		background: var(--l2-background);
	}

	.ant-drawer-close {
		margin-inline-end: 0px;
	}

	.ant-drawer-body {
		display: flex;
		flex-direction: column;
		padding: 16px;
		padding-bottom: 0;
	}

	.title {
		color: var(--l2-foreground);
		font-family: Inter;
		font-size: var(--font-size-sm);
		font-style: normal;
		font-weight: var(--font-weight-normal);
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.07px;
	}

	.radio-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: var(--padding-1);
		border: 1px solid var(--l1-border);
		background: var(--l3-background);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	}

	&-query-container {
		margin-bottom: 16px;
	}

	.log-detail-drawer__content {
		height: 100%;
	}

	.log-detail-drawer__log {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 4px;
		position: relative;

		.log-body {
			font-family: 'SF Mono';
			font-family: 'Geist Mono';

			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-normal);
			line-height: 18px;
			letter-spacing: -0.07px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: var(--l2-foreground);
			opacity: 0.6;
		}

		.log-type-indicator {
			height: 24px;
			border: 2px solid var(--l1-border);
			border-radius: 5px;
			margin-left: 0;

			&.INFO {
				border-color: var(--l1-border);
			}

			&.WARNING {
				border-color: var(--bg-amber-400);
			}

			&.ERROR {
				border-color: var(--bg-cherry-500);
			}
		}

		.log-overflow-shadow {
			background: linear-gradient(270deg, var(--card) 10.4%, transparent 100%);

			width: 196px;
			position: absolute;
			right: 0;
		}
	}

	.tabs-and-search {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 16px 0;

		.action-btn {
			border-radius: 2px;
			border: 1px solid var(--l1-border);
			background: var(--l3-background);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.log-detail-drawer__actions {
			display: flex;
			gap: 4px;
		}
	}

	.views-tabs {
		color: var(--l2-foreground);

		.view-title {
			display: flex;
			gap: var(--margin-2);
			align-items: center;
			justify-content: center;
			font-size: var(--font-size-xs);
			font-style: normal;
			font-weight: var(--font-weight-normal);
		}

		.tab {
			border: 1px solid var(--l1-border);
			width: 114px;
		}

		.tab::before {
			background: var(--l1-border);
		}

		.selected_view {
			background: var(--l3-background);
			color: var(--l1-foreground);
			border: 1px solid var(--l1-border);
		}

		.selected_view::before {
			background: var(--l1-border);
		}
	}

	.search-input {
		margin-top: var(--margin-2);
		border: 1px solid var(--l1-border);
		height: 46px;
		padding: var(--padding-1) var(--padding-2);
		box-shadow: none;
		border-radius: 0;
	}

	.ant-drawer-close {
		padding: 0px;
	}
	.log-detail-drawer__footer-hint {
		position: sticky;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 8px 16px;
		text-align: left;
		color: var(--l3-foreground);
		background: var(--l2-background);
		z-index: 10;

		.log-detail-drawer__footer-hint-content {
			display: flex;
			align-items: center;
			gap: 4px;
		}

		.log-detail-drawer__footer-hint-icon {
			display: inline;
			vertical-align: middle;
			color: var(--l3-foreground);
		}

		.log-detail-drawer__footer-hint-text {
			font-size: 13px;
			margin: 0;
		}
	}
	.log-arrows {
		display: flex;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 2px 6px;
		align-items: center;
		margin-left: 8px;
	}

	.log-arrow-btn {
		padding: 0;
		min-width: 28px;
		height: 28px;
		border-radius: 4px;
		background: var(--l2-background);
		color: var(--l2-foreground);
		border: 1px solid var(--l1-border);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.2s ease-in-out;
	}

	.log-arrow-btn-up,
	.log-arrow-btn-down {
		background: var(--l2-background);
	}

	.log-arrow-btn:active,
	.log-arrow-btn:focus {
		background: var(--l3-background);
		color: var(--l1-foreground);
	}

	.log-arrow-btn[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
		background: var(--l1-background);
		color: var(--l3-foreground);

		.log-arrow-btn:hover:not([disabled]) {
			background: var(--l3-background);
			color: var(--l1-foreground);
		}
	}
}
