.mainContainer {
	height: 100%;
	width: 100%;
	padding: 48px;
	margin: 0 auto;
}

.stepContainer {
	display: flex;
	justify-content: space-between;
	position: relative;

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	background: #f3e7f3;
	// 	height: 4px;
	// 	width: 100%;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	left: 0;
	// }

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	background: #111a2c;
	// 	height: 4px;
	// 	// width: ${({ width }) => width};
	// 	top: 50%;
	// 	transition: 0.4s ease;
	// 	transform: translateY(-50%);
	// 	left: 0;
	// }
}

.stepWrapper {
	position: relative;
	z-index: 1;

	display: flex;
	gap: 16px;
	align-items: center;

	// padding: 12px;
	// background-color: rgb(245, 245, 245);
}

.stepStyle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	// border: 3px solid
	// 	${({ step }) => (step === 'completed' ? '#4A154B' : '#F3E7F3')};
	transition: 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stepCount {
	font-size: 16px;
	color: #111a2c;
	@media (max-width: 600px) {
		font-size: 16px;
	}
}

.stepsLabelContainer {
	// color: #111a2c;
	// background-color: rgb(255, 255, 255);
	// position: absolute;
	// left: 48px;
	// left: 50%;
	// transform: translate(-50%, -50%);
}

.stepTitle {
	font-size: 16px;
	color: #f3e7f3;
	@media (max-width: 600px) {
		font-size: 16px;
	}
}

.actionButtonsContainer {
	display: flex;
	justify-content: space-between;

	padding: 48px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
}

.buttonStyle {
	border-radius: 4px;
	border: 0;
	background: #111a2c;
	color: #ffffff;
	cursor: pointer;
	padding: 8px;
	width: 90px;
	:active {
		transform: scale(0.98);
	}
	:disabled {
		background: #f3e7f3;
		color: #000000;
		cursor: not-allowed;
	}
}

.checkMark {
	font-size: 24px;
	color: #111a2c;
	-ms-transform: scaleX(-1) rotate(-48deg); /* IE 9 */
	-webkit-transform: scaleX(-1) rotate(-48deg); /* Chrome, Safari, Opera */
	transform: scaleX(-1) rotate(-48deg);
}
