.time-options-container {
	.time-options-item {
		margin: 2px 0;
		padding: 8px;
		border-radius: 2px;

		&.active {
			background-color: rgba($color: #000000, $alpha: 0.2);

			&:hover {
				cursor: pointer;
				background-color: rgba($color: #000000, $alpha: 0.3);
			}
		}

		&:hover {
			cursor: pointer;
			background-color: rgba($color: #000000, $alpha: 0.3);
		}
	}
}

.timeSelection-input {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 4px 8px;
	padding-left: 0px !important;

	// input::placeholder {
	// 	color: white; /* Set your desired placeholder text color */
	// }
}

.valid-format-error {
	margin-top: 4px;
	color: var(--bg-cherry-400, #ea6d71);
}
