.traces-table {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .resize-table {
        height: calc(90% - 10px);
        overflow: scroll;
        
        .ant-table-wrapper .ant-table-tbody >tr >td {
            border: 0.5px solid rgba(255, 255, 255, 0.06);
            background-color: #141414;
            color: var(--colorText, rgba(255, 255, 255, 0.85));
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
            padding: 8px;
            font-family: Open Sans;
        }
        .ant-table-wrapper .ant-table-thead > tr > th {
            font-family: Open Sans;
            background-color: #434343;
            border: 0.5px solid rgba(255, 255, 255, 0.06);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0.5px;
            padding: 8px;
        }
    }

    .controller {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }
}

.lightMode {
    .traces-table {
        .resize-table {
            .ant-table-wrapper .ant-table-tbody >tr >td {
                background-color: var(--bg-vanilla-100);
                color: var(--bg-ink-500);
                border-color: rgba(0, 0, 0, 0.06);
            }
            .ant-table-wrapper .ant-table-thead > tr > th {
                background-color: var(--bg-vanilla-300);
                color: var(--bg-ink-500); 
                border-color: rgba(0, 0, 0, 0.06);
            }
        }
    }
}