.traces-table {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .resize-table {
        height: calc(90% - 10px);
        overflow: scroll;

        .ant-table-wrapper .ant-table-tbody >tr >td {
            border: 0.5px solid #1d1d1d;
            background-color: #000000;
            font-size: 13px;
        }
        .ant-table-wrapper .ant-table-thead > tr > th {
            background-color: #1d1d1d;
            border: none;
        }

        
    }

    .controller {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }
}