.meter-explorer-container {
	display: flex;
	flex-direction: row;

	.meter-explorer-quick-filters-section {
		width: 280px;
		border-right: 1px solid var(--l1-border);

		&.hidden {
			display: none;
		}
	}

	.meter-explorer-content-section {
		width: 100%;

		// Meant to fix the query builder colors
		--input-background: var(--l2-background);
		--input-hover-background: var(--l2-background);
		--input-focus-background: var(--l2-background);
		--input-border-color: var(--l2-border);
		--input-hover-border-color: var(--internal-ant-border-color-hover);
		--input-focus-border-color: var(--internal-ant-border-color-hover);

		.explore-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 4px 0;
			padding: 0 8px;

			.explore-header-left-actions {
				display: flex;
				align-items: flex-start;
				gap: 10px;
			}

			.explore-header-right-actions {
				display: flex;
				align-items: flex-end;
				gap: 10px;
			}
		}

		.query-section {
			max-height: 450px;
			overflow-y: auto;

			.rc-virtual-list-holder {
				height: 150px;
			}
		}

		.explore-tabs {
			margin: 15px 0;
			.tab {
				background-color: var(--l1-background);
				border-color: var(--l1-border);
				width: 180px;
				padding: 16px 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.tab:first-of-type {
				border-top-left-radius: 2px;
			}

			.tab:last-of-type {
				border-top-right-radius: 2px;
			}

			.selected-view {
				background: var(--l1-background);
			}
		}

		.explore-content {
			.ant-space {
				margin-top: 10px;
				margin-bottom: 20px;
			}
		}
	}

	&.quick-filters-open {
		.meter-explorer-content-section {
			width: calc(100% - 280px);
		}
	}

	padding-bottom: 80px;
}

.dashboards-and-alerts-popover-container {
	display: flex;
	gap: 16px;

	.dashboards-and-alerts-popover {
		border-radius: 20px;
		padding: 4px 8px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;

		&:hover {
			opacity: 0.8;
		}
	}

	.dashboards-popover {
		border: 1px solid var(--bg-sienna-500);
		.ant-typography {
			color: var(--bg-sienna-500);
		}
	}

	.alerts-popover {
		border: 1px solid var(--bg-sakura-500);
		.ant-typography {
			color: var(--bg-sakura-500);
		}
	}
}

.no-data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 16px;

	.no-data-text {
		color: var(--muted-foreground);
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}
}
