
# Sentry Config File
.env.sentry-build-plugin
.qodo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/test-results/
/playwright/blob-report/
/playwright/playwright-report/

e2e/test-plan/alerts/
e2e/test-plan/dashboards/
e2e/test-plan/exceptions/
e2e/test-plan/external-apis/
e2e/test-plan/help-support/
e2e/test-plan/infrastructure/
e2e/test-plan/logs/
e2e/test-plan/messaging-queues/
e2e/test-plan/metrics/
e2e/test-plan/navigation/
e2e/test-plan/onboarding/
e2e/test-plan/saved-views/
e2e/test-plan/service-map/
e2e/test-plan/services/
e2e/test-plan/traces/
e2e/test-plan/user-preferences/