{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2022",
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "module": {
    "type": "es6"
  }
}
