.logs-table {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	.resize-table {
		height: calc(100% - 70px);
		overflow: scroll;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 0.2rem;
			height: 0.2rem;
		}

		.ant-table-wrapper .ant-table-tbody > tr > td {
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
			font-family: Inter;

			.ant-typography {
				background-color: transparent;
				color: var(--l1-foreground);
				margin-bottom: 0;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				font-family: Inter;
			}
			padding: 14px 8px;
			border: none;
			cursor: pointer;
		}

		.ant-table-wrapper .ant-table-header {
			border-bottom: 0.5px solid var(--l1-border);
		}

		.ant-table-wrapper .ant-table-thead > tr > th {
			font-family: Inter;
			color: var(--l1-foreground);
			background-color: transparent;
			border: none;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0.5px;
			padding: 8px;
		}

		.ant-table-wrapper .ant-table-thead > tr > th::before {
			display: none;
		}
	}

	.controller {
		display: flex;
		align-items: center;
		height: 40px;
		justify-content: end;
		padding: 0 8px;
		margin: 12px 0 2px;
	}
}
