.context-log-renderer {
    .virtuoso-list {
        overflow-y: hidden !important;
		&::-webkit-scrollbar {
			width: 0.3rem;
			height: 0.3rem;
		}

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bg-slate-300);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--bg-slate-200);
        }
        
        /* Adjust width to fit content of the third descendant inside virtuoso */
        .ant-row {
            width: fit-content;
        }
	}
}