import { render, screen } from 'tests/test-utils';

import __Pascal__ from '../index';

describe('__Pascal__', () => {
	it('renders the page', () => {
		render(<__Pascal__ />);

		expect(screen.getByTestId('__kebab__-page')).toBeInTheDocument();
	});
});
