node_modules
yarn.lock

deploy/docker/environment_tiny/common_test
frontend/node_modules
frontend/.pnp
*.pnp.js

# testing
frontend/coverage

# production
frontend/build
frontend/.vscode
frontend/.yarnclean
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/src/constants/env.ts
frontend/cypress/**/*.mp4

# env file for cypress
frontend/cypress.env.json

.idea

**/.vscode
*.tgz
**/build
**/storage
**/locust-scripts/__pycache__/

frontend/*.env
