.alert-popover-trigger-action {
	cursor: pointer;
}

.alert-history-popover {
	.ant-popover-inner {
		border: 1px solid var(--l1-border);
		background: var(--l1-background) !important;
	}
	.ant-popover-arrow {
		&::before {
			background: var(--l1-background);
		}
	}
}
