@use '../../../../../../styles/scrollbar' as *;

.body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-height: 0;
	overflow-y: auto;
	@include custom-scrollbar;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	width: 100%;
}
