.explorer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    min-width: 200px;
    border-radius: 2px;
    border: 1px solid var(--colorBorder, rgba(118, 136, 201, 0.12));
    background: var(--bg-slate-500);
    cursor: unset;

    .explorer-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: Inter;
        font-size: 12px;
        cursor: grab;
    }
    
    .lucide-trash2 {
        cursor: pointer !important;
    }

}