.explorer-columns-renderer {
	margin-top: 10px;
	margin-bottom: 30px;

	.title {
		display: flex;
		align-items: center;
		gap: 4px;
		padding-left: 16px;
	}

	.ant-typography {
		color: var(rgba(255, 255, 255, 0.85));
		font-family: 'Inter';
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0.5px;
	}

	.ant-divider {
		margin: 8px 0 !important;
		border: 0.5px solid var(--l1-border);
	}

	.explorer-columns-contents {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 16px;
		padding-right: 8px;

		.explorer-columns {
			display: flex;
			align-items: center;
			gap: 12px;
			overflow-x: scroll;
			min-width: 90%;

			.explorer-columns-list {
				display: flex !important;
			}

			.explorer-column-card {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 4px;
				min-width: 200px;
				border-radius: 2px;
				border: 1px solid
					var(
						--colorBorder,
						color-mix(in srgb, var(--bg-robin-300) 12%, transparent)
					);
				background: var(--l1-border);
				cursor: unset;

				.explorer-column-title {
					display: flex;
					align-items: center;
					gap: 8px;
					font-family: Inter;
					font-size: 12px;
					cursor: grab;
				}

				.lucide-trash2 {
					cursor: pointer !important;
				}
			}
		}

		.explorer-columns::-webkit-scrollbar {
			height: 0px; /* Height of the scrollbar */
		}

		.action-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			padding: 0px 16px;
			border-radius: 2px;
			background: var(--bg-robin-400);
		}
	}
}

.explorer-columns-search {
	border: 1px solid color-mix(in srgb, var(--bg-robin-300) 12%, transparent);
	border-radius: 6px;
	padding: 0px;
	background: var(--l1-background);
	> input {
		height: 32px;
		padding: 0 6px;
	}
}

.explorer-columns-dropdown {
	height: 200px;
	background-color: var(--l1-border);
	overflow: hidden !important;
	.ant-dropdown-menu {
		padding: 0;

		.ant-dropdown-menu-item {
			padding: 4px;
			.ant-checkbox-wrapper {
				padding: 2px 8px !important;
			}

			.attribute-columns {
				display: flex;
				flex-direction: column;
				height: 160px;
				overflow: scroll;
			}

			.attribute-columns::-webkit-scrollbar {
				width: 3px; /* Width of the scrollbar */
			}

			.attribute-columns::-webkit-scrollbar-track {
				background: var(--l1-border); /* Color of the track */
			}

			.attribute-columns::-webkit-scrollbar-thumb {
				background: var(--l2-foreground); /* Color of the thumb */
				border-radius: 4px; /* Roundness of the thumb */
			}

			.attribute-columns::-webkit-scrollbar-thumb:hover {
				background: var(--l1-border); /* Color of the thumb on hover */
			}
		}
	}
}
