.explorer-columns-renderer {
    margin-top: 10px;
    .ant-typography {
        color: var(rgba(255, 255, 255, 0.85));
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        letter-spacing: 0.5px;
    }

    .ant-divider {
        margin: 14px 0 !important;
    }

    .explorer-columns-contents {
        display: flex;
        justify-content: space-between;

        .explorer-columns {
            display: flex;
            align-items: center;
            gap: 12px;
            overflow-x: scroll;
            min-width: 90%;

            .explorer-columns-list {
                display: flex !important;
            }
            
            .explorer-column-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px;
                min-width: 253px;
                border-radius: 6px;
                border: 1px solid var(--colorBorder, rgba(118, 136, 201, 0.12));
                background: var(--colorBgElevated, #1F1F1F);

                .explorer-column-title {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

            }
        }


        .action-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 46px;
            padding: 0px 16px;
            border-radius: 6px;
            background: var(--bg-blue-600, #1C64F2);
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
        }
    }
}

.explorer-columns-search {
    border: 1px solid rgba(118, 136, 201, 0.12);
    border-radius: 6px;
    padding: 0px;
    background:#141414;
    > input {
        height: 32px;
        padding: 0 6px;
    }
}

.explorer-columns-dropdown {
    .ant-dropdown-menu {
        background-color: #141414;
        padding: 0;

        .ant-dropdown-menu-item {
            padding: 4px;
            .ant-checkbox-wrapper {
                padding: 0 8px !important;
            }
        }
    }
}
