.key-value-label {
	display: flex;
	width: fit-content;
	border: 1px solid var(--l2-border);
	border-radius: 2px;

	&--row {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&--column {
		flex-direction: column;
		border: none;
		border-radius: 0;
		gap: 4px;
		padding: 8px;

		.key-value-label__key {
			background: transparent;
			border-radius: 0;
			padding: 0;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.48px;
			line-height: 20px;
		}

		.key-value-label__value {
			background: transparent;
			padding: 0;
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__key,
	&__value {
		padding: 6px 8px;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.07px;
	}

	&__key {
		background: var(--l2-background);
		border-radius: 2px 0 0 2px;
		&,
		&:hover {
			color: var(--l2-foreground);
		}
	}
	&__key {
		background: var(--l2-background);
		border-radius: 2px 0 0 2px;
	}
	&__value {
		background: var(--l3-background);
		color: var(--foreground);
	}
}
