.logs-preview-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
}

.logs-preview-list-item {
  position: relative;
  width: 100%;
  max-height: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
}

.logs-preview-list-item:not(:first-child) {
  border-top: 1px solid rgba(253, 253, 253, 0.12);
}

.logs-preview-list-item-timestamp {
  margin-right: 0.75rem;
  white-space: nowrap;
}

.logs-preview-list-item-body {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logs-preview-list-item-expand{
  margin-left: 0.75rem;
  color: #1677ff;
  padding: 0.25rem 0.375rem;
  cursor: pointer;
  font-size: 12px;
}
