.funnel-configuration {
	&__steps-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&.funnel-details-page {
			height: calc(
				100vh - 170px
			); // 64px bottom bar + 61px configuration header + 45px page navbar
			overflow: auto;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 16px;
		border-bottom: 1px solid var(--bg-slate-400);
		&-right {
			&,
			& > div {
				display: flex;
				align-items: center;
			}
			gap: 12px;
			.ant-divider-vertical {
				margin: 0;
			}
			.funnel-configuration__rename-btn {
				padding: 4px;
				width: 24px;
				height: 24px;
				justify-content: center;
			}
			.copy-to-clipboard {
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: -0.06px;
				width: 90px;
			}
		}
	}
	&__description-wrapper {
		padding: 16px 16px 0 16px;
		.funnel {
			&-title {
				color: var(--bg-vanilla-500);
				font-size: 16px;
				font-weight: 500;
				line-height: 24px; /* 150% */
				letter-spacing: -0.08px;
			}
			&-description {
				color: var(--bg-vanilla-400);
				font-size: 12px;
				line-height: 18px; /* 150% */
				letter-spacing: -0.06px;
			}
		}
	}

	&__description {
	}

	.funnel-item__action-icon {
		opacity: 1;
	}
	&__steps {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 16px;
	}
}

.lightMode {
	.funnel-configuration {
		&__header {
			border-color: var(--bg-vanilla-300);
		}
	}
}
