.inter-step-config {
	display: flex;
	align-items: center;
	gap: 6px;
	.ant-form-item {
		margin-bottom: 0;
	}
	&::before {
		content: '';
		position: absolute;
		left: 4px;
		bottom: 16px;
		transform: translateY(-50%);
		width: 12px;
		height: 12px;
		background-color: var(--l1-border);
		border-radius: 50%;
		z-index: 1;
	}
	&__label {
		color: var(--l2-foreground);
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.07px;
		flex-shrink: 0;
	}
	&__divider {
		width: 100%;
		.ant-divider {
			margin: 0;
			border-color: var(--l1-border);
		}
	}
	&__latency-options {
		flex-shrink: 0;
	}
}
