@use '/src/scss/main.scss';

.connection-status-container {
	height: calc(100vh - 420px);

	.full-docs-link {
		margin-bottom: main.$size-9;

		.header {
			display: flex;
			align-items: center;
			gap: main.$size-4;
			margin: main.$size-4 main.$size-0;

			img {
				height: main.$size-10;
			}

			h1 {
				font-size: 18px;
				display: flex;
				align-items: center;
				color: #e5e7eb;
				gap: main.$size-4;
				margin: main.$size-0;
			}
		}
	}

	.status-container {
		display: flex;
		justify-content: space-between;
		gap: main.$size-6;

		.title {
			text-transform: capitalize;
		}
	}

	.service-info,
	.language-info,
	.status-info,
	.details-info {
		display: flex;
		gap: main.$size-2;
		flex-direction: column;
	}

	.language-info {
		.language {
			text-transform: capitalize;
		}
	}

	.service-info {
		flex: 2;
	}

	.language-info {
		flex: 2;
	}

	.status-info {
		flex: 1;
	}

	.details-info {
		flex: 3;
	}

	.status {
		display: flex;
		gap: main.$size-2;

		svg {
			width: main.$size-4;
			height: main.$size-4;
		}
	}
}

$lightModeFontColor: rgb(29, 29, 29);

.lightMode {
	.connection-status-container {
		.header .title {
			color: $lightModeFontColor;

			h1 {
				color: $lightModeFontColor;
			}
		}

		.status-container {
			color: $lightModeFontColor;
		}
	}
}
