.alerts-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	min-height: 44px;
	border-top: 1px solid var(--l1-border);
	cursor: pointer;

	.alerts-section__left {
		display: flex;
		align-items: center;
		gap: 8px;

		.alerts-section__bell-icon {
			color: var(--l1-foreground);
		}

		.alerts-section__text {
			color: var(--l1-foreground);
			font-family: 'Space Mono';
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px; /* 138.462% */
			letter-spacing: 0.52px;
			text-transform: uppercase;
		}
	}

	.alerts-section__plus-icon {
		color: var(--l1-foreground);
	}
}
