.alerts-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	min-height: 44px;
	border-top: 1px solid var(--l1-border);
	cursor: pointer;

	.alerts-section__left {
		display: flex;
		align-items: center;
		gap: 8px;

		.alerts-section__bell-icon {
			color: var(--l2-foreground);
		}

		.alerts-section__text {
			color: var(--l2-foreground);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
			letter-spacing: 0.14px;
		}
	}
	.alerts-section__plus-icon {
		color: var(--l2-foreground);
	}
}
