.editRulesContainer {
	padding: 0 var(--spacing-8);
}

.editRulesContainerError {
	composes: editRulesContainer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.editRulesCard {
	width: 20rem;
	padding: 1rem;
}

.content {
	font-style: normal;
	font-weight: var(--font-weight-light, 300);
	font-size: var(--periscope-font-size-large);
	line-height: var(--line-height-20);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.btnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}
