.span-logs {
	margin-inline: 16px;
	height: calc(100% - 64px - 55px - 56px);

	&-virtuoso {
		background: rgba(171, 189, 255, 0.04);
	}
	&-list-container .logs-loading-skeleton,
	&-empty-content {
		height: 100%;
		border: 1px solid var(--bg-slate-500);
		border-top: none;
		color: var(--bg-vanilla-400);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 8px 0;
	}
}
