.noData {
	display: flex;
	gap: var(--spacing-2);
	flex-direction: column;
}

.noDataImg {
	height: 32px;
	width: 32px;
}

.noDataText {
	color: var(--l2-foreground);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: var(--font-weight-medium);
	line-height: 18px;
	letter-spacing: -0.07px;
}
