.config-connection-status-popover {
	.ant-popover-inner {
		padding: 0;
		background-color: var(--l2-background);
		border-radius: 4px;
		border: 1px solid var(--l3-background);
		padding: 8px;

		width: 240px;

		.ant-popover-content {
			padding: 0;
		}
	}

	.config-connection-status-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 8px;

		padding: 4px 8px;
		border-radius: 4px;
	}

	.config-connection-status-icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
	}

	.config-connection-status-category-display-name {
		color: var(--l2-foreground);
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 138.462% */
	}
}
