connectors:
  signozmeter:
    dimensions:
    - name: service.name
    - name: deployment.environment
    - name: host.name
    - name: signoz.workspace.key.id
    metrics_flush_interval: 1h
exporters:
  clickhouselogsexporter:
    dsn: tcp://${env:CLICKHOUSE_USER}:${env:CLICKHOUSE_PASSWORD}@${env:CLICKHOUSE_HOST}:${env:CLICKHOUSE_PORT}/${env:CLICKHOUSE_LOG_DATABASE}
    sending_queue: {}
    timeout: 45s
    use_new_schema: true
  clickhousetraces:
    datasource: tcp://${env:CLICKHOUSE_USER}:${env:CLICKHOUSE_PASSWORD}@${env:CLICKHOUSE_HOST}:${env:CLICKHOUSE_PORT}/${env:CLICKHOUSE_TRACE_DATABASE}
    low_cardinal_exception_grouping: ${env:LOW_CARDINAL_EXCEPTION_GROUPING}
    sending_queue: {}
    timeout: 45s
    use_new_schema: true
  metadataexporter:
    cache:
      provider: in_memory
    dsn: tcp://${env:CLICKHOUSE_USER}:${env:CLICKHOUSE_PASSWORD}@${env:CLICKHOUSE_HOST}:${env:CLICKHOUSE_PORT}/signoz_metadata
    enabled: true
    tenant_id: ${env:TENANT_ID}
    timeout: 45s
  signozclickhousemeter:
    dsn: tcp://${env:CLICKHOUSE_USER}:${env:CLICKHOUSE_PASSWORD}@${env:CLICKHOUSE_HOST}:${env:CLICKHOUSE_PORT}/${env:CLICKHOUSE_METER_DATABASE}
    sending_queue: {}
    timeout: 45s
  signozclickhousemetrics:
    dsn: tcp://${env:CLICKHOUSE_USER}:${env:CLICKHOUSE_PASSWORD}@${env:CLICKHOUSE_HOST}:${env:CLICKHOUSE_PORT}/${env:CLICKHOUSE_DATABASE}
    timeout: 45s
extensions:
  pprof:
    endpoint: localhost:1777
  signoz_health_check:
    endpoint: 0.0.0.0:13133
  zpages:
    endpoint: localhost:55679
processors:
  batch:
    send_batch_max_size: 25000
    send_batch_size: 20000
    timeout: 1s
  batch/meter:
    send_batch_max_size: 25000
    send_batch_size: 20000
    timeout: 1s
  memory_limiter:
    check_interval: 1s
    limit_mib: 2048
    spike_limit_mib: 128
  signozspanmetrics/delta:
    aggregation_temporality: AGGREGATION_TEMPORALITY_DELTA
    dimensions:
    - default: default
      name: service.namespace
    - default: default
      name: deployment.environment
    - name: signoz.collector.id
    - name: special.random.attribute.spiderman
    dimensions_cache_size: 100000
    latency_histogram_buckets:
    - 100us
    - 1ms
    - 2ms
    - 6ms
    - 10ms
    - 50ms
    - 100ms
    - 250ms
    - 500ms
    - 1000ms
    - 1400ms
    - 2000ms
    - 5s
    - 10s
    - 20s
    - 40s
    - 60s
    metrics_exporter: signozclickhousemetrics
receivers:
  httplogreceiver/heroku:
    endpoint: 0.0.0.0:8081
    source: heroku
  httplogreceiver/json:
    endpoint: 0.0.0.0:8082
    source: json
  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_http:
        endpoint: 0.0.0.0:14268
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
        max_recv_msg_size_mib: 16
      http:
        endpoint: 0.0.0.0:4318
  signozkafkareceiver/logs:
    brokers:
    - redpanda-0.redpanda.saas-system.svc.cluster.local:9093
    - redpanda-1.redpanda.saas-system.svc.cluster.local:9093
    - redpanda-2.redpanda.saas-system.svc.cluster.local:9093
    group_id: ${env:TENANT_ID}-otel-collector
    initial_offset: earliest
    message_marking:
      after: true
      on_error: false
    sarama_consumer_config:
      fetch_max_bytes: 209715200
      max_processing_time: 15s
    topic: ${env:TENANT_ID}_logs
  signozkafkareceiver/metrics:
    brokers:
    - redpanda-0.redpanda.saas-system.svc.cluster.local:9093
    - redpanda-1.redpanda.saas-system.svc.cluster.local:9093
    - redpanda-2.redpanda.saas-system.svc.cluster.local:9093
    group_id: ${env:TENANT_ID}-otel-collector
    initial_offset: earliest
    message_marking:
      after: true
      on_error: false
    sarama_consumer_config:
      fetch_max_bytes: 209715200
      max_processing_time: 15s
    topic: ${env:TENANT_ID}_metrics
  signozkafkareceiver/traces:
    brokers:
    - redpanda-0.redpanda.saas-system.svc.cluster.local:9093
    - redpanda-1.redpanda.saas-system.svc.cluster.local:9093
    - redpanda-2.redpanda.saas-system.svc.cluster.local:9093
    group_id: ${env:TENANT_ID}-otel-collector
    initial_offset: earliest
    message_marking:
      after: true
      on_error: false
    sarama_consumer_config:
      fetch_max_bytes: 209715200
      max_processing_time: 15s
    topic: ${env:TENANT_ID}_traces
service:
  extensions:
  - signoz_health_check
  - zpages
  - pprof
  pipelines:
    logs:
      exporters:
      - clickhouselogsexporter
      - metadataexporter
      - signozmeter
      processors:
      - memory_limiter
      - batch
      receivers:
      - otlp
    metrics:
      exporters:
      - metadataexporter
      - signozclickhousemetrics
      - signozmeter
      processors:
      - memory_limiter
      - batch
      receivers:
      - otlp
    metrics/meter:
      exporters:
      - signozclickhousemeter
      processors:
      - batch/meter
      receivers:
      - signozmeter
    traces:
      exporters:
      - clickhousetraces
      - metadataexporter
      - signozmeter
      processors:
      - memory_limiter
      - signozspanmetrics/delta
      - batch
      receivers:
      - otlp
  telemetry:
    logs:
      encoding: json
    metrics:
      readers:
      - pull:
          exporter:
            prometheus:
              host: 0.0.0.0
              port: 8888