.infrastructure-monitoring-module-container {
	padding: $size-12 $size-0;

	.module-header {
		h1 {
			font-size: $size-6;
			font-weight: $font-weight-medium;
		}

		h4 {
			font-size: 14px;
			font-weight: $font-weight-light;
		}
	}

	.content-container {
		.heading {
			.title {
				a {
					color: rgb(232, 112, 64);
				}
			}
		}

		.subheading {
			display: flex;
			flex-direction: column;
			gap: $size-3;
			margin-bottom: $size-4;

			.recevier-types {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.header {
		display: flex;
		gap: $size-4;
		justify-content: flex-start;
		align-items: center;
		margin: $size-4 $size-0;
	}
}