.all-errors-page {
	display: flex;
	height: 100%;
	.all-errors-quick-filter-section {
		width: 0%;
		flex-shrink: 0;
		color: var(--bg-vanilla-100);
	}

	.all-errors-right-section {
		padding: 0;
	}
	
	&.filter-visible {
		.all-errors-quick-filter-section {
			width: 260px;
		}

		.all-errors-right-section {
			padding: 0 10px;
			width: calc(100% - 260px);
		}
	}
}
