.rename-alert {
	.ant-modal-content {
		width: 384px;
		flex-shrink: 0;
		border-radius: 4px;
		border: 1px solid var(--l1-border);
		background: var(--l2-background);
		box-shadow: 0px -4px 16px 2px rgba(0, 0, 0, 0.2);
		padding: 0px;

		.ant-modal-header {
			height: 52px;
			padding: 16px;
			background: var(--l2-background);
			border-bottom: 1px solid var(--l1-border);
			margin-bottom: 0px;
			.ant-modal-title {
				color: var(--l1-foreground);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				width: 349px;
				height: 20px;
			}
		}

		.ant-modal-body {
			padding: 16px;

			.alert-content {
				display: flex;
				flex-direction: column;
				gap: 8px;

				.name-text {
					color: var(--l1-foreground);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px; /* 142.857% */
				}

				.alert-name-input {
					display: flex;
					padding: 6px 6px 6px 8px;
					align-items: center;
					gap: 4px;
					align-self: stretch;
					border-radius: 0px 2px 2px 0px;
					border: 1px solid var(--l1-border);
					background: var(--l2-background);
				}
			}
		}

		.ant-modal-footer {
			padding: 16px;
			margin-top: 0px;
			.alert-rename {
				display: flex;
				flex-direction: row-reverse;
				gap: 12px;

				.cancel-btn {
					display: flex;
					padding: 4px 8px;
					justify-content: center;
					align-items: center;
					gap: 4px;
					border-radius: 2px;
					background: var(--l1-background);

					.ant-btn-icon {
						margin-inline-end: 0px;
					}
				}

				.rename-btn {
					display: flex;
					align-items: center;
					display: flex;
					padding: 4px 8px;
					justify-content: center;
					align-items: center;
					gap: 4px;
					border-radius: 2px;
					background: var(--primary-background);

					.ant-btn-icon {
						margin-inline-end: 0px;
					}
				}
			}
		}
	}
}
