# Copy this to .env and fill in your values

# Base URL for the application
SIGNOZ_E2E_BASE_URL=https://app.us.staging.signoz.cloud

# Environment type - local/deployed
SIGNOZ_E2E_ENV_TYPE=deployed

# Test credentials
SIGNOZ_E2E_USERNAME=
SIGNOZ_E2E_PASSWORD=

# Role of the user - Admin/Editor/Viewer
SIGNOZ_USER_ROLE=