.flamegraph-canvas {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 15px;
}

.flamegraph-canvas__viewport {
	flex: 1;
	overflow: hidden;
	position: relative;
}

.flamegraph-canvas__main {
	display: block;
	width: 100%;
	cursor: grab;
}

.flamegraph-canvas__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}
