.integrations-container {
	margin-top: 24px;
	display: flex;
	justify-content: center;
	width: 100%;

	.integrations-content {
		width: calc(100% - 30px);
		max-width: 736px;

		.integrations-header {
			.title {
				color: var(--bg-vanilla-100);
				font-size: var(--font-size-lg);
				font-style: normal;
				line-height: 28px; /* 155.556% */
				letter-spacing: -0.09px;
				font-family: Inter;
				font-weight: 500;
			}

			.subtitle {
				color: var(--bg-vanilla-400);
				font-size: var(--font-size-sm);
				font-style: normal;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
				font-family: Inter;
				font-weight: 400;
			}

			.integrations-search-input {
				margin-top: 1rem;
				border-radius: 2px;
				border: 1px solid var(--bg-slate-400);
				background: var(--bg-ink-300);

				.ant-input {
					background-color: unset;
				}
			}
		}

		.integrations-list {
			margin-top: 16px;

			.ant-list-items {
				gap: 16px;
				display: flex;
				flex-direction: column;
			}

			.integrations-list-item {
				display: flex;
				gap: 10px;
				padding: 16px;
				border-radius: 6px;
				border: 1px solid var(--bg-slate-500);
				background: var(--bg-ink-400);
				cursor: pointer;

				.list-item-image-container {
					height: 40px;
					width: 40px;
					flex-shrink: 0;
					border-radius: 2px;
					border: 1px solid var(--bg-ink-50);
					background: var(--bg-ink-300);
					display: flex;
					align-items: center;
					justify-content: center;

					.list-item-image {
						height: 24px;
						width: 24px;
					}
				}

				.list-item-details {
					display: flex;
					flex-direction: column;

					.heading {
						color: var(--bg-vanilla-100);
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 20px; /* 142.857% */
						letter-spacing: -0.07px;
						margin-bottom: 8px;
					}

					.description {
						color: var(--bg-vanilla-400);
						font-family: Inter;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 150% */
					}
				}

				.configure-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					align-self: flex-start;
					gap: 2px;
					flex-shrink: 0;
					width: 78px;
					height: 24px;
					padding: 6px 1px;
					border-radius: 2px;
					border: 1px solid #303540;
					background: var(--bg-ink-200);
					box-shadow: none;
					color: var(--bg-vanilla-400);
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 10px; /* 83.333% */
					letter-spacing: 0.12px;
				}
			}
		}
	}
}
