.pageError {
	padding: var(--padding-3) var(--padding-4);
	border-radius: var(--radius-2);
	background: var(--callout-error-background);
	color: var(--callout-error-title);
	font-size: var(--periscope-font-size-base);
}

.pageFooter {
	margin-top: var(--spacing-8);
	font-size: var(--font-size-xs);
	color: var(--l3-foreground);
}
