.pageError {
	padding: var(--padding-3) var(--padding-4);
	border-radius: var(--radius-2);
	background: var(--callout-error-background);
	color: var(--callout-error-title);
	font-size: var(--periscope-font-size-base);
}
