.licenses-page {
	max-height: 100vh;
	overflow: hidden;

	.licenses-page-header {
		border-bottom: 1px solid var(--l1-border);
		background: color-mix(in srgb, var(--background) 70%, transparent);
		backdrop-filter: blur(20px);

		.licenses-page-header-title {
			color: var(--l1-foreground);
			text-align: center;
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			line-height: 14px;
			letter-spacing: 0.4px;

			display: flex;
			align-items: center;
			gap: 8px;
			padding: 16px;
		}
	}

	.licenses-page-content-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		.licenses-page-content {
			flex: 1;
			height: calc(100vh - 48px);
			background: var(--l1-background);
			padding: 10px 8px;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 0.3rem;
				height: 0.3rem;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: var(--l3-background);
			}

			&::-webkit-scrollbar-thumb:hover {
				background: var(--l3-background);
			}
		}
	}
}

.lightMode {
	.licenses-page {
		.licenses-page-header {
			border-bottom: 1px solid var(--l1-border);
			background: var(--card);
			backdrop-filter: blur(20px);

			.licenses-page-header-title {
				color: var(--l1-foreground);

				background: var(--l1-background);
				border-right: 1px solid var(--l1-border);
			}
		}

		.licenses-page-content-container {
			.licenses-page-content {
				background: var(--l1-background);

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: var(--l3-background);
				}

				&::-webkit-scrollbar-thumb:hover {
					background: var(--l3-background);
				}
			}
		}
	}
}
