.logs-module-container {
	flex: 1;
	min-height: 0;
	display: flex;
	flex-direction: column;

	.ant-tabs {
		flex: 1;
		min-height: 0;
		display: flex;
		flex-direction: column;
	}

	.ant-tabs-nav {
		padding: 0 16px;
		margin-bottom: 0px;

		&::before {
			border-bottom: 1px solid var(--l1-border) !important;
		}
	}

	.ant-tabs-content-holder {
		display: flex;
		min-height: 0;

		.ant-tabs-content {
			flex: 1;
			min-height: 0;
			display: flex;
			flex-direction: column;

			.ant-tabs-tabpane {
				flex: 1;
				min-height: 0;
				display: flex;
				flex-direction: column;
			}
		}
	}

	.tab-item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
}
