.settings-tabs {
	.ant-tabs-nav-list {
		height: 32px;
		flex-shrink: 0;
		border-radius: 2px;
		border: 1px solid var(--bg-slate-400);
		background: var(--bg-ink-400);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		transition: opacity 0.1s !important;

		.ant-tabs-tab + .ant-tabs-tab {
			margin: 0px;
		}

		.ant-tabs-tab:not(:last-child) {
			border-right: 1px solid var(--bg-slate-400) !important;
		}

		.overview-btn {
			width: 114px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.variables-btn {
			width: 114px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.public-dashboard-btn {
			width: 150px;
			display: flex;
			align-items: center;
			justify-content: center;

			&.disabled-btn {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}

		.ant-tabs-ink-bar {
			display: none;
		}

		.ant-tabs-tab-active {
			.overview-btn {
				border-radius: 2px 0px 0px 2px;
				background: var(--bg-slate-400);
			}

			.variables-btn {
				border-radius: 2px 0px 0px 2px;
				background: var(--bg-slate-400);
			}

			.public-dashboard-btn {
				border-radius: 2px 0px 0px 2px;
				background: var(--bg-slate-400);
			}
		}
	}

	.ant-tabs-nav::before {
		border-bottom: none;
	}
}

.lightMode {
	.settings-tabs {
		.ant-tabs-nav-list {
			border: 1px solid var(--bg-vanilla-300);
			background: var(--bg-vanilla-100);

			.ant-tabs-tab-active {
				.overview-btn {
					background: var(--bg-vanilla-300);
				}

				.variables-btn {
					background: var(--bg-vanilla-300);
				}

				.public-dashboard-btn {
					background: var(--bg-vanilla-300);
				}
			}
		}
	}
}
