.hero-section {
	&__actions {
		margin-top: 12px;

		&-with-account {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			border-radius: 4px;
			border: 1px solid var(--l3-background);
			background: var(--l1-background);

			&-selector-container {
				display: flex;
				flex-direction: row;
				align-items: center;

				.account-selector-label {
					color: var(--bg-vanilla-400);
					font-size: 12px;
					font-weight: 400;
					line-height: 16px;
					padding: 8px 16px;
				}

				.account-selector {
					.ant-select {
						background-color: transparent !important;
						border: none !important;
						box-shadow: none !important;

						.ant-select-selector {
							background: transparent !important;
							border: none !important;
							box-shadow: none !important;
						}
					}
				}
			}
		}
	}

	&__input-skeleton {
		width: 300px;
	}

	&__new-account-button-skeleton {
		width: 180px;
		margin-right: 8px;
	}

	&__account-settings-button-skeleton {
		width: 140px;
	}

	&__action-buttons {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__action-button {
		font-family: 'Inter';
		border-radius: 2px;
		cursor: pointer;
		font-size: 12px;
		font-weight: 500;
		line-height: 16px;
		padding: 8px 17px;

		&.primary {
			background: var(--bg-robin-500);
			border: none;
			color: var(--bg-vanilla-100);
		}

		&.secondary {
			display: flex;
			align-items: center;
			border: 1px solid var(--bg-ink-300);
			color: var(--bg-vanilla-100);
			border-radius: 2px;
			background: var(--bg-slate-400);
			box-shadow: none;
		}
	}
}

.lightMode {
	.hero-section__action-button {
		&.primary {
			background: var(--bg-robin-500);
			color: var(--bg-vanilla-100);
		}

		&.secondary {
			border-color: var(--bg-vanilla-300);
			color: var(--bg-ink-400);
			background: var(--bg-vanilla-100);

			&:hover {
				border-color: var(--bg-vanilla-400);
				color: var(--bg-ink-500);
			}
		}
	}

	.cloud-account-selector {
		background: var(--bg-vanilla-100);
		.ant-select-selector {
			background: var(--bg-vanilla-100) !important;
			border-color: var(--bg-vanilla-400) !important;
		}
		.ant-select-item-option-active {
			background: var(--bg-vanilla-400) !important;
		}

		.ant-select-selection-item {
			color: var(--bg-ink-400);
		}

		&:hover {
			.ant-select-selector {
				border-color: var(--bg-vanilla-400) !important;
			}
		}
	}

	.account-option-item {
		color: var(--bg-ink-400);

		&__selected {
			background: var(--bg-robin-500);
		}
	}
}
