.custom-multiselect-dropdown {
	.divider {
		height: 1px;
		background-color: #e8e8e8;
		margin: 4px 0;
	}

	.all-option {
		font-weight: 500;
		border-bottom: 1px solid #f0f0f0;
		margin-bottom: 8px;
	}
}
