.query-table-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.query-table {
	position: relative;
	height: inherit;

	.ant-table {
		&::-webkit-scrollbar {
			width: 0.1rem;
		}
	}

	.clickable-cell {
		cursor: pointer;
		max-width: fit-content;

		&:hover {
			color: var(--bg-robin-500);
		}
	}
}
