.query-table {
	position: relative;
	height: inherit;
	min-width: 0;
	overflow: hidden;

	.query-table--download {
		position: absolute;
		top: 15px;
		right: 0px;
		z-index: 1;
	}

	.ant-table {
		min-width: 0;
		overflow: hidden;

		&::-webkit-scrollbar {
			width: 0.1rem;
		}
	}

	.ant-table-wrapper,
	.ant-spin-nested-loading,
	.ant-spin-container,
	.ant-table-container {
		min-width: 0;
	}

	.ant-table-content {
		overflow-x: auto !important;
	}

	.clickable-cell {
		cursor: pointer;
		max-width: fit-content;

		&:hover {
			color: var(--primary-background);
		}
	}
}
