.qf-filter-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px;
    user-select: none;

    .drag-handle {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-grow: 1;
    }

    .qf-filter-content{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &.drag-enabled {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }

    &.drag-disabled {
        padding: 8px 12px;
    }

    .remove-filter-btn {
        padding: 6px 12px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        .remove-filter-btn {
            opacity: 1;
        }
    }
}
