.qf-other-filters-list {
   height: 300px;
   overflow-y: auto;
}

.qf-filter-item {
    padding: 8px;
    border-radius: 4px;
    user-select: none;

    .qf-filter-content{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &.other-filters-item {
        padding: 8px 12px;
        height: 32px;
    }

    .add-filter-btn {
        padding: 6px 12px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        
    }

    &:hover {
        .add-filter-btn {
            opacity: 1;
        }
    }
}
