.quick-filters-settings {
    position: absolute;
	z-index: 999;
	width: 342px;
	background: var(--bg-slate-500);
	transition: width 0.05s ease-in-out;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 45px);
	overflow: hidden;

	&.hidden {
		width: 0;
	}
    .qf-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10.5px;
        border-bottom: 1px solid var(--bg-slate-400);

        .qf-title {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .qf-header-icon {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }

    .search {
        .ant-input {
            background-color: var(--bg-slate-500);
        }
    }

    .qf-footer {
        display: flex;
        gap: 12px;
        padding: 12px;
        border-top: 1px solid var(--bg-slate-400);
        button {
            display: flex;
            align-items: center;   
            justify-content: center;
            width: 50%;
            
            .ant-btn-icon {
                margin: 3px !important;
            }
        }
    }
}


// add light theme
// .light {
//     .quick-filters-settings {
//         background: var(--bg-slate-50);
//     }
// }


//ADDED FILTERS AND OTHER FILTERS COMMON STYLES

.qf-filters {
    display: flex;
    flex-direction: column;
    .qf-filters-header {
        color: var(--bg-slate-50);
        border-top: 1px solid var(--bg-slate-400);
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.88px;
        text-transform: uppercase;
        padding: 8px 12px;
    }
}

