.advanced-option-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 16px;
	border-bottom: 1px solid var(--l1-border);

	.advanced-option-item-left-content {
		display: flex;
		flex-direction: column;
		gap: 6px;

		.advanced-option-item-title {
			color: var(--l2-foreground);
			font-family: Inter;
			font-size: 14px;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.advanced-option-item-description {
			color: var(--muted-foreground);
			font-family: Inter;
			font-size: 14px;
			font-weight: 400;
		}

		.advanced-option-item-input {
			margin-top: 16px;

			.ant-input {
				background-color: var(--l2-background);
				border: 1px solid var(--l1-border);
				color: var(--l1-foreground);
				height: 32px;

				&::placeholder {
					font-family: 'Space Mono';
				}

				&:hover {
					border-color: var(--l1-border);
				}

				&:focus {
					border-color: var(--l1-border);
					box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
				}
			}

			.ant-select {
				.ant-select-selector {
					background-color: var(--l2-background);
					border: 1px solid var(--l1-border);
					color: var(--l1-foreground);
					height: 32px;

					&:hover {
						border-color: var(--l1-border);
					}

					&:focus {
						border-color: var(--l1-border);
						box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
					}

					.ant-select-selection-placeholder {
						font-family: 'Space Mono';
					}
				}

				.ant-select-selection-item {
					color: var(--l1-foreground);
				}

				.ant-select-arrow {
					color: var(--l2-foreground);
				}
			}
		}
	}

	.advanced-option-item-right-content {
		display: flex;
		align-items: flex-start;
		gap: 16px;

		.advanced-option-item-input-group {
			display: flex;
			align-items: center;
			gap: 8px;

			.ant-input {
				background-color: var(--l2-background);
				border: 1px solid var(--l1-border);
				color: var(--l1-foreground);

				&:hover {
					border-color: var(--l1-border);
				}

				&:focus {
					border-color: var(--l1-border);
					box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
				}
			}

			.ant-select {
				.ant-select-selector {
					background-color: var(--l2-background);
					color: var(--l1-foreground);
					height: 32px;
					border: 1px solid var(--l1-border);

					&:hover {
						border-color: var(--l1-border);
					}

					&:focus {
						border-color: var(--l1-border);
					}

					.ant-select-selection-placeholder {
						font-family: 'Space Mono';
					}
				}

				.ant-select-selection-item {
					color: var(--l1-foreground);
				}

				.ant-select-arrow {
					color: var(--l2-foreground);
				}
			}
		}

		.advanced-option-item-button {
			display: flex;
			align-items: center;
			gap: 8px;
			background-color: var(--l3-background);
			border: 1px solid var(--l1-border);
			color: var(--l2-foreground);
			border-radius: 4px;
		}
	}
}
