@use '../../../../../../styles/scrollbar' as *;

.trigger {
	--button-height: 36px;
	--button-padding: 0 5px 0 12px;
	--button-gap: 8px;
	--button-justify-content: flex-start;
	--button-variant-outlined-border: 1px solid var(--l2-border);
	--button-variant-outlined-background-color: var(--l2-background);
	--button-variant-outlined-hover-background-color: var(--l2-background);
	width: 100%;
	text-align: left;

	&:hover {
		--button-variant-outlined-border: 1px solid var(--l3-border);
	}
}

.triggerIcon {
	flex-shrink: 0;
	color: var(--l2-foreground);
}

.triggerName {
	flex: 1;
	min-width: 0;
	overflow: hidden;
	color: var(--l1-foreground);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.triggerAction {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	padding: 4px 10px;
	border-radius: 3px;
	background: var(--l3-background);
	color: var(--l2-foreground);
	font-size: 12px;
}

.revert {
	align-self: flex-start;
}

.drawerBody {
	display: flex;
	flex-direction: column;
	min-height: 0;
	overflow-y: auto;
	@include custom-scrollbar;
}
