.info-banner-wrapper {
	margin: 8px 8px 16px 16px;

	a {
		text-decoration: underline;
	}
}

.clickhouse-query-editor-toolbar {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 8px;
}

.clickhouse-query-editor-modal {
	.ant-modal-body {
		padding-top: 8px;
	}
}
