.logs-module-page {
	display: flex;
	.log-quick-filter-left-section {
		width: 0%;
		flex-shrink: 0;
	}

	.log-module-right-section {
		width: 100%;
		.log-explorer-query-container {
			display: flex;
			flex-direction: column;
			flex: 1;

			.logs-explorer-views {
				flex: 1;
				display: flex;
				flex-direction: column;
			}
		}
	}

	&.filter-visible {
		.log-quick-filter-left-section {
			width: 20%;
		}

		.log-module-right-section {
			width: 80%;
		}
	}
}
