.logs-module-page {
	display: flex;
	.log-quick-filter-left-section {
		// check the best way to set this either in percentages or fixed values
		width: 260px;
		flex-shrink: 0;
	}

	.log-module-right-section {
		width: 100%;
		.log-explorer-query-container {
			display: flex;
			flex-direction: column;
			flex: 1;

			.logs-explorer-views {
				flex: 1;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
