.azure-account-container {
	padding: 16px 8px;

	.azure-account-title {
		font-size: 24px;
		font-weight: 600;
	}

	.azure-account-prerequisites-step {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px 0px;

		.azure-account-prerequisites-step-description {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.azure-account-prerequisites-step-description-item {
				color: var(--l2-foreground);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;

				display: flex;
				align-items: center;
				gap: 8px;

				.azure-account-prerequisites-step-description-item-bullet {
					color: var(--primary-color);
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px; /* 142.857% */
				}
			}
		}

		.azure-account-prerequisites-step-how-it-works {
			.azure-account-prerequisites-step-how-it-works-title {
				display: flex;
				flex-direction: row;
				gap: 8px;
				align-items: center;
				cursor: pointer;

				padding: 8px 16px;

				border: 1px solid var(--l3-background);
				border-radius: 4px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				background: var(--l1-background);

				.azure-account-prerequisites-step-how-it-works-title-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;

					color: var(--l1-foreground);
				}

				.azure-account-prerequisites-step-how-it-works-title-text {
					color: var(--l1-foreground);
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px; /* 166.667% */
					letter-spacing: -0.06px;
				}
			}

			.azure-account-prerequisites-step-how-it-works-description {
				padding: 16px;
				color: var(--l2-foreground);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 150% */
				letter-spacing: -0.06px;

				border: 1px solid var(--l3-background);
				border-top: none;
				border-radius: 4px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				background: var(--l1-background);

				display: flex;
				flex-direction: column;
				gap: 16px;
			}
		}
	}

	.azure-account-configure-agent-step {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px 0px;
	}

	.azure-account-deploy-agent-step {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px 0px;

		.azure-account-deploy-agent-step-subtitle {
			color: var(--l2-foreground);
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
		}

		.azure-account-deploy-agent-step-commands {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.azure-account-deploy-agent-step-commands-tabs {
				width: 100%;
				border-radius: 6px;
				border: 1px solid var(--l3-background);
				background: var(--l1-background);
				padding: 8px;

				// attribute - role="tabpanel"

				[role='tabpanel'] {
					width: 100%;
				}

				.azure-account-deploy-agent-step-commands-tabs-content {
					width: 100%;
				}
			}
		}

		.azure-account-connection-status-container {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.azure-account-connection-status-content {
				width: 100%;

				.azure-account-connection-status-callout {
					width: 100%;

					[data-slot='callout-title'] {
						font-size: 13px;
						font-weight: 400 !important;
						line-height: 22px; /* 157.143% */
						letter-spacing: -0.07px;
					}
				}
			}

			.azure-account-connection-status-close-disclosure {
				color: var(--l2-foreground);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}
	}

	.azure-account-form {
		.azure-account-configure-agent-step-primary-region {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.azure-account-configure-agent-step-primary-region-title {
				color: var(--l1-foreground);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 150% */
				letter-spacing: -0.06px;
			}

			.azure-account-configure-agent-step-primary-region-select {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
		}

		.azure-account-configure-agent-step-resource-groups {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.azure-account-configure-agent-step-resource-groups-title {
				color: var(--l1-foreground);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 150% */
				letter-spacing: -0.06px;
			}

			.azure-account-configure-agent-step-resource-groups-select {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
		}

		.azure-account-actions-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 8px;
		}
	}

	.ant-select {
		.ant-select-selector {
			background: var(--l1-background);
			border: 1px solid var(--l3-background);
			border-radius: 6px;
		}

		.ant-select-selection-item {
			color: var(--l1-foreground);
		}

		.ant-select-arrow {
			color: var(--l1-foreground);
		}

		.ant-select-dropdown {
			background: var(--l1-background);
			border: 1px solid var(--l3-background);
			border-radius: 6px;
		}

		.ant-select-item {
			color: var(--l1-foreground);
		}

		.ant-select-item-option-active {
			background: var(--l1-background);
		}
	}

	.azure-account-disconnect-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;

		padding: 16px 0px;
	}
}

.azure-account-disconnect-modal {
	.ant-modal-content {
		width: 480px;
		min-height: 200px;
		flex-shrink: 0;
		background: var(--l1-background);
		color: var(--l1-foreground);
		border: 1px solid var(--l3-background);
		border-radius: 4px;
		padding: 12px;
	}

	.ant-modal-header {
		background: var(--l1-background);
		color: var(--l1-foreground);

		.ant-modal-title {
			color: var(--l1-foreground);
		}
	}

	.ant-modal-body {
		margin-top: 16px;
	}

	.ant-modal-close {
		color: var(--l1-foreground);
	}

	.ant-modal-footer {
		margin-top: 32px;
	}
}
