.wizardDialog {
	border-color: var(--l1-border);

	--select-trigger-background-color: var(--l3-background);
	--select-trigger-border-color: var(--l3-background);
	--select-content-background: var(--l3-background);
	--select-item-highlight-background: var(--l3-background-hover);
	--select-trigger-outline-width: 1px;
	--select-trigger-outline-offset: 0px;

	--input-background: var(--l3-background);
	--input-hover-background: var(--l3-background);
	--input-focus-background: var(--l3-background);
	--input-disabled-background: var(--l3-background);
	--input-border-color: var(--l3-border);
	--input-hover-border-color: var(--l3-border);
	--input-focus-border-color: var(--l3-border);

	outline: none;

	& > div {
		background-color: var(--l2-background);
	}
}

.wizardBody {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);
}

.wizardField {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
}

.wizardValueRow {
	display: flex;
	align-items: center;
	gap: var(--spacing-3);
}

.wizardValueInput {
	flex: 1;
	min-width: 0;
}

.selectContent {
	z-index: 10;
	background-color: var(--l3-background);
}
