.integration-detail-overview {
	display: flex;

	.integration-detail-overview-left-container {
		display: flex;
		flex-direction: column;
		width: 25%;
		gap: 26px;
		border-right: 1px solid #161922;
		padding: 16px 0;
		color: var(--bg-vanilla-400);
		font-family: Inter;
		font-size: 11px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px; /* 145.455% */
		letter-spacing: 0.44px;
		text-transform: uppercase;

		.integration-detail-overview-category {
			display: flex;
			flex-direction: column;

			.category-tabs {
				display: flex;
				gap: 6px;
				flex-flow: wrap;
				margin-top: 12px;

				.category-tab {
					padding: 2px 8px;
					border-radius: 4px;
					border: 1px solid rgba(173, 127, 88, 0.2);
					background: rgba(173, 127, 88, 0.1);
					color: var(--bg-sienna-400);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px; /* 142.857% */
					letter-spacing: -0.07px;
				}
			}
		}

		.integration-detail-overview-assets {
			display: flex;
			flex-direction: column;

			.assets-list {
				margin-top: 12px;
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px; /* 157.143% */
				letter-spacing: -0.07px;
				padding-inline-start: 16px !important;
				text-transform: none;
			}
		}
	}

	.integration-detail-overview-right-container {
		width: 75%;
		padding: 16px 0 0 16px;
	}
}

.integration-data-collected {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 8px;
	color: var(--bg-vanilla-400);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: -0.07px;

	.logs-section {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.table-row-dark {
			background: rgba(255, 255, 255, 0.01);
		}

		.logs-section-table {
			border-radius: 6px;
			border: 1px solid var(--bg-slate-400);
			background: var(--bg-ink-400);

			.ant-table-thead {
				text-transform: uppercase;
			}
			.ant-table-cell {
				background: unset !important;
				border-bottom: none !important;
			}

			.ant-table-cell::before {
				background-color: unset !important;
			}
		}

		.logs-heading {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 4px 6px;
		}
	}

	.metrics-section {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.table-row-dark {
			background: rgba(255, 255, 255, 0.01);
		}

		.metrics-section-table {
			border-radius: 6px;
			border: 1px solid var(--bg-slate-400);
			background: var(--bg-ink-400);

			.ant-table-thead {
				text-transform: uppercase;
			}

			.ant-table-cell {
				background: unset !important;
				border-bottom: none !important;
			}

			.ant-table-cell::before {
				background-color: unset !important;
			}
		}

		.metrics-heading {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 4px 6px;
		}
	}
}

.integration-detail-configure {
	display: flex;

	.configure-menu {
		display: flex;
		flex-direction: column;
		width: 25%;
		padding: 16px 16px 0px 0px;
		border-right: 1px solid #161922;
		gap: 8px;

		.configure-menu-item {
			padding: 4px 8px;
			text-align: start;
			color: var(--bg-vanilla-100);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px; /* 128.571% */
		}

		.active {
			color: rgba(255, 255, 255, 0.85);
			background-color: rgba(255, 255, 255, 0.12);
		}
	}

	.markdown-container {
		width: 75%;
		padding: 16px 0px 0px 16px;
	}
}
