.notFoundTrace {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 500px;
	gap: var(--spacing-12);
	margin: 0 auto;
}

.description {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-3);
}

.notFoundImg {
	height: 32px;
	width: 32px;
}

.notFoundText1 {
	color: var(--l2-foreground);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-20);
	letter-spacing: -0.07px;
}

.notFoundText2 {
	color: var(--l1-foreground);
}

.reasons {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);
}

.reason {
	display: flex;
	padding: var(--spacing-6);
	align-items: flex-start;
	gap: var(--spacing-6);
	border-radius: 4px;
	background: color-mix(in srgb, var(--bg-robin-200) 4%, transparent);
}

.reasonImg {
	height: 16px;
	width: 16px;
}

.reasonText {
	color: var(--l2-foreground);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: var(--font-weight-normal);
	line-height: var(--line-height-20);
	letter-spacing: -0.07px;
}

.noneOfAbove {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);
}

.noneText {
	color: var(--l2-foreground);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-20);
	letter-spacing: -0.07px;
}

.actionBtns {
	display: flex;
	gap: var(--spacing-4);
}

.actionBtn {
	width: 160px;
}
