.y-axis-unit-selector-component {
	--combobox-trigger-background-color: var(--l2-background);
	--combobox-trigger-border-color: var(--l2-border);

	[data-slot='combobox-trigger'] {
		width: 220px;
	}
}

.warning-state {
	.ant-select-selector {
		border-color: var(--bg-amber-400) !important;
	}

	.anticon {
		color: var(--bg-amber-400) !important;
	}

	.ant-select-clear {
		right: 28px;
	}
}
