.y-axis-unit-selector-component {
	.ant-select {
		width: 220px;
	}
}

.warning-state {
	.ant-select-selector {
		border-color: var(--bg-amber-400) !important;
	}

	.anticon {
		color: var(--bg-amber-400) !important;
	}

	.ant-select-clear {
		right: 28px;
	}
}
