.overview-content {
	display: flex;
	flex-direction: column;

	.overview-settings {
		border-radius: 3px;
		border: 1px solid var(--l1-border);
		padding: 16px !important;

		.name-icon-input {
			display: flex;
			.dashboard-image-input {
				.ant-select-selector {
					display: flex;
					width: 32px;
					height: 32px;
					padding: 6px;
					justify-content: center;
					align-items: center;
					border-radius: 2px 0px 0px 2px;
					border: 1px solid var(--l1-border);
					background: var(--l3-background);

					.ant-select-selection-item {
						display: flex;
						align-items: center;

						.list-item-image {
							height: 16px;
							width: 16px;
						}
					}
				}
			}

			.dashboard-name-input {
				border-radius: 0px 2px 2px 0px;
				border: 1px solid var(--l1-border);
				background: var(--l3-background);
			}
		}

		.dashboard-name {
			color: var(--l2-foreground);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
		}

		.description-text-area {
			padding: 6px 6px 6px 8px;
			border-radius: 2px;
			border: 1px solid var(--l1-border);
			background: var(--l3-background);
		}
	}

	.overview-settings-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: -webkit-fill-available;
		padding: 12px 16px 12px 0px;
		position: fixed;
		bottom: 0;
		height: 32px;
		border-top: 1px solid var(--l1-border);
		background: var(--l2-background);

		.unsaved {
			display: flex;
			align-items: center;
			gap: 8px;

			.unsaved-dot {
				width: 6px;
				height: 6px;
				border-radius: 50px;
				background: var(--primary-background);
				box-shadow: 0px 0px 6px 0px
					color-mix(in srgb, var(--primary-background) 40%, transparent);
			}
			.unsaved-changes {
				color: var(--bg-robin-400);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px; /* 171.429% */
				letter-spacing: -0.07px;
			}
		}
		.footer-action-btns {
			display: flex;
			gap: 8px;

			.discard-btn {
				margin: '16px 0';
				color: var(--l1-foreground);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}

			.save-btn {
				margin: 0px !important;
				color: var(--l1-foreground);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}
		}
	}
}

.dashboard-image-input {
	&.ant-select-dropdown {
		padding: 0px !important;
	}

	.ant-select-item {
		padding: 0px;
		align-items: center;
		justify-content: center;

		.ant-select-item-option-content {
			display: flex;
			align-items: center;
			justify-content: center;

			.list-item-image {
				height: 16px;
				width: 16px;
			}
		}
	}
}

.lightMode {
	.overview-content {
		.overview-settings {
			border: 1px solid var(--l1-border);

			.name-icon-input {
				.dashboard-image-input {
					.ant-select-selector {
						border: 1px solid var(--l1-border);
						background: var(--l3-background);
					}
				}

				.dashboard-name-input {
					border: 1px solid var(--l1-border);
					background: var(--l3-background);
				}
			}

			.dashboard-name {
				color: var(--l1-foreground);
			}

			.description-text-area {
				border: 1px solid var(--l1-border);
				background: var(--l3-background);
			}
		}

		.overview-settings-footer {
			border-top: 1px solid var(--l1-border);
			background: var(--l1-background);

			.unsaved {
				.unsaved-dot {
					background: var(--primary-background);
				}
				.unsaved-changes {
					color: var(--bg-robin-400);
				}
			}
			.footer-action-btns {
				.discard-btn {
					color: var(--l1-foreground);
					background-color: var(--l3-background);
				}

				.save-btn {
					color: var(--l3-background);
				}
			}
		}
	}
}
