.time-selection-menu {
}

.time-selection-target {
	display: flex;
	height: 32px;
	padding: 6px 6px 6px 8px;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	align-self: stretch;
	border-radius: 2px;
	border: 1px solid var(--Slate-400, #1d212d);
	background: var(--Ink-300, #16181d);
	box-shadow: none;

	.button-selected-text {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.selected-value {
		color: var(--Vanilla-100, #fff);
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 133.333% */
	}
}
