.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

.typeButton {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 12px;
	background: var(--bg-ink-400, #0b0c0e);
	border: 1px solid var(--bg-slate-400, #1d212d);
	border-radius: 4px;
	color: var(--bg-vanilla-100, #fff);
	cursor: pointer;
	text-align: left;

	&:hover {
		border-color: var(--bg-robin-500);
	}
}
