.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

.panelTypeCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--l2-border);
	background: var(--l2-background);
	padding: 12px;
	gap: 12px;
	cursor: pointer;
	font: inherit;
	border-radius: 4px;
	color: var(--l1-foreground);
	transition:
		transform 180ms ease,
		border-color 180ms ease;

	&:hover {
		background-color: var(--l2-background-hover);
		transform: translateY(-2px);
		border-color: var(--bg-robin-400);
	}
}
