.query-aggregation-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 8px;

	.query-aggregation-options-input {
		width: 100%;
		height: 36px;
		line-height: 36px;
		border-radius: 2px;
		border: 1px solid var(--bg-slate-400);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

		font-family: 'Space Mono', monospace !important;

		&::placeholder {
			color: var(--bg-vanilla-100);
			opacity: 0.5;
		}
	}

	.query-aggregation-interval {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
	}
}

.query-aggregation-select-container {
	width: 100%;

	.query-aggregation-select-editor {
		border-radius: 2px;

		.cm-content {
			padding: 0;
		}

		.cm-editor {
			border-radius: 2px;
			overflow: hidden;
			background-color: transparent !important;

			&:focus-within {
				border-color: var(--bg-robin-500);
			}

			.cm-content {
				border-radius: 2px;
				border: 1px solid var(--Slate-400, #1d212d);
				padding: 0px !important;
				background-color: #121317 !important;

				&:focus-within {
					border-color: var(--bg-ink-200);
				}
			}

			.cm-tooltip-autocomplete {
				background: var(--bg-ink-300) !important;
				border-radius: 2px !important;
				font-size: 12px !important;
				font-weight: 500 !important;
				margin-top: -2px !important;
				min-width: 400px !important;
				position: relative !important;
				top: 0px !important;
				left: 0px !important;

				border-radius: 4px;
				border: 1px solid var(--bg-slate-200, #1d212d);
				background: linear-gradient(
					139deg,
					rgba(18, 19, 23, 0.8) 0%,
					rgba(18, 19, 23, 0.9) 98.68%
				) !important;
				backdrop-filter: blur(20px);
				box-sizing: border-box;
				font-family: 'Space Mono', monospace !important;

				ul {
					width: 100% !important;
					max-width: 100% !important;
					font-family: 'Space Mono', monospace !important;
					min-height: 200px !important;

					&::-webkit-scrollbar {
						width: 0.3rem;
					}
					&::-webkit-scrollbar-corner {
						background: transparent;
					}
					&::-webkit-scrollbar-thumb {
						background: rgb(136, 136, 136);
						border-radius: 0.625rem;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}

					li {
						width: 100% !important;
						max-width: 100% !important;
						line-height: 36px !important;
						height: 36px !important;
						padding: 4px 8px !important;

						display: flex !important;
						align-items: center !important;
						gap: 8px !important;
						box-sizing: border-box;
						overflow: hidden;

						font-family: 'Space Mono', monospace !important;

						.cm-completionIcon {
							display: none !important;
						}

						&[aria-selected='true'] {
							// background-color: rgba(78, 116, 248, 0.7) !important;
							background: rgba(171, 189, 255, 0.04) !important;
						}
					}
				}
			}

			.cm-gutters {
				display: none !important;
			}

			.cm-line {
				line-height: 34px !important;
				font-family: 'Space Mono', monospace !important;
				background-color: #121317 !important;

				::-moz-selection {
					background: var(--bg-ink-100) !important;
					opacity: 0.5 !important;
				}

				::selection {
					background: var(--bg-ink-100) !important;
					opacity: 0.5 !important;
				}
			}

			.cm-selectionBackground {
				background: var(--bg-ink-100) !important;
				opacity: 0.5 !important;
			}
		}
	}
}
