.infra-monitoring-hosts-page {
	display: flex;
	height: 100%;
	margin-top: 1rem;

	.hosts-list-controls {
		margin: 1rem 0.5rem;
	}
	
	.progress-container {
		display: flex;
		align-items: center;
	  }
	  
	  .progress-bar {
		flex: 1;
		margin-right: 8px;
	  }
	  
	  .clickable-row {
		cursor: pointer;
	  }

	  .infra-monitoring-tags {
		border-radius: 10px;
		width: fit-content;
	  }
}
