.full-view-container {
	height: 80vh;
	overflow-x: auto;
	overflow-y: hidden;

	--query-builder-v2-color: var(--l2-foreground);
	--query-builder-v2-background-color: var(--l3-background);
	--query-builder-v2-border-color: var(--l3-border);
	--query-builder-v2-selection-background-color: var(--l2-background);
	--query-builder-v2-chip-decorator-background-color: var(--l2-background);
	--query-builder-v2-placeholder-color: var(--l3-foreground);
	--query-builder-v2-selected-background-color: var(--l3-foreground);
	--query-search-background-color: var(--l3-background);
	--query-search-background-color-selection: var(--l3-background);
	--input-with-label-border-color: var(--l3-border);
	--input-with-label-background-color: var(--l3-background);
	--input-with-label-color: var(--l2-foreground);
	--query-builder-v2-toggle-group-background-color: var(--l3-background);
	--query-builder-v2-toggle-group-border-color: var(--l3-border);
	--query-builder-v2-toggle-group-active-background-color: var(--l2-background);
	--query-builder-v2-toggle-group-background-color-hover: var(--l3-background);
	--input-height: 36px;
	--input-hover-background: var(--l3-background);
	--input-hover-border-color: var(--internal-ant-border-color-hover);
	--input-focus-border-color: var(--internal-ant-border-color-hover);
	--input-background: var(--l3-background);
	--input-focus-background: var(--l3-background);
	--input-border-color: var(--l3-border);

	.full-view-header-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.graph-container {
		height: calc(60% - 40px);
		min-height: 300px;
		width: 100%;
		padding: 12px;
		box-sizing: border-box;
		margin: 16px 0;
		border-radius: 3px;

		.global-search {
			.ant-input-group-addon {
				border: none;
				background-color: var(--l3-background);
			}
		}
	}

	.height-widget {
		height: calc(100% - 40px);
	}

	.full-view-graph-container {
		height: calc(100% - 40px);
		overflow-y: auto;
	}

	.disabled {
		height: calc(100% - 65px);
	}

	.graph-manager-container {
		height: calc(40% - 40px);

		.graph-manager-header {
			display: flex;
			margin-bottom: 16px;
		}

		.legends-list-container {
			width: 100%;
			overflow: hidden;
			overflow-y: auto;
		}

		.save-cancel-container {
			flex-basis: 20%;
			display: flex;
			justify-content: flex-end;
		}

		.save-cancel-button {
			margin: 0 0.313rem;
		}
	}
}
