.integrations-page {
	padding: 16px;
	display: flex;
	justify-content: center;
	width: 100%;

	.integrations-content {
		width: 100%;

		.integrations-listing-container {
			display: flex;
			flex-direction: column;
			gap: 36px;
		}
	}
}

.request-entity-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-radius: 4px;
	border: 0.5px solid rgba(78, 116, 248, 0.2);
	background: rgba(69, 104, 220, 0.1);
	padding: 12px;
	margin: 24px 0;
	margin-bottom: 80px;
}
