.filter-toggler {
	margin-right: 8px;
}

.additinal-filters-container {
	.action-btn {
		background: var(--primary-background);
		width: 16px;
		height: 16px;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
