.integrations-module-container {
	.ant-tabs-nav {
		padding: 0 16px;
		margin-bottom: 0px;

		&::before {
			border-bottom: 1px solid var(--bg-slate-400) !important;
		}
	}

	.tab-item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
}

.lightMode {
	.integrations-module-container {
		.ant-tabs-nav {
			&::before {
				border-bottom: 1px solid var(--bg-vanilla-400) !important;
			}
		}
	}
}
