.metrics-explorer-page {
	.ant-tabs-nav {
		padding-left: 16px;
		margin-bottom: 0px;

		&::before {
			border-bottom: 1px solid var(--l1-border) !important;
		}
	}

	.ant-tabs-content-holder {
		padding: 16px;
	}

	.tab-item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
}
