.graph-controls-panel {
	position: absolute;
	z-index: 999;
	display: none;
	width: 150px;
	padding: 5px;
	border-radius: 5px;
	background: var(--l2-background);

	.ant-btn-link {
		padding: 0;
		margin: 0;
		text-decoration: none;
		color: var(--l1-foreground);
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		gap: 2px;
		border: none;
	}

	.ant-btn-link:hover {
		color: var(--l1-foreground);
	}
}
