.error-boundary-fallback-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: var(--bg-vanilla-100);

	.error-icon {
		margin-bottom: 16px;
	}

	.title,
	.actions {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.actions {
		margin-top: 16px;
	}
}
