.error-boundary-fallback-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: var(--bg-vanilla-100);

	.error-boundary-fallback-content {
		display: flex;
		flex-direction: column;
		max-width: 520px;
		gap: 8px;

		.title,
		.actions {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		.title {
			color: var(--bg-vanilla-100);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px; /* 128.571% */
			letter-spacing: -0.07px;
		}

		.description {
			color: var(--bg-vanilla-400);
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: -0.07px;
		}

		.actions {
			margin-top: 16px;
		}
	}
}
