.inspect-metrics-modal {
	display: flex;
	gap: 16px;

	.inspect-metrics-fallback {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.inspect-metrics-title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 6px;

		.inspect-metrics-button {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: default;
			color: var(--text-vanilla-500);
		}
	}

	.inspect-metrics-content {
		display: flex;
		flex-direction: row;
		gap: 16px;

		.inspect-metrics-content-first-col {
			display: flex;
			flex-direction: column;
			width: 75%;

			.inspect-metrics-graph-view {
				display: flex;
				flex-direction: column;
				gap: 32px;

				.inspect-metrics-graph-view-header {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.ant-btn-group {
						.time-series-button-label,
						.metric-name-button-label {
							display: flex;
							align-items: center;
							justify-content: center;
							cursor: default;

							span {
								color: var(--text-vanilla-100);
							}
						}
					}
				}
			}
		}
	}
}
