.color-selector-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.color-selector-button {
	border: none;
	width: 100%;

	.ant-btn {
		box-shadow: none;
		background-color: unset;
	}
}

.color-selector-light {
	border: 1px solid #d9d9d9;
	width: 100%;
	.ant-btn {
		box-shadow: none;
		background-color: unset;
	}
}
