.show-case-container {
	padding: 5px 15px;
	display: inline-block;
}

.show-case-dark {
	background-color: var(--background);
}

.show-case-light {
	background-color: var(--card);
	border: 1px solid var(--l1-border);
}
