.show-case-container {
	padding: 5px 15px;
	display: inline-block;
}

.show-case-dark {
	background-color: #141414;
}

.show-case-light {
	background-color: rgb(255, 255, 255);
	border: 1px solid #141414;
}
