.operator-input-root {
	width: auto !important;
	color: var(--l2-foreground);
	font-family: 'Space Mono';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 133.333% */
	letter-spacing: 0.48px;
}
.threshold-container {
	margin-top: 12px;

	.threshold-card-container {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		flex-shrink: 0;
		padding: 12px;
		border-radius: 2px;
		border: 1px solid var(--l2-border);
		background: var(--l2-background);

		.edit-action-btns {
			position: absolute;
			right: -8px;
			top: -14px;
			display: none;

			.ant-btn {
				display: flex;
				width: 24px;
				height: 24px;
				padding: 4px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				flex-shrink: 0;
				background: var(--l2-background);
			}

			.ant-btn + .ant-btn {
				border-left: 1px solid var(--l2-border);
			}

			.edit-btn {
				border-radius: 2px 0px 0px 2px;
			}

			.delete-btn {
				border-radius: 0px 2px 2px 0px;
			}
		}

		.time-series-alerts {
			display: flex;
			border-radius: 2px;
			border: 1px solid var(--l2-border);
			background: var(--l2-background);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
			width: 100%;
			align-items: center;

			.label {
				color: var(--l2-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				letter-spacing: 0.48px;
				text-transform: uppercase;
				width: 20%;
				padding: 8px;
			}

			.label-input {
				height: 32px;
				width: 80%;
				flex-shrink: 0;
				border-radius: 2px;
				border-left: 1px solid var(--l2-border);
				background: var(--l2-background);
				box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
				color: var(--l1-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				padding: 8px;
			}
		}

		.value-table-alerts {
			display: flex;
			align-items: center;
			gap: 10px;

			.operator-input {
				.ant-select-selector {
					background-color: var(--l3-background) !important;
					min-width: 50px;
					max-width: 150px;
					color: var(--l1-foreground);
					font-family: 'Space Mono';
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px; /* 133.333% */
				}
			}

			.typography {
				color: var(--l2-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				letter-spacing: 0.48px;
			}
			.typography-preview {
				color: var(--l2-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				letter-spacing: 0.48px;
				background-color: var(--l3-background) !important;
				max-width: 150px;
				overflow-x: hidden;
				text-overflow: ellipsis;
			}
		}
		.threshold-units-selector {
			display: flex;
			border-radius: 2px 2px 0px 0px;
			border: 1px solid var(--l2-border);
			background: var(--l2-background);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
			height: 32px;
			flex-shrink: 0;
			width: 100%;

			.unit-input {
				width: 50%;
				border: none;
				color: var(--l2-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				background: var(--l2-background);
			}

			.unit-selection {
				width: 50%;
				border: none;
				border-left: 1px solid var(--l2-border);
				color: var(--l2-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */

				.ant-select {
					width: 100%;
				}

				.ant-select-selector {
					border: none;
					height: unset;
					color: var(--l2-foreground);
					font-family: 'Space Mono';
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px; /* 133.333% */
				}
			}

			.unit-selection-prev {
				width: 50%;
				border: none;
				border-left: 1px solid var(--l2-border);
				color: var(--l2-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				background: var(--l1-background);
			}
		}

		.thresholds-color-selector {
			display: flex;
			align-items: center;
			border-radius: 0px 0px 2px 2px;
			border: 1px solid var(--l2-border);
			border-top: none;
			background: var(--l1-background);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
			height: 32px;
			flex-shrink: 0;
			width: 100%;
			margin-top: -12px;

			.color-selector {
				width: 50%;
				color: var(--l1-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				background: var(--l1-background);

				.ant-btn {
					box-shadow: none;
					height: auto;
				}
			}
			.color-format {
				width: 50%;
				border: none;
				border-left: 1px solid var(--l2-border);
				color: var(--l1-foreground);
				background: var(--l1-background);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */

				.ant-select-selector {
					border: none;
					height: unset;
					color: var(--l2-foreground);
					font-family: 'Space Mono';
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px; /* 133.333% */
					background: var(--l1-background);
				}
			}

			.color-format-prev {
				width: 50%;
				border: none;
				border-left: 1px solid var(--l2-border);
				color: var(--l1-foreground);
				font-family: 'Space Mono';
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				background: var(--l1-background);
			}
		}

		.threshold-action-button {
			display: flex;
			align-items: center;
			width: 100%;
			gap: 12px;

			.discard-btn {
				display: flex;
				width: 50%;
				align-items: center;
				height: 34px;
				padding: 4px 8px 4px 10px;
				justify-content: center;
				gap: 6px;
				flex: 1 0 0;
				border-radius: 2px;
				border: 1px solid var(--l2-border);
				background: var(--l2-background);
				box-shadow: none;
			}

			.save-changes {
				display: flex;
				width: 50%;
				align-items: center;
				height: 34px;
				padding: 4px 8px 4px 10px;
				justify-content: center;
				gap: 6px;
				flex: 1 0 0;
				border-radius: 2px;
				border: 1px solid var(--bg-robin-500);
				background: var(--primary-background);
				box-shadow: none;
			}
		}

		.invalid-unit {
			color: var(--l2-foreground);
			font-family: 'Giest Mono';
			font-size: 11px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0.48px;
		}
	}

	.threshold-card-container:hover {
		.edit-action-btns {
			display: flex;
		}
	}
}
