.threshold-selector-container {
	padding: 12px;
	border-bottom: 1px solid var(--bg-slate-500);

	.threshold-select {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.icon {
			color: #c0c1c3;
			cursor: pointer;
		}

		.left-section {
			display: flex;
			align-items: center;
			gap: 8px;

			.icon {
				color: #c0c1c3;
			}
			.text {
				color: #c0c1c3;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				letter-spacing: 0.14px;
			}
		}
	}
}
