.integration-detail-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 12px;

	.all-integrations-btn {
		width: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		padding-left: 0px;
		color: #c0c1c3;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 128.571% */
	}

	.all-integrations-btn:hover {
		&.ant-btn-text {
			background-color: unset !important;
		}
	}

	.integration-detail-header {
		display: flex;
		padding: 16px;
		gap: 10px;
		border-radius: 6px;
		border: 1px solid var(--bg-slate-500);
		background: var(--bg-ink-400);

		.image-container {
			height: 40px;
			width: 40px;
			flex-shrink: 0;
			border-radius: 2px;
			border: 1px solid var(--bg-ink-50);
			background: var(--bg-ink-300);
			display: flex;
			align-items: center;
			justify-content: center;

			.image {
				height: 24px;
				width: 24px;
			}
		}
		.details {
			display: flex;
			flex-direction: column;
			.heading {
				color: var(--bg-vanilla-100);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}

			.description {
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px; /* 150% */
			}
		}

		.configure-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: flex-start;
			gap: 2px;
			flex-shrink: 0;
			width: 143px;
			height: 30px;
			padding: 6px 1px;
			border-radius: 2px;
			border: 1px solid var(--bg-ink-50);
			background: var(--bg-ink-200);
		}
	}

	.integration-detail-container {
		border-radius: 6px;
		padding: 10px 16px;
		border: 1px solid var(--bg-slate-500);
		background: var(--bg-ink-400, #121317);

		.integration-tab-btns {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px 8px 18px 8px !important;

			.typography {
				color: var(--bg-vanilla-100);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}
		}

		.integration-tab-btns:hover {
			&.ant-btn-text {
				background-color: unset !important;
			}
		}

		.ant-tabs-nav-list {
			gap: 24px;
		}

		.ant-tabs-nav {
			padding: 0px !important;
		}

		.ant-tabs-tab {
			padding: 0 !important;
		}

		.ant-tabs-tab + .ant-tabs-tab {
			margin: 0px !important;
		}
	}
}
