.quick-filters-container {
	display: flex;
	height: 100%;
	position: relative;

	.quick-filters-settings-container {
		position: relative;
	}
}

.quick-filters {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	border-right: 1px solid var(--bg-slate-400);
	color: var(--bg-vanilla-100);

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10.5px;
		border-bottom: 1px solid var(--bg-slate-400);

		.left-actions {
			display: flex;
			align-items: center;
			gap: 6px;
			width: 100%;
			justify-content: flex-start;

			.text {
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: -0.07px;
			}

			.sync-tag {
				display: flex;
				padding: 5px 9px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border-radius: 2px;
				border: 1px solid rgba(78, 116, 248, 0.2);
				background: rgba(78, 116, 248, 0.1);
				color: var(--bg-robin-500);
				font-family: 'Geist Mono';
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				text-transform: uppercase;
			}
		}

		.right-actions {
			display: flex;
			align-items: center;
			gap: 10px;
			width: 100%;
			justify-content: flex-end;

			.divider-filter {
				width: 1px;
				height: 14px;
				background: #161922;
			}

			.sync-icon {
				border: 0;
				box-shadow: none;
			}

			.right-action-icon-container {
				position: relative;
				display: flex;
				padding: 2px;
				background-color: var(--bg-ink-500);

				.settings-icon {
					height: 14px;
					width: 14px;
					cursor: pointer;
				}

				&.active,
				&:hover {
					background: var(--bg-slate-500);
				}
			}
		}
	}

	.quick-filters-skeleton {
		.ant-skeleton-input {
			width: 236px;
			margin: 8px 12px;
		}
	}

	.no-filters-container {
		display: flex;
		height: 100%;
		gap: 8px;
		align-items: center;
		padding: 8px;
	}
}

.perilin-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: radial-gradient(circle, #fff 10%, transparent 0);
	background-size: 12px 12px;
	opacity: 1;

	mask-image: radial-gradient(
		circle at 50% 0,
		rgba(11, 12, 14, 0.1) 0,
		rgba(11, 12, 14, 0) 100%
	);
	-webkit-mask-image: radial-gradient(
		circle at 50% 0,
		rgba(11, 12, 14, 0.1) 0,
		rgba(11, 12, 14, 0) 100%
	);
}

.lightMode {
	.quick-filters {
		background-color: var(--bg-vanilla-100);
		border-right: 1px solid var(--bg-vanilla-300);
		color: var(--bg-ink-200);

		.header {
			border-bottom: 1px solid var(--bg-vanilla-300);

			.left-actions {
				.text {
					color: var(--bg-ink-400);
				}

				.sync-icon {
					background-color: var(--bg-vanilla-100);
				}
			}
			.right-actions {
				.right-action-icon-container {
					background-color: var(--bg-vanilla-100);
					&.active,
					&:hover {
						background-color: var(--bg-vanilla-200);
					}
				}
			}
		}
	}
}
