.auth-form-card {
	width: 576px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;

	@media (max-width: 768px) {
		width: 100%;
		padding: 0 16px;
	}
}
