.auth-form-card {
	width: 480px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	padding: 32px;
	background: var(--bg-ink-300, rgb(18 19 23));
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}

.lightMode {
	.auth-form-card {
		background: var(--bg-base-white, rgb(255 255 255));
		border: 1px solid var(--bg-vanilla-300, #e9e9e9);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		color: var(--text-ink-500);
	}
}

