.filter-row {
	display: flex;
	align-items: center;
	padding: 16px 20px 0px 20px;
	gap: 12px;

	.query-builder-search-v2 {
		width: 100%;
	}

	.pre-next-toggle {
		display: flex;
		flex-shrink: 0;
		gap: 12px;

		.ant-typography {
			display: flex;
			align-items: center;
			color: var(--bg-vanilla-400);
			font-family: 'Geist Mono';
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px; /* 150% */
		}

		.ant-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: none;
		}
	}

	.no-results {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		color: var(--bg-vanilla-400);
		font-family: 'Geist Mono';
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 150% */
	}
}

.lightMode {
	.filter-row {
		.pre-next-toggle {
			.ant-typography {
				color: var(--bg-ink-400);
			}
		}

		.no-results {
			color: var(--bg-ink-400);
		}
	}
}
