.field {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-3);
}

.label {
	font-size: var(--font-size-xs);
	color: var(--l1-foreground);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--spacing-4);
	width: 100%;
}
