.modelCostsTable {
	margin-top: var(--spacing-8);
	--tanstack-table-row-height: 48px;
	height: calc(100vh - 250px);
	overflow-y: auto;

	:global(table) tbody tr {
		cursor: default;
	}
}

.modelCostsEmpty {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--spacing-8);
	min-height: 400px;
	color: var(--l3-foreground);
	font-size: var(--periscope-font-size-base);
}
