.live-logs-container {
	display: flex;
	flex: 1;
	min-height: 0;
}

.live-logs-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 0;
}

.live-logs-chart-container {
	height: 200px;
	min-height: 200px;
	border-left: none;
	border-right: none;
}

.live-logs-list-container {
	display: flex;
	flex: 1;
	min-height: 0;
}

.live-logs-settings-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	border-bottom: 1px solid var(--l1-border);

	.live-logs-frequency-chart-view-controller {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
