.k8s-container {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 45px);
	width: 100%;

	.k8s-quick-filters-container {
		width: 280px;
		min-width: 280px;
		border-right: 1px solid var(--bg-slate-400);
		overflow-y: auto;

		.k8s-quick-filters-container-header {
			padding: 8px;
			border-bottom: 1px solid var(--bg-slate-400);

			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&::-webkit-scrollbar {
			width: 0.1rem;
			height: 0.1rem;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--bg-ink-200);
		}

		&::-webkit-scrollbar-thumb:hover {
			background: var(--bg-ink-100);
		}

		.ant-collapse-header {
			border-bottom: 1px solid var(--bg-slate-400);
			padding: 12px 8px;

			&[aria-expanded='true'] {
				background: var(--bg-ink-400);
			}
		}

		.ant-collapse-content-box {
			padding: 0px;
			padding-block: 0px !important;

			.quick-filters {
				.checkbox-filter {
					padding-left: 18px;
				}
			}
		}

		.quick-filters {
			overflow-y: auto;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				width: 0.1rem;
				height: 0.1rem;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: var(--bg-slate-300);
			}

			&::-webkit-scrollbar-thumb:hover {
				background: var(--bg-slate-200);
			}
		}

		.k8s-quick-filters-category-label {
			display: flex;
			align-items: center;
			gap: 4px;

			.k8s-quick-filters-category-label-icon {
				margin-right: 8px;
			}

			.k8s-quick-filters-category-label-container {
				display: flex;
				align-items: center;
				gap: 4px;
			}
		}
	}

	.k8s-list-container {
		flex: 1;

		max-width: 100%;

		&.k8s-list-container-filters-visible {
			max-width: calc(100% - 280px);
		}
	}

	.periscope-btn {
		&.ghost:not(:disabled) {
			border: none;
			background: transparent;

			&:hover {
				background: transparent;
				color: var(--bg-robin-500) !important;
				font-weight: 500;
			}
		}
	}

	.column-header {
		display: flex;
		align-items: center;
		gap: 16px;

		&.pod-group-header {
			padding-left: 12px;
		}
	}
}

.infra-monitoring-container {
	display: flex;
	height: 100%;
	flex-direction: column;

	.infra-monitoring-header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 16px;
	}

	.k8s-list {
		.pod-group {
			display: flex;
			align-items: center;
			gap: 4px;
			flex-wrap: wrap;

			min-width: 120px;
			max-width: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.pod-group-tag-item {
			border-radius: 2px;
			font-size: 12px;
			font-weight: 400;
			background: var(--bg-slate-400);
			color: var(--bg-vanilla-400);

			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.pod-name {
			display: flex;
			align-items: center;
			gap: 4px;
			flex-wrap: wrap;

			min-width: 120px;
			max-width: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.ant-table-container {
			.ant-table-row-expand-icon-cell {
				padding: 0px;
			}

			.ant-table-content {
				&::-webkit-scrollbar {
					width: 0.1rem;
					height: 0.1rem;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: var(--bg-robin-500);
				}

				&::-webkit-scrollbar-thumb:hover {
					background: var(--bg-robin-400);
				}
			}
		}
	}

	.k8s-list-controls {
		padding: 8px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;

		.ant-select-selector {
			border-radius: 2px;
			border: 1px solid var(--bg-slate-400) !important;
			background-color: var(--bg-ink-300) !important;

			input {
				font-size: 12px;
			}

			.ant-tag .ant-typography {
				font-size: 12px;
			}
		}

		.k8s-list-controls-left {
			flex: 1;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;

			.k8s-qb-search-container {
				flex: 1;
				min-width: 240px;
				max-width: 60%;
			}

			.k8s-attribute-search-container {
				flex: 1;
				min-width: 240px;
				max-width: 40%;
				display: flex;
				align-items: center;

				.group-by-label {
					min-width: max-content;

					color: var(--Vanilla-400, #c0c1c3);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 128.571% */
					letter-spacing: -0.07px;

					border-radius: 2px 0px 0px 2px;
					border: 1px solid var(--Slate-400, #1d212d);
					border-right: none;
					background: var(--Ink-300, #16181d);
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;

					display: flex;
					height: 32px;
					padding: 6px 6px 6px 8px;
					justify-content: center;
					align-items: center;
					gap: 4px;
				}

				.group-by-select {
					.ant-select-selector {
						border-left: none;
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
					}
				}
			}
		}

		.k8s-list-controls-right {
			min-width: 240px;

			display: flex;
			align-items: center;
			gap: 4px;
		}

		.periscope-btn {
			padding: 4px 8px;

			&.ghost:not(:disabled) {
				border: none;
				background: transparent;
			}
		}
	}

	.progress-container {
		display: flex;
		align-items: center;
	}

	.progress-bar {
		flex: 1;
		margin-right: 8px;
		margin-bottom: 0px;
	}

	.clickable-row {
		cursor: pointer;
	}

	.k8s-list-table {
		.ant-table {
			.ant-table-thead > tr > th {
				padding: 12px;
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;

				background: var(--bg-ink-500);
				border-bottom: none;

				color: var(--Vanilla-400, #c0c1c3);
				font-family: Inter;
				font-size: 11px;
				font-style: normal;
				font-weight: 600;
				line-height: 18px; /* 163.636% */
				letter-spacing: 0.44px;
				text-transform: uppercase;

				&::before {
					background-color: transparent;
				}
			}

			.ant-table-thead > tr > th:has(.hostname-column-header) {
				background: var(--bg-ink-400);
			}

			.ant-table-cell {
				padding: 12px;
				font-size: 13px;
				line-height: 20px;
				color: var(--bg-vanilla-100);
				background: var(--bg-ink-500);
				border-bottom: none;
			}

			.ant-table-cell:has(.hostname-column-value) {
				background: var(--bg-ink-400);
			}

			.hostname-column-value {
				color: var(--Vanilla-100, #fff);
				font-family: 'Geist Mono';
				font-style: normal;
				font-weight: 600;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}

			.status-cell {
				.active-tag {
					color: var(--bg-forest-500);
					padding: 4px 8px;
					border-radius: 4px;
					font-size: 12px;
					font-weight: 500;
				}
			}

			.progress-container {
				.ant-progress-bg {
					height: 8px !important;
					border-radius: 4px;
				}
			}

			.ant-table-tbody > tr:hover > td {
				background: rgba(255, 255, 255, 0.04);
			}

			.ant-table-cell:first-child {
				text-align: justify;
			}

			.ant-table-cell:nth-child(2) {
				padding-left: 16px;
				padding-right: 16px;
			}

			.ant-table-cell:nth-child(n + 3) {
				padding-right: 24px;
			}
			.column-header-right {
				text-align: right;
			}
			.ant-table-tbody > tr > td {
				border-bottom: none;
			}

			.ant-table-thead
				> tr
				> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
				background-color: transparent;
			}

			.ant-empty-normal {
				visibility: hidden;
			}
		}

		.ant-pagination {
			position: fixed;
			bottom: 0;
			width: calc(100% - 64px);
			background: var(--bg-ink-500);
			padding: 16px;
			margin: 0;

			// this is to offset intercom icon till we improve the design
			padding-right: 72px;

			.ant-pagination-item {
				border-radius: 4px;

				&-active {
					background: var(--bg-robin-500);
					border-color: var(--bg-robin-500);

					a {
						color: var(--bg-ink-500) !important;
					}
				}
			}
		}

		.ant-table-expanded-row {
			&:hover {
				background: var(--bg-ink-500);
			}

			.ant-table-cell {
				background: var(--bg-ink-500) !important;
			}

			.ant-table .ant-table-thead > tr > th {
				padding: 4px 16px !important;
			}
		}

		.expanded-table-container {
			border: 1px solid var(--bg-ink-400);
			overflow-x: auto;
			padding: 8px;

			&::-webkit-scrollbar {
				width: 0.1rem;
				height: 0.1rem;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: var(--bg-ink-200);
			}

			&::-webkit-scrollbar-thumb:hover {
				background: var(--bg-ink-100);
			}

			.ant-table-expanded-row {
				background: var(--bg-ink-500);

				&:hover {
					background: var(--bg-ink-500);
				}

				.ant-table-cell {
					background: var(--bg-ink-500);
				}
			}

			.expanded-table-footer {
				display: flex;
				justify-content: flex-start;
				padding: 8px;
				padding-left: 56px;
				margin-top: 8px;

				.periscope-btn {
					font-size: 11px;
				}
			}
		}
	}

	.k8s-list-container-filters-visible {
		.k8s-list-table {
			.ant-pagination {
				width: calc(100% - 340px);
			}
		}
	}
}

.infra-monitoring-tags {
	width: fit-content;

	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 163.636% */
	letter-spacing: 0.44px;
	text-transform: uppercase;

	border-radius: 50px;
	padding: 2px 8px;

	&.active {
		color: var(--Forest-500, #25e192);
		border: 1px solid rgba(37, 225, 146, 0.2);
		background: rgba(37, 225, 146, 0.1);
	}

	&.inactive {
		color: var(--Slate-50, #62687c);
		border: 1px solid rgba(98, 104, 124, 0.2);
		background: rgba(98, 104, 124, 0.1);
	}
}

.k8s-list-loading-state {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 2px;

	.k8s-list-loading-state-item {
		height: 48px;
		width: 100%;
	}
}

.no-filtered-hosts-message-container {
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.no-filtered-hosts-message-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		width: fit-content;
		padding: 24px;
	}

	.no-filtered-hosts-message {
		margin-top: 8px;
	}
}

.hosts-empty-state-container {
	padding: 16px;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.hosts-empty-state-container-content {
		padding: 16px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		width: fit-content;

		.no-hosts-message {
			margin-bottom: 16px;

			.no-hosts-message-title {
				margin-top: 8px;
				margin-bottom: 4px;
			}
		}
	}
}

.lightMode {
	.infra-monitoring-container {
		.ant-table-thead > tr > th {
			background: var(--bg-vanilla-100);
			color: var(--bg-ink-500);
		}

		.ant-table-cell {
			color: var(--bg-ink-500);
		}
		.k8s-list-controls {
			border-top: 1px solid var(--bg-vanilla-300);
			border-bottom: 1px solid var(--bg-vanilla-300);

			.ant-select-selector {
				border-color: var(--bg-vanilla-300) !important;
				background-color: var(--bg-vanilla-100) !important;
				color: var(--bg-ink-200);
			}
		}
	}

	.k8s-list-table {
		.ant-table {
			.ant-table-thead > tr > th {
				background: var(--bg-vanilla-100);
				color: var(--text-ink-300);
			}

			.ant-table-thead > tr > th:has(.hostname-column-header) {
				background: var(--bg-vanilla-100);
			}

			.ant-table-cell {
				background: var(--bg-vanilla-100);
				color: var(--bg-ink-500);
			}

			.ant-table-cell:has(.hostname-column-value) {
				background: var(--bg-vanilla-100);
			}

			.hostname-column-value {
				color: var(--bg-ink-300);
			}

			.ant-table-tbody > tr:hover > td {
				background: rgba(0, 0, 0, 0.04);
			}
		}

		.ant-pagination {
			background: var(--bg-vanilla-100);

			.ant-pagination-item {
				&-active {
					background: var(--bg-robin-500);
					border-color: var(--bg-robin-500);

					a {
						color: var(--bg-vanilla-100) !important;
					}
				}
			}
		}
	}
}
