.funnel-modal.signoz-modal {
	.ant-modal-header,
	.ant-modal-body,
	.ant-modal-footer {
		padding: 16px;
	}
	.ant-modal-body {
		padding-top: 12px;
	}
	.ant-modal-footer {
		margin: 0;
		padding-top: 4px;

		.funnel-modal__ok-btn,
		.funnel-modal__cancel-btn {
			border-radius: 2px;
			font-size: 12px;
			line-height: 24px;
			padding: 4px 8px;
		}

		.funnel-modal__ok-btn {
			width: 138px;
			justify-content: center;
			background-color: var(--primary-background);
			margin: 0 !important;
			color: var(--primary-foreground);
			font-weight: 500;
			&:disabled {
				opacity: 0.5;
			}
		}

		.funnel-modal__cancel-btn {
			background-color: var(--l1-border);
			color: var(--l2-foreground);
			font-weight: 400;
			letter-spacing: -0.07px;
			width: 74px;
		}
	}
}

.funnel-modal-content {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__label {
		color: var(--l1-foreground);
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}

	&__input {
		border-radius: 2px;
		padding: 6px 8px;
		color: var(--l2-foreground);
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.07px;

		&--error {
			border-color: var(--danger-background);
		}
	}

	&__error {
		color: var(--danger-background);
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		margin-top: 4px;
	}
}
