.pageHeader {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--spacing-8);
}

.pageHeaderActions {
	display: flex;
	align-items: center;
	gap: var(--spacing-6);
}

.unsavedChanges {
	font-size: var(--periscope-font-size-base);
	color: var(--accent-amber);
}
