.cloud-service-data-collected {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.cloud-service-data-collected-table {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.cloud-service-data-collected-table-heading {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;

			color: var(--l2-foreground);

			/* Bifrost (Ancient)/Content/sm */
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
			letter-spacing: -0.07px;
		}

		.cloud-service-data-collected-table-logs {
			border-radius: 6px;
			border: 1px solid var(--l3-background);
			background: var(--l1-background);
		}
	}
}
