.run-query-btn {
	display: flex;
	min-width: 132px;
	align-items: center;
	gap: 6px;

	.ant-btn-icon {
		margin: 0 !important;
	}
}

.cancel-query-btn {
	display: flex;
	min-width: 132px;
	align-items: center;
	gap: 6px;
}

.cmd-hint {
	display: inline-flex;
	align-items: center;
	gap: 2px;
	padding: 2px 4px;
	border-radius: 6px;
	background: var(--bg-ink-200);
	line-height: 1;
	font-size: 10px;
}

.lightMode {
	.cmd-hint {
		color: var(--bg-ink-200);
		background: var(--bg-vanilla-300);
	}
}
