.logs-list-view-container {
	font-family: monospace;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.005em;
	text-align: left;

	// .ant-card-body {
	// 	background-color: #0b0c0e;
	// }
}
