.logs-table-virtuoso-scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--l3-background) transparent;

	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--l3-background);
		border-radius: 9999px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--l3-background);
	}
}
