.section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
	padding: var(--spacing-4) 0;
	border-top: 1px solid;
	border-image: linear-gradient(
			90deg,
			var(--l3-background-transparent),
			var(--l3-border),
			var(--l3-background-transparent)
		)
		1;

	&:first-child {
		padding-top: 0;
		border-top: none;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-8);
	min-width: 0;
}

.nestedRow {
	padding-left: var(--spacing-6);
}

.rowValue {
	flex-shrink: 0;
	max-width: 60%;
	text-align: right;
	font-variant-numeric: tabular-nums;
}
