.date-time-popover {
	display: flex;
	width: 400px;

	.date-time-options {
		display: flex;
		width: 40%;
		flex-direction: column;
		border-right: 1px solid rgb(66 66 66);

		.data-time-live {
			border-bottom: 1px solid rgb(66 66 66);
			padding-left: 5px !important;
			text-align: start;
		}

		.date-time-options-btn {
			text-align: start;
			padding-left: 5px !important;
		}
	}

	.relative-date-time {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 10px;
	}
}

.date-time-input-element {
	min-width: 150px;
	text-align: start;
	margin-right: 8px;
}

.refresh-actions {
	display: flex;
	border-radius: 2px;
	border: 1px solid var(--Slate-400, #1d212d);
	background: var(--Ink-400, #121317);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	flex-direction: row;

	.ant-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0px;
		padding: 8px 12px;

		border: 1px solid var(--Slate-400, #1d212d);
		background: var(--Ink-400, #121317);

		&.active-tab {
			background-color: #1d212d;
		}
	}
}
