.date-time-root {
	.ant-popover-inner {
		width: 532px;
		min-height: 326px;
		border-radius: 4px !important;
		border: 1px solid var(--Slate-400, #1d212d);
		box-shadow: 4px 10px 16px 2px rgba(0, 0, 0, 0.2) !important;
		padding: 0px !important;
		border-radius: 4px;
		background: linear-gradient(
			139deg,
			rgba(18, 19, 23, 0.8) 0%,
			rgba(18, 19, 23, 0.9) 98.68%
		) !important;
		backdrop-filter: blur(20px);
	}
	.ant-popover-arrow {
		display: none;
	}
}

.date-time-popover {
	display: flex;

	.date-time-options {
		display: flex;
		width: 224px;
		flex-direction: column;
		border-right: 1px solid #1d212d;

		.data-time-live {
			border-bottom: 1px solid #1d212d;
			text-align: start;
			padding: 13.5px 14px;
			height: 44px;
			color: var(--Vanilla-400, #c0c1c3);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.14px;
			border-bottom: 1px solid var(--Slate-400, #1d212d);
		}

		.date-time-options-btn {
			text-align: start;
			padding: 8px 13px;
			height: 33px;
			color: var(--Vanilla-400, #c0c1c3);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.14px;
		}
	}

	.relative-date-time {
		width: 307px;
		display: flex;
		flex-direction: column;
		gap: 26px;
		padding: 13px 14px;

		.relative-date-time-section {
			display: flex;
			gap: 6px;
			flex-flow: wrap;
		}
		.time-heading {
			text-align: left;
			color: var(--Slate-200, #52575c);
			font-size: 11px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px;
			letter-spacing: 0.88px;
			padding-bottom: 8px;
		}

		.time-btns {
			background-color: #23262e;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.04em;
			text-align: left;
			border-radius: 2px;
		}
	}
}

.date-time-input-element {
	display: flex;
	align-items: center;
	border-radius: 2px;
	border: 1px solid var(--Slate-400, #1d212d);
	box-shadow: none !important;
	background: var(--Ink-300, #16181d);
	display: flex;
	min-width: 192px;
	height: 34px;
	padding: 6px 6px 6px 8px;
	flex-shrink: 0;
	text-align: start;
	margin-right: 8px;
	justify-content: space-between;
	align-items: center;

	.date-time-input-content {
		display: flex;
		align-items: center;
	}
	.time-btn {
		margin-right: 8px;
	}
	.down-arrow {
		margin-left: 6px;
	}
}

.refresh-actions {
	display: flex;
	flex-direction: row;
	border-radius: 2px;
	border: 1px solid var(--Slate-400, #1d212d);
	background: var(--Ink-300, #16181d);

	.ant-btn {
		box-shadow: none;
	}

	.refresh-btn {
		border-right: 1px solid var(--Slate-400, #1d212d);
	}
	.ant-btn {
		display: flex;
		padding: 4px 8px;
		justify-content: center;
		align-items: center;
		border: none;

		&.active-tab {
			background-color: #1d212d;
		}
	}
}
