.top-contributors-card {
	width: 56.6%;
	overflow: hidden;

	&--view-all {
		width: auto;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 12px;

		border-bottom: 1px solid var(--l1-border);
		.title {
			color: var(--l2-foreground);
			font-size: 13px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: 0.52px;
			text-transform: uppercase;
		}
		.view-all {
			display: flex;
			align-items: center;
			gap: 4px;
			cursor: pointer;
			padding: 0;
			height: 20px;
			&:hover {
				background-color: transparent !important;
			}

			.label {
				color: var(--l2-foreground);
				font-size: 14px;
				line-height: 20px;
				letter-spacing: -0.07px;
			}
			.icon {
				display: flex;
			}
		}
	}
	.contributors-row {
		height: 80px;
	}
	&__content {
		.ant-table {
			&-cell {
				padding: 12px !important;
			}
		}
		.contributors-row {
			background: var(--l1-background);

			td {
				border: none !important;
			}
			&:not(:last-of-type) td {
				border-bottom: 1px solid var(--l1-border) !important;
			}
		}
		.total-contribution {
			color: var(--primary-foreground);
			font-family: 'Geist Mono';
			font-size: 12px;
			font-weight: 500;
			letter-spacing: -0.06px;
			padding: 4px 8px;
			background: color-mix(in srgb, var(--primary-background) 10%, transparent);
			border-radius: 50px;
			width: max-content;
		}
	}
	.empty-content {
		margin: 16px 12px;
		padding: 40px 45px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		border: 1px dashed var(--l1-border);
		border-radius: 6px;

		&__icon {
			font-family: Inter;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: -0.103px;
		}
		&__text {
			color: var(--l2-foreground);
			line-height: 18px;
			.bold-text {
				color: var(--l1-foreground);
				font-weight: 500;
			}
		}
		&__button-wrapper {
			margin-top: 12px;
			.configure-alert-rule-button {
				padding: 8px 16px;
				border-radius: 2px;
				background: var(--l3-background);
				border-width: 0;
				color: var(--l1-foreground);
				line-height: 24px;
				font-size: 12px;
				font-weight: 500;
				display: flex;
				align-items: center;
			}
		}
	}
}

.ant-popover-inner:has(.contributor-row-popover-buttons) {
	padding: 0 !important;
}
.contributor-row-popover-buttons {
	display: flex;
	flex-direction: column;

	&__button {
		display: flex;
		align-items: center;
		gap: 6px;
		padding: 12px 15px;
		color: var(--l2-foreground);
		font-size: 14px;
		letter-spacing: 0.14px;
		width: 160px;
		cursor: pointer;
		background: var(--l1-background);
		border-color: var(--l1-border);

		.text,
		.icon {
			color: var(--l1-foreground);
		}

		&:hover {
			background: var(--l2-background);

			.text,
			.icon {
				color: var(--l1-foreground);
			}
		}

		.icon {
			display: flex;
		}
	}
}

.view-all-drawer {
	border-radius: 4px;
}

.lightMode {
	.ant-table {
		background: inherit;
	}
}
