.logs-explorer-views-container {
	margin-bottom: 24px;

	.logs-explorer-views-types {
		.views-tabs-container {
			padding: 8px 16px;
			border: 1px solid var(--text-slate-400);
			border-left: none;
			border-right: none;

			display: flex;
			align-items: center;
			justify-content: space-between;

			.views-tabs {
				color: var(--text-vanilla-400);

				.view-title {
					display: flex;
					gap: var(--margin-2);
					align-items: center;
					justify-content: center;
					font-size: var(--font-size-xs);
					font-style: normal;
					font-weight: var(--font-weight-normal);
				}

				.tab {
					border: 1px solid var(--bg-slate-400);
					width: 114px;
				}

				.tab::before {
					background: var(--bg-slate-400);
				}

				.selected_view {
					background: var(--bg-slate-300);
					color: var(--text-vanilla-100);
					border: 1px solid var(--bg-slate-400);
				}

				.selected_view::before {
					background: var(--bg-slate-400);
				}

				.ant-radio-button-wrapper {
					min-width: 120px;
					text-align: center;

					font-style: normal;
					font-weight: 400;
					font-size: 12px;
				}
			}

			.tab-options {
				display: flex;
				gap: 8px;
				align-items: center;

				.ant-btn {
					padding: 8px 12px;
					display: flex;
					align-items: center;
					justify-content: center;
					// border: 1px solid var(--text-slate-400);
					border: none;
					// background: #16181d;
					// box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
				}

				.format-options-container {
					position: relative;
				}
			}
		}

		.logs-explorer-views-type-content {
			.ant-card {
				border: none !important;
			}
		}
	}

	.ant-card-body {
		background-color: var(--bg-ink-500);
	}
}

.lightMode {
	.logs-explorer-views-container {
		.ant-card-body {
			background-color: var(--bg-vanilla-100);
		}

		.views-tabs-container {
			border: 1px solid var(--text-vanilla-300);
		}
	}
}
