.line-style-selector {
	.line-style-icon {
		width: 24px;
		height: 24px;
	}

	.line-style-label {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		color: var(--l2-foreground);
	}
}
