.line-style-selector {
	.line-style-icon {
		width: 24px;
		height: 24px;
	}

	.line-style-label {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		color: var(--bg-vanilla-400);
	}
}

.lightMode {
	.line-style-selector {
		.line-style-label {
			color: var(--bg-ink-400);
		}
	}
}
