.code-mirror-where-clause {
	width: 100%;
	height: 100%;

	.query-context {
		background-color: #f0f0f0;
		padding: 10px;
		border-radius: 5px;
	}

	.cursor-position {
		background-color: #f0f0f0;
		padding: 10px;
		border-radius: 5px;
	}
}
