.fill-mode-selector {
	.fill-mode-icon {
		width: 24px;
		height: 24px;
	}

	.fill-mode-label {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		color: var(--bg-vanilla-400);
	}
}

.lightMode {
	.fill-mode-selector {
		.fill-mode-label {
			color: var(--bg-ink-400);
		}
	}
}
