.public-dashboard-container {
	.public-dashboard-header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;

		.public-dashboard-header-left {
			display: flex;
			align-items: center;

			.brand-logo-container {
				display: flex;
				align-items: center;
				gap: 8px;

				.brand-logo {
					height: 24px;
					width: 24px;
				}

				.brand-name {
					margin-bottom: 0px;
				}
			}
		}

		.public-dashboard-header-right {
			display: flex;
			align-items: center;
		}
	}

	.public-dashboard-content-container {
		display: flex;
		flex-direction: column;
		padding: 16px;

		.public-dashboard-panels-container {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.public-dashboard-panel {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
		}
	}
}
