.span-line-action-buttons {
	display: flex;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	right: 0;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid var(--l1-border);
	background: var(--l2-background);

	.ant-btn-default {
		border: none;
		box-shadow: none;
		padding: 9px;
		justify-content: center;
		align-items: center;
		display: flex;

		&.active-tab {
			background-color: var(--l1-border);
		}
	}

	.copy-span-btn {
		border-color: var(--l1-border) !important;
	}
}

.lightMode {
	.span-line-action-buttons {
		border: 1px solid var(--l2-foreground);
		background: var(--l2-foreground);

		.copy-span-btn {
			border-color: var(--l2-foreground) !important;
		}
	}
}
