.limit {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 24px;

    .header {
        display: flex;
        justify-content: space-between;
        gap: 12px;


        .info {
            display: flex;
            flex-direction: column;
            flex: 4px;

            .title {
                color: var(--Vanilla-100, #FFF);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: -0.07px;
            }

            .subtitle {
                color: var(--Vanilla-400, #C0C1C3);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 166.667% */
                letter-spacing: -0.06px;
            }
        }
    }

    .size-count-limit-inputs {
        display: flex;
        align-items: center;
        gap: 16px;

        .size {
            flex: 1;
        }

        .count {
            flex: 1;
        }

        .divider {
            font-weight: lighter;
            font-size: 12px;
        }
    }
}