.logBodyCell {
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.07px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: var(--tanstack-plain-cell-font-size, 14px);
	line-height: var(--tanstack-plain-cell-line-height, 18px);
	line-clamp: var(--tanstack-plain-body-line-clamp, 1);
	color: var(--l2-foreground);
}
