.span-details-drawer {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 44px); //44px -> trace details top bar
	border-left: 1px solid var(--bg-slate-400);
	overflow-y: auto !important;
	&:not(&-docked) {
		min-width: 450px;
	}

	&::-webkit-scrollbar {
		width: 0.1rem;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 48px;
		padding: 12px;
		border-bottom: 1px solid var(--bg-slate-400);

		.heading {
			display: flex;
			align-items: center;
			gap: 8px;

			.dot {
				height: 8px;
				width: 8px;
				border-radius: 2px;
				background: var(--bg-cherry-500);
			}

			.text {
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}
		}
	}

	.description {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 10px 12px;

		.item {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.span-name-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 8px;

				.attribute-value {
					border-right: 1px solid var(--bg-slate-400);
				}

				.span-percentile-value {
					color: var(--Sakura-400, #f56c87);
					font-variant-numeric: lining-nums tabular-nums stacked-fractions
						slashed-zero;
					font-feature-settings: 'dlig' on, 'salt' on;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					min-width: 36px;
					font-weight: 400;
					line-height: 18px; /* 128.571% */
					letter-spacing: -0.07px;
					padding-right: 4px;

					cursor: pointer;
				}
			}

			.span-percentiles-container {
				display: flex;
				flex-direction: column;

				fill: linear-gradient(
					139deg,
					rgba(18, 19, 23, 0.32) 0%,
					rgba(18, 19, 23, 0.36) 98.68%
				);

				stroke-width: 1px;
				stroke: var(--Slate-500, #161922);
				filter: drop-shadow(2px 4px 16px rgba(0, 0, 0, 0.2));
				backdrop-filter: blur(20px);
				border: 1px solid var(--bg-slate-500);
				border-radius: 4px;

				.span-percentiles-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 8px;
					padding: 8px 12px 8px 12px;
					border-bottom: 1px solid var(--bg-slate-500);

					.span-percentiles-header-text {
						display: flex;
						align-items: center;
						gap: 8px;
						cursor: pointer;
					}
				}

				.span-percentile-content {
					display: flex;
					flex-direction: column;
					gap: 8px;
					padding: 8px;

					.span-percentile-timerange {
						width: 100%;

						.span-percentile-timerange-select {
							width: 100%;
							margin-top: 8px;
							margin-bottom: 16px;

							.ant-select-selector {
								border-radius: 50px;
								border: 1px solid var(--Slate-400, #1d212d);
								background: var(--Slate-500, #161922);
								color: var(--bg-vanilla-400);
								font-family: Inter;
								font-size: 12px;
								font-style: normal;
								font-weight: 400;
								line-height: 20px; /* 142.857% */
								letter-spacing: 0.28px;

								height: 32px;
							}
						}
					}

					.span-percentile-values-table {
						.span-percentile-values-table-header-row {
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 8px;

							.span-percentile-values-table-header {
								color: var(--text-vanilla-400);
								text-align: right;
								font-family: Inter;
								font-size: 11px;
								font-style: normal;
								font-weight: 500;
								line-height: 20px; /* 181.818% */
								text-transform: uppercase;
							}
						}

						.span-percentile-values-table-data-rows {
							margin-top: 8px;
							display: flex;
							flex-direction: column;
							gap: 4px;
						}

						.span-percentile-values-table-data-row {
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 12px;

							.span-percentile-values-table-data-row-item {
								flex: 0 0 auto;
								color: var(--Vanilla-100, #fff);
								text-align: right;
								font-family: Inter;
								font-size: 12px;
								font-style: normal;
								font-weight: 500;
								line-height: 20px; /* 166.667% */
							}

							.dashed-line {
								flex: 1;
								height: 0; /* line only */
								margin: 0 8px;
								border-top: 2px dashed #1d212d;

								/* Use border image to control dash length & spacing */
								border-top-width: 2px;
								border-top-style: solid; /* temporary solid for image */
								border-image: repeating-linear-gradient(
										to right,
										#1d212d 0,
										#1d212d 10px,
										transparent 10px,
										transparent 20px
									)
									1 stretch;
							}
						}
					}
				}
			}

			.attribute-key {
				color: var(--bg-vanilla-400);
				font-family: Inter;
				font-size: 11px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px; /* 163.636% */
				letter-spacing: 0.44px;
				text-transform: uppercase;
			}

			.value-wrapper {
				display: flex;
				align-items: center;
				width: fit-content;
				max-width: 100%;
				border-radius: 50px;
				border: 1px solid var(--bg-slate-400);
				background: var(--bg-slate-500);

				.attribute-value {
					padding: 2px 8px;
					color: var(--bg-vanilla-400);
					font-family: 'Inter';
					font-size: 14px;
					font-style: normal;
					width: 100%;
					font-weight: 400;
					line-height: 20px; /* 142.857% */
					letter-spacing: 0.28px;
				}
			}

			.service {
				display: flex;
				padding: 2px 8px;
				align-items: center;
				gap: 8px;
				border-radius: 50px;
				border: 1px solid var(--bg-slate-400);
				background: var(--bg-slate-500);
				width: fit-content;

				.dot {
					height: 4px;
					width: 4px;
				}

				.value-wrapper {
					display: flex;
					padding: 0px;
					align-items: center;
					width: fit-content;
					max-width: 100%;
					border-radius: 0px;
					border: none;
					background: var(--bg-slate-500);

					.service-value {
						color: var(--bg-vanilla-400);
						font-family: 'Inter';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px; /* 142.857% */
						letter-spacing: 0.28px;
					}
				}
			}
		}
	}

	.attributes-events {
		.details-drawer-tabs {
			.ant-tabs-extra-content {
				display: flex;
				align-items: center;

				.search-icon {
					width: 33px;
					padding-right: 12px;
				}
			}

			.ant-tabs-nav::before {
				border-bottom: 1px solid var(--bg-slate-400) !important;
			}

			.ant-tabs-tab {
				margin: 0 !important;
				padding: 0 2px !important;
				min-width: 36px;
				height: 36px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.attributes-tab-btn,
			.events-tab-btn,
			.linked-spans-tab-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 4px 8px;
				margin-right: 8px;
				gap: 4px;

				.tab-label {
					display: flex;
					align-items: center;
				}

				.count-badge {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 20px;
					height: 20px;
					padding: 0 6px;
					border-radius: 10px;
					background: rgba(171, 189, 255, 0.1);
					color: var(--bg-vanilla-400);
					font-variant-numeric: lining-nums tabular-nums slashed-zero;
					font-feature-settings: 'dlig' on, 'salt' on;
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: -0.065px;
					text-transform: uppercase;
				}
			}

			.attributes-tab-btn:hover,
			.events-tab-btn:hover,
			.linked-spans-tab-btn:hover {
				background: unset;
			}
		}
	}
}

.span-details-drawer-docked {
	width: 48px;
	flex: 0 48px !important;

	.header {
		justify-content: center;
	}
}
.resizable-handle {
	box-sizing: border-box;
	border: 2px solid transparent;
	&:hover,
	&[data-resize-handle-state='drag'],
	&[data-resize-handle-state='hover'] {
		border-color: rgba(35, 196, 248, 0.2);
	}
}

.lightMode {
	.span-details-drawer {
		border-left: 1px solid var(--bg-vanilla-300);

		.header {
			border-bottom: 1px solid var(--bg-vanilla-300);

			.heading {
				.text {
					color: var(--bg-ink-400);
				}
			}
		}

		.description {
			.item {
				.attribute-key {
					color: var(--bg-ink-400);
				}

				.value-wrapper {
					border: 1px solid var(--bg-vanilla-300);
					background: var(--bg-vanilla-300);

					.attribute-value {
						color: var(--bg-ink-400);
					}
				}

				.service {
					border: 1px solid var(--bg-vanilla-300);
					background: var(--bg-vanilla-300);

					.value-wrapper {
						background: var(--bg-vanilla-300);
						border: none;

						.service-value {
							color: var(--bg-ink-400);
						}
					}
				}
			}
		}

		.attributes-events {
			.details-drawer-tabs {
				.ant-tabs-nav::before {
					border-bottom: 1px solid var(--bg-vanilla-300) !important;
				}

				.ant-tabs-nav-wrap {
					height: 32px;
				}

				.ant-tabs-tab {
					border: none;
					background-color: var(--bg-vanilla-200);

					.ant-btn {
						border-bottom: 1px solid var(--bg-vanilla-300);
					}
				}

				.ant-tabs-ink-bar {
					background: #4e74f8 !important;
				}
			}
		}
	}
}

.linked-spans-tab-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
