.home-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-y: auto;
	height: 100%;
	width: 100%;

	background: rgba(11, 12, 14, 0.9);

	&::-webkit-scrollbar {
		width: 0.3rem;
		height: 0.3rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--bg-slate-500);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--bg-slate-500);
	}

	.home-header-left {
		display: flex;
		align-items: center;
		gap: 8px;

		color: var(--Vanilla-100, #fff);
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 142.857% */
	}

	.home-header-right {
		.welcome-checklist-btn {
			color: var(--Vanilla-100, #fff);

			/* Bifrost (Ancient)/Content/sm */
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			line-height: 20px; /* 142.857% */
			letter-spacing: -0.07px;
		}
	}

	.sticky-header {
		position: sticky;
		top: 0;
		z-index: 100;
		background-color: var(--bg-ink-100);
		border-bottom: 1px solid var(--bg-ink-300);
	}
}

.hello-wave-container {
	.hello-wave-img-container {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 8px;
		border-radius: 4px;
		background: var(--Ink-300, #16181d);
	}
}

.home-content {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;

	.left-content {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.right-content {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		position: relative;

		.checklist-card {
			.checklist-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 1rem;
			}

			.checklist-items-container {
				width: 60%;
				padding: 1rem;
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.steps-progress-container {
					width: 100%;
					margin-left: -1rem;
				}
			}

			.checklist-container-right-img {
				position: relative;
				width: 30%;
				display: flex;
				align-items: center;

				.checklist-img-bg-container {
					width: 100%;
					height: 100%;
					position: absolute;

					.checklist-img-bg {
						position: absolute;
						top: 0;
						right: 8px;
					}
				}

				.checklist-img-container {
					width: 100%;
					height: 100%;

					display: flex;
					align-items: center;
					justify-content: flex-start;

					.checklist-img {
						padding: 1rem;
					}
				}
			}

			.periscope-card-footer {
				padding: 0px !important;
			}

			.checklist-footer-container {
				text-align: center;

				.ant-btn.ant-btn-link {
					color: var(--Vanilla-400, #c0c1c3) !important;
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; /* 150% */
					letter-spacing: 0.12px;

					padding: 0px;
				}
			}
		}
	}
}

.welcome-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.welcome-title {
	color: #fff;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; /* 155.556% */
	letter-spacing: -0.09px;
}

.welcome-description {
	color: var(--Vanilla-400, #c0c1c3);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
}

.workspace-ready-container {
	display: flex;
	flex-direction: column;
	gap: 14px;

	.workspace-ready-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.ant-btn.periscope-btn.secondary {
			border-radius: 2px;
			border: 1px solid var(--Slate-200, #2c3140);
			background: var(--Ink-200, #23262e);
		}
	}

	.workspace-ready-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
	}

	.workspace-details {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;

		padding: 0px 16px;

		.ant-typography {
			color: var(--Vanilla-400, #c0c1c3);
			font-variant-numeric: lining-nums tabular-nums slashed-zero;
			font-feature-settings: 'dlig' on, 'salt' on;
			font-family: Inter;
			font-size: 11px !important;
			font-style: normal;
		}

		.workspace-region {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
		}

		.workspace-url {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
		}

		.workspace-timezone {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
		}
	}
}

.divider {
	width: 100%;

	svg {
		width: 100%;
	}
}

.active-ingestions-container {
	display: flex;
	flex-direction: column;

	.active-ingestion-card {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 8px;

		&:not(:last-child) {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom: 0px;
		}

		&:not(:first-child) {
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}

		.active-ingestion-card-content-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 8px;
		}

		.active-ingestion-card-content {
			display: flex;
			flex-direction: row;
			align-items: center;

			padding: 8px !important;
			font-weight: 400;

			gap: 8px;
		}

		.active-ingestion-card-actions {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;

			padding: 8px 16px !important;

			font-size: 11px;
			font-weight: 400;
			line-height: 18px; /* 150% */
			letter-spacing: 0.12px;

			border-left: 1px solid var(--Slate-400, #1d212d);
			padding-left: 8px;

			cursor: pointer;

			&:hover {
				background-color: var(--bg-ink-300);
			}
		}

		.periscope-card-content {
			padding: 0px !important;
		}
	}
}

.explorers-container {
	display: flex;
	flex-direction: column;

	.explorer-card:not(:last-child) {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom: 0px;
	}

	.explorer-card:not(:first-child) {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.section-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.section-content {
			display: flex;
			flex-direction: row;
			gap: 14px;

			.section-icon {
				display: flex;
				flex-direction: row;
				gap: 14px;
				margin-top: 3px;
			}

			.section-title {
				display: flex;
				flex-direction: column;
				gap: 6px;

				color: var(--Vanilla-400, #c0c1c3);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 166.667% */
				letter-spacing: -0.06px;

				.title {
					color: var(--Vanilla-100, #fff);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px; /* 142.857% */
					letter-spacing: -0.07px;
				}
			}
		}

		.section-actions {
			display: flex;
			flex-direction: row;
			gap: 14px;

			.ant-btn {
				color: var(--Vanilla-400, #c0c1c3);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px; /* 150% */
				letter-spacing: 0.12px;

				padding: 8px;

				&:hover {
					background-color: var(--bg-ink-300) !important;
				}
			}

			.periscope-btn.secondary {
				border-radius: 2px;
				border: 1px solid var(--Slate-400, #1d212d);
				background: var(--Ink-300, #16181d);
			}
		}
	}
}

.home-data-card {
	height: 400px;

	.periscope-card-content {
		height: 100%;
	}
}

.empty-state-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;

	height: 100%;
	width: 100%;

	border-radius: 6px;
	border: 1px dashed var(--Slate-300, #242834);

	.empty-state-content-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.empty-state-content {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	.empty-state-icon {
		width: 36px;
		height: 36px;
	}

	.empty-title {
		color: var(--Vanilla-100, #fff);
		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px; /* 128.571% */
		letter-spacing: -0.07px;
	}

	.empty-description {
		color: var(--Vanilla-400, #c0c1c3);
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 128.571% */
		letter-spacing: -0.07px;
	}

	.empty-actions-container {
		display: flex;
		flex-direction: row;
		gap: 12px;

		.ant-btn.periscope-btn.secondary {
			display: flex;
			height: 32px;
			padding: 8px 16px;
			justify-content: center;
			align-items: center;
			gap: 8px;

			border-radius: 1.484px;
			border: 1px solid var(--Slate-400, #1d212d);
			background: var(--Ink-300, #16181d);

			color: var(--Vanilla-400, #c0c1c3);
			font-family: Inter;
			font-size: 11px;
			font-style: normal;
			font-weight: 500;
			line-height: 17.812px; /* 150% */
		}
	}
}

.learn-more-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;

	color: var(--Robin-400, #7190f9);
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 128.571% */
	letter-spacing: -0.07px;
}

.welcome-checklist-popover {
	padding: 1rem 1.5rem;
	background-color: var(--bg-ink-400);
	border-radius: 2px;
	border: 1px solid var(--Slate-400, #1d212d);
	background: var(--Ink-400, #121317);
	color: var(--bg-vanilla-100);

	.ant-popover-inner {
		background-color: transparent !important;
		box-shadow: none !important;
		background-color: none !important;
	}

	.home-checklist-container {
		background-color: transparent !important;
		width: 400px;
	}
}
