.team-member-container {
	display: flex;
	align-items: center;

	.invite-team-members-form {
		padding: 16px 0px;
	}

	.team-member-email-input {
		width: 80%;
		background-color: var(--l1-background);
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;

		.ant-input,
		.ant-input-group-addon {
			background-color: var(--l1-background) !important;
			border-right: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}

	.team-member-role-select {
		width: 20%;

		.ant-select-selector {
			border: 1px solid var(--l1-border);
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;

			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}

	.remove-team-member-button {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.invite-team-members-container {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.invite-team-members-add-another-member-container {
		margin: 16px 0px;
		display: flex;
		justify-content: flex-end;
	}

	.next-prev-container {
		display: flex;
		justify-content: flex-end;
		gap: 8px;

		margin-top: 16px;
	}

	.error-message-container,
	.success-message-container,
	.partially-sent-invites-container {
		border-radius: 4px;
		width: 100%;
		display: flex;
		align-items: center;

		.error-message,
		.success-message {
			font-size: 12px;
			font-weight: 400;

			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	.invite-users-error-message-container,
	.invite-users-success-message-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		.success-message {
			color: var(--bg-success-500, #00b37e);
		}
	}

	.partially-sent-invites-container {
		margin-top: 16px;
		padding: 8px;
		border: 1px solid var(--l1-border);
		background-color: var(--l1-background);

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		box-sizing: border-box;

		.partially-sent-invites-message {
			color: var(--bg-warning-500, #fbbd23);

			font-size: 12px;
			font-weight: 400;

			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}
