.clickableRow {
	cursor: pointer;
}

.k8sListTable {
	:global(.ant-table) {
		:global(.ant-table-thead > tr > th) {
			padding: 12px;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;

			border-bottom: none;

			color: var(--l2-foreground);
			font-family: Inter;
			font-size: 11px;
			font-style: normal;
			font-weight: 600;
			line-height: 18px;
			letter-spacing: 0.44px;
			text-transform: uppercase;
			background: var(--bg-ink-500) !important;

			&::before {
				background: transparent !important;
			}
		}

		:global(.ant-table-cell) {
			padding: 12px;
			font-size: 13px;
			line-height: 20px;
			color: var(--l1-foreground);
			background: var(--bg-ink-500);
			border-bottom: none;

			&:before,
			&:after {
				display: none;
			}
		}

		:global(.hostname-column-value) {
			color: var(--l1-foreground);
			font-family: 'Geist Mono';
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
			letter-spacing: -0.07px;
		}

		:global(.progress-container) {
			:global(.ant-progress-bg) {
				height: 8px !important;
				border-radius: 4px;
			}
		}

		:global(.ant-table-tbody > tr:hover > td) {
			background: var(--bg-ink-500);
		}

		:global(.ant-table-tbody > tr:not(.ant-table-expanded-row):hover > td) {
			background: var(--l2-background);
		}

		:global(.ant-table-tbody > tr > td) {
			border-bottom: none;
		}

		:global(.ant-empty-normal) {
			visibility: hidden;
		}

		:global(.ant-table-cell) {
			min-width: 180px !important;
			max-width: 180px !important;
		}

		:global(.ant-table-cell:first-of-type):not(:global(.ant-table-row-expand-icon-cell)) {
			min-width: 250px !important;
			max-width: 250px !important;
		}

		:global(.ant-table-row-expand-icon-cell) {
			min-width: 40px !important;
			max-width: 40px !important;
		}
	}

	:global(.ant-pagination) {
		width: 100%;
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 16px;
		background-color: var(--bg-ink-500);
		margin: 0 !important;
		padding-right: 72px;

		:global(.ant-pagination-item) {
			border-radius: 4px;
		}

		:global(.ant-pagination-item-active) {
			background: var(--l2-background);
			border-color: var(--l2-border);

			a {
				color: var(--l1-foreground) !important;
			}
		}
	}
}

.noFilteredHostsMessageContainer {
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.noFilteredHostsMessageContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	width: fit-content;
	padding: 24px;
}

.noFilteredHostsMessage {
	margin-top: var(--spacing-4);
}

.emptyStateSvg {
	width: 32px;
	max-width: 100%;
}
