.expandedTableContainer {
	overflow-x: auto;
	padding-bottom: var(--spacing-8);
	min-height: 360px;
}

.expandedTable {
	min-height: 340px;

	--tanstack-first-column-bg: var(--l1-background);
	--tanstack-first-column-header-bg: var(--l1-background);
}

.expandedTableFooter {
	display: flex;
	justify-content: flex-start;
	gap: var(--spacing-4);
	margin-top: var(--spacing-4);
}

.viewAllButton {
	display: flex;
	align-items: center;
	margin-right: var(--spacing-8);
}
