.missingMetricsContent {
	display: flex;
	flex-direction: column;
}

.summarySection {
	display: flex;
	flex-direction: column;
}

.summary {
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-8);
}

.summaryLeft {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-4);
}

.summaryRight {
	display: flex;
	align-items: center;
	padding-left: var(--spacing-8);
}

.iconWrapper {
	display: flex;
	align-items: center;
	padding-top: 4px;
}

.summaryText {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.title {
	--typography-title-margin-top: 0px;
	--typography-title-margin-bottom: 0px;
}

.description {
	margin: 0;
	color: var(--l2-foreground);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.07px;
}

.docsButton:hover {
	color: var(--l1-foreground);
}

.metricBadge {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0px 16px 16px;

	:global {
		.key-value-label {
			width: fit-content;
			border-color: var(--l1-border);
			border-radius: 20px;
			overflow: hidden;

			&__key {
				padding-left: 8px;
				padding-right: 8px;
			}

			&__value {
				padding-right: 10px;
				color: var(--l2-foreground);
				font-size: 12px;
				font-weight: 500;
				line-height: 18px;
				letter-spacing: 0.48px;
				pointer-events: none;
			}
		}
	}
}

.metricBadgeLabel {
	display: flex;
	align-items: center;
	gap: 6px;
}

.metricBadgeLabelDot {
	height: 6px;
	width: 6px;
	background: var(--bg-sakura-500);
	border-radius: 50%;
}

.metricBadgeLabelText {
	color: var(--l1-foreground);
	font-size: 10px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.5px;
}

.metricBadgeLine {
	flex: 1;
	height: 8px;
	background-image: radial-gradient(
		circle,
		var(--l3-background) 1px,
		transparent 2px
	);
	background-size: 8px 11px;
	background-position: top left;
	padding: 6px;
}

.metricsSection {
	display: flex;
	flex-direction: column;
}

.metricListContainer {
	position: relative;
}

.metricList {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 275px;
}

.metricItem {
	position: relative;
	margin-bottom: 4px;
	color: var(--l2-foreground);
	font-family: 'Geist Mono';
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	padding: 3px 12px 3px 26px;

	&::before {
		font-family: unset;
		content: '';
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		width: 2px;
		height: 4px;
		border-radius: 50px;
		background: var(--l1-border);
	}
}

.scrollHint {
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: fit-content;
	display: inline-flex;
	padding: 4px 12px 4px 10px;
	justify-content: center;
	align-items: center;
	gap: 3px;
	background: var(--l1-border);
	border-radius: 20px;
	box-shadow:
		0px 103px 12px 0px rgba(0, 0, 0, 0.01),
		0px 66px 18px 0px rgba(0, 0, 0, 0.01),
		0px 37px 22px 0px rgba(0, 0, 0, 0.03),
		0px 17px 17px 0px rgba(0, 0, 0, 0.04),
		0px 4px 9px 0px rgba(0, 0, 0, 0.04);
}

.scrollHintIcon {
	flex-shrink: 0;
}

.scrollHintText {
	color: var(--l1-foreground);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.06px;
}
