
.logs-filter-preview-container {
  margin-bottom: 24px;
}

.logs-filter-preview-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;

  // TODO(Raj): Are the font styles needed?
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.logs-filter-preview-content {
  height: 20vh;
  overflow-y: auto;
  padding: 4px 8px;
  border: 1px solid rgba(253, 253, 253, 0.12);
}
