.create-alert-channels-container {
	width: 90%;
	margin: 12px auto;

	border: 1px solid var(--l1-border);
	background: var(--l2-background);
	border-radius: 3px;

	padding: 16px;

	.form-alert-channels-title {
		margin-top: 0px;
		margin-bottom: 16px;
	}
}
