.settings-page-header {
    color: var(--bg-vanilla-400);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 18px 0 16px 6px;
}