.mq-tables-container {
	width: 100%;
	height: 100%;

	.mq-table-title {
		display: flex;
		align-items: center;
		gap: 12px;
		padding-bottom: 16px;

		color: var(--l1-foreground);
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: -0.09px;

		.mq-table-subtitle {
			color: var(--l2-foreground);
			font-size: 14px;
		}
	}

	.mq-table {
		width: 100%;

		.ant-table-content {
			border-radius: 6px;
			border: 1px solid var(--l1-border);
			box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
		}

		.ant-table-tbody {
			.ant-table-cell {
				max-width: 250px;
				border-bottom: none;
			}
		}

		.ant-table-thead {
			.ant-table-cell {
				background-color: var(--l1-background);
				border-bottom: 1px solid var(--l1-border);
			}
		}
	}

	.no-data-style {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		border: 1px solid var(--l1-border);
		border-radius: 6px;

		.ant-typography {
			font-size: 14px;
		}
	}
}

.mq-table {
	&.mq-overview-row-clickable {
		.ant-table-row {
			background-color: var(--l2-background);

			&:hover {
				cursor: pointer;
				background-color: var(--l1-border) !important;
				color: var(--l2-foreground);
				transition: background-color 0.3s ease, color 0.3s ease;
			}
		}
	}
}
