.guard-authz-error-no-authz {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	padding: 24px;

	.guard-authz-error-no-authz-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 8px;
		max-width: 500px;
	}

	img {
		width: 32px;
		height: 32px;
	}

	h3 {
		font-size: 18px;
		color: var(--bg-vanilla-100);
		line-height: 18px;
	}

	p {
		font-size: 14px;
		color: var(--bg-vanilla-400);
		line-height: 18px;

		pre {
			display: flex;
			align-items: center;
			background-color: var(--bg-slate-400);
			cursor: pointer;

			svg {
				margin-left: 2px;
			}
		}
	}
}
