.breadcrumb {
	padding-left: 16px;

	ol {
		align-items: center;
	}

	:global(.ant-breadcrumb-separator) {
		color: var(--muted-foreground);
	}

	[data-slot='button'] {
		padding: 0px;
	}
}

.divider {
	--divider-border: var(--l1-border);
}
