.empty-logs-search {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 240px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: var(--text-vanilla-400);
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.07px;
		align-items: flex-start;
		.empty-state-svg {
			height: 50px;
			width: 50px;
		}
	}
	&__sub-text {
		font-weight: 600;
	}

	&__container {
		&--custom-message {
			height: 445px;
			.empty-state-svg {
				height: 32px;
				width: 32px;
			}
			.empty-logs-search {
				&__header {
					display: flex;
					align-items: center;
					gap: 4px;
				}

				&__title {
					color: var(--bg-vanilla-100);
					font-size: 14px;
					font-weight: 500;
					line-height: 20px;
					letter-spacing: -0.07px;
				}

				&__subtitle {
					color: var(--bg-vanilla-400);
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: -0.07px;
				}

				&__description {
					font-size: 14px;
					color: var(--text-vanilla-400);
					line-height: 20px;
				}

				&__description-list {
					margin: 0;
					margin-top: 8px;
					color: var(--bg-vanilla-400);
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: -0.07px;
					display: flex;
					flex-direction: column;
					gap: 6px;
					list-style: none;
					padding: 0;
					font-family: Inter;
				}

				&__description-list li {
					position: relative;
					padding-left: 20px;
				}

				&__description-list li::before {
					content: '⎯';
					font-family: Inter;
					position: absolute;
					left: 0;
					color: var(--bg-robin-400);
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
				}

				&__clear-filters-btn {
					display: flex;
					width: 468px;
					font-family: Inter;
					padding: 12px;
					justify-content: space-between;
					align-items: flex-start;
					border-radius: 3px;
					border: 1px dashed var(--bg-slate-500);
					background: transparent;
					color: var(--bg-vanilla-400);
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: -0.07px;
					cursor: pointer;
					margin-top: 12px;
				}

				&__clear-filters-btn-icon {
					display: flex;
					align-items: center;
					gap: 6px;
				}

				&__row {
					display: flex;
					flex-direction: row;
					align-items: flex-end;
					max-width: 825px;
					gap: 25px;
					justify-content: center;
					margin-left: 21px;
				}

				&__content {
					display: flex;
					flex-direction: column;
					gap: 4px;
					min-width: 260px;
				}

				&__resources-card {
					background: var(--bg-ink-400);
					border: 1px solid var(--bg-slate-500);
					border-radius: 4px;
					width: 332px;
				}

				&__resources-title {
					color: var(--bg-vanilla-400);
					font-family: Inter;
					font-size: 11px;
					font-weight: 600;
					line-height: 18px;
					letter-spacing: 0.88px;
					text-transform: uppercase;
					padding: 16px 16px 12px;
					border-bottom: 1px solid var(--bg-slate-500);
					height: 46px;
				}

				&__resources-links {
					padding: 16px;
					display: flex;
					flex-direction: column;
					gap: 16px;

					.learn-more {
						height: 18px;
					}
				}
			}
		}
	}
}
.lightMode {
	.empty-logs-search {
		&__resources-card {
			background: var(--bg-vanilla-100);
			border: 1px solid var(--bg-vanilla-300);
		}

		&__resources-title {
			color: var(--bg-ink-400);
		}

		&__resources-description,
		&__description-list,
		&__subtitle {
			color: var(--bg-ink-300);
		}

		&__title {
			color: var(--bg-ink-500);
		}

		&__clear-filters-btn {
			border: 1px dashed var(--bg-vanilla-300);
			color: var(--bg-ink-400);
		}
	}
}
