.nav-item {
	border-radius: 2px;

	display: flex;
	flex-direction: row;
	align-items: center;

	height: 32px;
	margin-bottom: 4px;
	cursor: pointer;

	&.active {
		.nav-item-active-marker {
			background: #4e74f8;
		}
	}

	&.disabled {
		.nav-item-data {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&:hover {
		cursor: pointer;

		.nav-item-data {
			color: white;
			background: var(--Slate-500, #161922);
		}
	}

	&.active {
		.nav-item-data {
			color: white;
			background: var(--Slate-500, #161922);
			// color: #3f5ecc;
		}
	}

	.nav-item-active-marker {
		margin: 4px 0;
		width: 8px;
		height: 24px;
		background: transparent;
		border-radius: 2px;
		margin-left: -5px;
	}

	.nav-item-data {
		flex-grow: 1;
		max-width: calc(100% - 24px);
		display: flex;
		margin: 0px 8px;
		padding: 2px 8px;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		color: #c0c1c3;

		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 300;
		line-height: 18px;

		background: transparent;

		transition: 0.2s all linear;

		border-radius: 3px;

		.nav-item-icon {
			height: 16px;
		}

		.nav-item-label {
			// width: 220px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			color: #c0c1c3;
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.14px;
		}

		.nav-item-pin-icon {
			margin-left: auto;
			cursor: pointer;

			display: none;
		}

		&:hover {
			.nav-item-label {
				color: var(--Vanilla-100, #fff);
			}

			.nav-item-pin-icon {
				display: block;
			}
		}
	}

	.beta-tag {
		padding-right: 0;
	}
}

.lightMode {
	.nav-item {
		&.active {
			.nav-item-active-marker {
				background: #4e74f8;
			}
		}

		&:hover {
			cursor: pointer;

			.nav-item-data {
				color: #121317;

				background: var(--bg-vanilla-300);
			}
		}

		&.active {
			.nav-item-data {
				color: #121317;
				background: var(--bg-vanilla-300);
			}
		}

		.nav-item-data {
			color: #121317;

			.nav-item-label {
				color: var(--bg-ink-400);
			}
		}
	}
}
