.log-line-action-buttons {
	display: flex;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	right: 0;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid var(--bg-slate-400, #1d212d);
	background: var(--bg-ink-400, #121317);

	.ant-btn-default {
		border: none;
		box-shadow: none;
		padding: 9px;
		justify-content: center;
		align-items: center;
		display: flex;

		&.active-tab {
			background-color: #1d212d;
		}
	}

	.show-context-btn {
	}

	.copy-log-btn {
		border-left: 1px solid var(--bg-slate-400);
		border-color: var(--bg-slate-400) !important;
	}
}
