.confirmBody {
	min-height: 0;
}

.confirmTable {
	--tanstack-table-row-height: 48px;
	max-height: 100%;
	overflow-y: auto;

	:global(table) tbody tr {
		cursor: default;
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;
}
