.anomaly-alert-evaluation-view-loading-container {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.anomaly-alert-evaluation-view-error-container {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
