.alert-chart-container {
	height: 57vh;
	width: 100%;

	.threshold-alert-uplot-chart-container {
		height: calc(100% - 24px);
	}

	.ant-card-body {
		padding: 12px;
	}

	.anomaly-alert-evaluation-view-loading-container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.anomaly-alert-evaluation-view-error-container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
