.celery-task-filters {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.celery-filters {
		display: flex;
		align-items: center;
		gap: 8px;

		.config-select-option {
			width: 100%;
			.ant-select-selector {
				display: flex;
				min-height: 32px;
				align-items: center;
				gap: 16px;
				min-width: 164px;

				border-radius: 2px;
				border: 1px solid var(--l1-border);
				background: var(--l3-background);
			}
		}
	}
}
