.time-series-view {
	height: 50vh;
	min-height: 350px;
	padding: 0px 12px;

	.ant-card-body {
		height: 50vh;
		min-height: 350px;
		padding: 0px 12px;
	}

	.time-series-view-container {
		.time-series-view-container-header {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 12px 0;
		}
	}
}
