@mixin cell-width($index, $width) {
	&-cell:nth-last-of-type(#{$index}) {
		width: $width;
	}
}

.timeline-table {
	border: 1px solid var(--text-slate-500);
	border-radius: 6px;
	overflow: hidden;

	.ant-table {
		background: var(--bg-ink-500);
		&-thead > tr > th {
			border-color: var(--bg-slate-500);
			background: var(--bg-ink-500);
			font-size: 12px;
			font-weight: 500;
			&:last-of-type,
			&:nth-last-of-type(2) {
				text-align: right;
			}
		}
		&-tbody > tr > td {
			border: none;
			&:last-of-type,
			&:nth-last-of-type(2) {
				text-align: right;
			}
		}
		&-cell {
			padding: 16px !important;

			&::before {
				display: none;
			}
		}

		@include cell-width(1, 17%);
		@include cell-width(2, 6%);
		@include cell-width(3, 67%);
		@include cell-width(4, 10%);
	}

	.label-filter {
		padding: 6px 8px;
		border-radius: 4px;
		background: var(--text-ink-400);
		border-width: 0;
		& ::placeholder {
			color: var(--text-vanilla-400);
			font-size: 12px;
			letter-spacing: 0.6px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	.alert-rule {
		&-value,
		&-created-at {
			font-size: 14px;
			color: var(--text-Vanilla-400);
		}
		&-value {
			font-weight: 500;
			line-height: 20px;
		}
		&-created-at {
			line-height: 18px;
			letter-spacing: -0.07px;
		}
	}
}
