.timeline-table {
	border-top: 1px solid var(--l1-border);
	border-radius: 6px;
	overflow: hidden;
	margin-top: 4px;
	min-height: 600px;
	.ant-table {
		background: var(--l1-background);
		&-cell {
			padding: 12px 16px !important;
			vertical-align: baseline;
			&::before {
				display: none;
			}
		}
		&-thead > tr > th {
			border-color: var(--l1-border);
			background: var(--l1-background);
			font-size: 12px;
			font-weight: 500;
			padding: 12px 16px 8px !important;
		}
		&-tbody > tr > td {
			border: none;
		}
	}

	.label-filter {
		padding: 6px 8px;
		border-radius: 4px;
		background: var(--l1-foreground);
		border-width: 0;
		line-height: 18px;
		& ::placeholder {
			color: var(--l2-foreground);
			font-size: 12px;
			letter-spacing: 0.6px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	.alert-rule {
		&-value,
		&__created-at {
			font-size: 14px;
			color: var(--l2-foreground);
		}
		&-value {
			font-weight: 500;
			line-height: 20px;
		}
		&__created-at {
			line-height: 18px;
			letter-spacing: -0.07px;
		}
	}
	.ant-table.ant-table-middle {
		border-bottom: 1px solid var(--l1-border);
		border-left: 1px solid var(--l1-border);
		border-right: 1px solid var(--l1-border);

		border-radius: 6px;
	}
	.ant-pagination-item {
		&-active {
			display: flex;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1px 8px;
			border-radius: 2px;
			background: var(--primary-background);

			& > a {
				color: var(--primary-foreground);
				line-height: 20px;
				font-weight: 500;
			}
		}
	}
	.alert-history-label-search {
		.ant-select-selector {
			border: none;
			background: var(--l2-background);
		}
	}
}
