.timeline-table {
	border-top: 1px solid var(--text-slate-500);
	border-radius: 6px;
	overflow: hidden;
	margin-top: 4px;
	min-height: 600px;
	.ant-table {
		background: var(--bg-ink-500);
		&-cell {
			padding: 12px 16px !important;
			vertical-align: baseline;
			&::before {
				display: none;
			}
		}
		&-thead > tr > th {
			border-color: var(--bg-slate-500);
			background: var(--bg-ink-500);
			font-size: 12px;
			font-weight: 500;
			padding: 12px 16px 8px !important;
		}
		&-tbody > tr > td {
			border: none;
		}
	}

	.label-filter {
		padding: 6px 8px;
		border-radius: 4px;
		background: var(--text-ink-400);
		border-width: 0;
		line-height: 18px;
		& ::placeholder {
			color: var(--text-vanilla-400);
			font-size: 12px;
			letter-spacing: 0.6px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	.alert-rule {
		&-value,
		&__created-at {
			font-size: 14px;
			color: var(--text-vanilla-400);
		}
		&-value {
			font-weight: 500;
			line-height: 20px;
		}
		&__created-at {
			line-height: 18px;
			letter-spacing: -0.07px;
		}
	}
	.ant-table.ant-table-middle {
		border-bottom: 1px solid var(--bg-slate-500);
		border-left: 1px solid var(--bg-slate-500);
		border-right: 1px solid var(--bg-slate-500);

		border-radius: 6px;
	}
	.ant-pagination-item {
		&-active {
			display: flex;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1px 8px;
			border-radius: 2px;
			background: var(--bg-robin-500);
			& > a {
				color: var(--text-ink-500);
				line-height: 20px;
				font-weight: 500;
			}
		}
	}
	.alert-history-label-search {
		.ant-select-selector {
			border: none;
		}
	}
}

.lightMode {
	.timeline-table {
		border-color: var(--bg-vanilla-300);

		.ant-table {
			background: var(--bg-vanilla-100);
			&-thead {
				& > tr > th {
					background: var(--bg-vanilla-100);
					border-color: var(--bg-vanilla-300);
				}
			}
			&.ant-table-middle {
				border-color: var(--bg-vanilla-300);
			}
		}
		.alert-history-label-search {
			.ant-select-selector {
				background: var(--bg-vanilla-200);
			}
		}

		.alert-rule {
			&__value,
			&__created-at {
				color: var(--text-ink-400);
			}
		}
		.ant-pagination-item {
			&-active > a {
				color: var(--text-vanilla-100);
			}
		}
	}
}
