<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			http-equiv="Cache-Control"
			content="no-cache, no-store, must-revalidate, max-age: 0"
		/>
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<title data-react-helmet="true">
			Open source Observability platform | SigNoz
		</title>
		<meta
			data-react-helmet="true"
			property="og:title"
			content="Open source Observability platform | SigNoz"
		/>
		<meta
			data-react-helmet="true"
			name="description"
			content="SigNoz is an open source observability platform to help you find issues in your deployed applications & solve them quickly. It provides a single pane of glass for metrics, traces and logs with deep filtering and aggregation to pin down specific issues very quickly."
		/>
		<meta
			data-react-helmet="true"
			property="og:description"
			content="SigNoz is an open source observability platform to help you find issues in your deployed applications & solve them quickly. It provides a single pane of glass for metrics, traces and logs with deep filtering and aggregation to pin down specific issues very quickly."
		/>
		<meta
			data-react-helmet="true"
			property="og:image"
			content="/images/signoz-hero-image.webp"
		/>
		<meta
			data-react-helmet="true"
			name="twitter:image"
			content="/images/signoz-hero-image.webp"
		/>
		<meta
			data-react-helmet="true"
			name="twitter:image:alt"
			content="Image for Open source Observability platform | SigNoz"
		/>
		<meta
			data-react-helmet="true"
			name="twitter:card"
			content="summary_large_image"
		/>
		<meta data-react-helmet="true" name="docusaurus_locale" content="en" />
		<meta data-react-helmet="true" name="docusaurus_tag" content="default" />
		<meta name="robots" content="noindex">
		<link data-react-helmet="true" rel="shortcut icon" href="/favicon.ico" />

		<link rel="stylesheet" href="/css/uPlot.min.css" />


	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>

		<script>
			//Set your APP_ID
			const APP_ID = '<%= htmlWebpackPlugin.options.INTERCOM_APP_ID %>';

			(function () {
				var w = window;
				var ic = w.Intercom;
				if (typeof ic === 'function') {
					ic('reattach_activator');
					ic('update', w.intercomSettings);
				} else {
					var d = document;
					var i = function () {
						i.c(arguments);
					};
					i.q = [];
					i.c = function (args) {
						i.q.push(args);
					};
					w.Intercom = i;
					var l = function () {
						var s = d.createElement('script');
						s.type = 'text/javascript';
						s.async = true;
						s.src = 'https://widget.intercom.io/widget/' + APP_ID;
						var x = d.getElementsByTagName('script')[0];
						x.parentNode.insertBefore(s, x);
					};
					if (document.readyState === 'complete') {
						l();
					} else if (w.attachEvent) {
						w.attachEvent('onload', l);
					} else {
						w.addEventListener('load', l, false);
					}
				}
			})();
		</script>
		<script>
			const CUSTOMERIO_ID = '<%= htmlWebpackPlugin.options.CUSTOMERIO_ID %>';
			const CUSTOMERIO_SITE_ID = '<%= htmlWebpackPlugin.options.CUSTOMERIO_SITE_ID %>';
			!function(){var i="cioanalytics", analytics=(window[i]=window[i]||[]);if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.setAttribute('data-global-customerio-analytics-key', i);t.src="https://cdp.customer.io/v1/analytics-js/snippet/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._writeKey=key;analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.15.3";
				analytics.load(
				CUSTOMERIO_ID,
				{
				"integrations": {
					"Customer.io In-App Plugin": {
					siteId: CUSTOMERIO_SITE_ID
					}
				}
				}
				);
				analytics.page();
			}}();
		</script>
		<script>
			//Set your SEGMENT_ID
			const SEGMENT_ID = '<%= htmlWebpackPlugin.options.SEGMENT_ID %>';

			!(function () {
				var analytics = (window.analytics = window.analytics || []);
				if (!analytics.initialize)
					if (analytics.invoked)
						window.console &&
							console.error &&
							console.error('Segment snippet included twice.');
					else {
						analytics.invoked = !0;
						analytics.methods = [
							'trackSubmit',
							'trackClick',
							'trackLink',
							'trackForm',
							'pageview',
							'identify',
							'reset',
							'group',
							'track',
							'ready',
							'alias',
							'debug',
							'page',
							'once',
							'off',
							'on',
							'addSourceMiddleware',
							'addIntegrationMiddleware',
							'setAnonymousId',
							'addDestinationMiddleware',
						];
						analytics.factory = function (e) {
							return function () {
								if (window.analytics.initialized)
									return window.analytics[e].apply(window.analytics, arguments);
								var i = Array.prototype.slice.call(arguments);
								i.unshift(e);
								analytics.push(i);
								return analytics;
							};
						};
						for (var i = 0; i < analytics.methods.length; i++) {
							var key = analytics.methods[i];
							analytics[key] = analytics.factory(key);
						}
						analytics.load = function (key, i) {
							var t = document.createElement('script');
							t.type = 'text/javascript';
							t.async = !0;
							t.src =
								'https://analytics-cdn.signoz.io/analytics.js/v1/' +
								key +
								'/analytics.min.js';
							var n = document.getElementsByTagName('script')[0];
							n.parentNode.insertBefore(t, n);
							analytics._loadOptions = i;
						};
						analytics._writeKey = SEGMENT_ID;
						analytics.SNIPPET_VERSION = '4.16.1';
						analytics.load(SEGMENT_ID, {
							integrations: {
								'Segment.io': { apiHost: 'analytics-api.signoz.io/v1' },
							},
						});
						analytics.page();
					}
			})();
		</script>
	</body>
</html>
