.log-state-indicator {
	padding-left: 8px;

	.line {
		margin: 0 8px;
		min-height: 24px;
		height: 100%;
		width: 3px;
		border-radius: 50px;
		background-color: transparent;

		&.INFO {
			background-color: #1d212d;
		}

		&.WARNING {
			background-color: #ffcd56;
		}

		&.ERROR {
			background-color: #e5484d;
		}
	}

	&.isActive {
		.line {
			background-color: var(--bg-robin-400, #7190f9);
		}
	}
}
