.overview {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-8);
	padding: var(--spacing-12) var(--spacing-16);
}

.pageHeader {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--spacing-8);
}

.pageHeaderTitle {
	.title {
		margin: 0;
		font-size: var(--font-size-xl);
		font-weight: var(--font-weight-semibold);
	}

	.subtitle {
		margin: var(--spacing-2) 0 0;
		color: var(--text-vanilla-400);
		font-size: var(--periscope-font-size-base);
	}
}
