.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	height: 48px;
	box-sizing: border-box;
	background: var(--l1-background);
	backdrop-filter: blur(20px);
	border-bottom: 1px solid var(--l2-border);
}

.header-left {
	display: flex;
	align-items: center;
}

.header-right {
	display: flex;
	align-items: center;
}
