.custom-time-picker {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;

	.zoom-out-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		color: var(--secondary-foreground);
		background-color: var(--secondary-background);
		border: 1px solid var(--secondary-border);
		border-radius: 2px;
		box-shadow: none;
		padding: 10px;
		height: 33px;

		&:hover:not(:disabled) {
			color: var(--primary-foreground);
			background: var(--primary-background);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	.timeSelection-input {
		&:hover {
			border-color: var(--l1-border) !important;
		}
	}

	.time-input-suffix {
		display: flex;
	}
}

.time-options-container {
	.time-options-item {
		margin: 2px 0;
		padding: 8px;
		border-radius: 2px;

		&.active {
			background-color: rgba($color: #000000, $alpha: 0.2);

			&:hover {
				cursor: pointer;
				background-color: rgba($color: #000000, $alpha: 0.3);
			}
		}

		&:hover {
			cursor: pointer;
			background-color: rgba($color: #000000, $alpha: 0.3);
		}
	}
}

.time-selection-dropdown-content {
	width: 100%;
}

.timeSelection-input {
	display: flex;
	gap: 8px;
	height: 33px;
	align-items: center;
	padding: 4px 8px;
	padding-left: 0px !important;

	input {
		width: 280px;

		&::placeholder {
			color: var(--l1-foreground);
		}

		&:focus::placeholder {
			color: rgba($color: var(--l1-foreground), $alpha: 0.4);
		}
	}
}

.valid-format-error {
	margin-top: 4px;
	color: var(--bg-cherry-400) !important;
	font-size: 13px !important;
	font-weight: 400 !important;
}

.info-text {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	cursor: default;
	color: var(--l2-foreground) !important;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.14px;
}

.info-text:hover {
	&.ant-btn-text {
		background-color: unset !important;
	}
}

.date-time-popover__footer {
	border-top: 1px solid var(--l1-border);
	padding: 8px 14px;
	.timezone-container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__left {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;

			.timezone__name {
				font-size: 12px;
				line-height: 16px;
				color: var(--bg-robin-400);
				font-weight: 500;
			}

			.timezone__separator {
				font-size: 12px;
				line-height: 16px;
				color: var(--bg-robin-300);
				font-weight: 500;
			}

			.timezone__offset {
				font-size: 11px;
				line-height: 14px;
				color: var(--bg-robin-400);
				font-weight: 500;
			}
		}

		&__right {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
		}

		&,
		.timezone {
			font-family: Inter;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: -0.06px;
		}

		display: flex;
		align-items: center;
		color: var(--l2-foreground);
		gap: 6px;

		.timezone {
			display: flex;
			align-items: center;
			gap: 4px;
			border-radius: 2px;
			background: color-mix(in srgb, var(--bg-robin-200) 4%, transparent);
			cursor: pointer;
			padding: 0px 4px;
			color: var(--l1-foreground);
			border: none;
		}
	}
}

.timezone-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 4px;
	border-radius: 2px;
	color: var(--l2-foreground);
	background-color: var(--l3-background);
	font-size: 9px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: -0.045px;
	margin-right: 4px;
	width: 72px;
	cursor: pointer;
}

.time-input-prefix {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 4px;
	border-radius: 3px;

	width: 36px;

	font-size: 11px;
	color: var(--l2-foreground);
	background-color: var(--l3-background);
	cursor: pointer;

	&.is-live {
		background-color: transparent;
		color: var(--bg-forest-500);
	}

	.live-dot-icon {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--bg-forest-500);
		animation: ripple 1s infinite;

		margin-right: 4px;
		margin-left: 4px;
	}
}

@keyframes ripple {
	0% {
		box-shadow: 0 0 0 0
			color-mix(in srgb, var(--warning-background) 40%, transparent);
	}
	60% {
		box-shadow: 0 0 0 6px transparent;
	}
	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

.time-input-suffix-icon-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 4px;
	border-radius: 2px;
	background: color-mix(in srgb, var(--bg-robin-200) 4%, transparent);
	color: var(--l1-foreground);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.06px;
	cursor: pointer;
	height: 20px;
	width: 20px;

	&:hover {
		background: color-mix(in srgb, var(--bg-robin-200) 8%, transparent);
	}
}
