.input-with-label {
	display: flex;
	flex-direction: row;

	border-radius: 2px 0px 0px 2px;

	.label {
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px; /* 128.571% */
		letter-spacing: 0.56px;

		max-width: 150px;
		min-width: 60px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		padding: 0px 8px;

		border-radius: 2px 0px 0px 2px;
		border: 1px solid var(--input-with-label-border-color, var(--l2-border));
		background: var(--input-with-label-background-color, var(--l2-background));
		color: var(--input-with-label-color, var(--l2-foreground));

		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: var(--font-weight-light);
	}

	.input {
		flex: 1;
		min-width: 150px;
		font-family: 'Space Mono', monospace !important;

		--input-border-radius: 0px;
		border: 1px solid var(--input-with-label-border-color, var(--l2-border));
		background: var(--input-with-label-background-color, var(--l2-background));
		color: var(--input-with-label-color, var(--l2-foreground));

		font-size: 12px !important;
		line-height: 25px;

		position: relative;

		&:hover,
		&:focus {
			z-index: 1;
		}

		.ant-select-selector {
			position: relative;
			border-radius: inherit;
		}

		.ant-select:hover .ant-select-selector,
		.ant-select-focused .ant-select-selector {
			z-index: 1;
		}

		&.input__has-label-after {
			margin-left: -1px;

			.ant-select-selector {
				margin-left: -1px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		&.input__has-close-button {
			.ant-select-selector {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			~ .close-btn {
				margin-left: -1px;
			}
		}

		&::placeholder {
			color: var(--input-with-label-color, var(--l3-foreground)) !important;
			font-size: 12px !important;
		}
		&[type='number']::-webkit-inner-spin-button,
		&[type='number']::-webkit-outer-spin-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
		}
	}

	.close-btn {
		border-radius: 0px 2px 2px 0px;
		border: 1px solid var(--input-with-label-border-color, var(--l2-border));
		background: var(--input-with-label-background-color, var(--l2-background));
		height: 100%;
		width: 38px;
		position: relative;

		&:hover,
		&:focus {
			z-index: 2;
		}
	}

	&.labelAfter {
		.input {
			border-radius: 2px;
			border: 1px solid var(--input-with-label-border-color, var(--l2-border));
			background: var(--input-with-label-background-color, var(--l2-background));
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;

			.ant-select-selector {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.label {
			border-left: none;
			border-radius: 0px 2px 2px 0px;
		}
	}
}
