.explorer-update {
	position: fixed;
	bottom: 16px;
	left: calc(25% + 240px);
	display: flex;
	gap: 16px;
	padding: 8px 16px;
	border-radius: 50px;
	border: 1px solid var(--bg-slate-400, #1d212d);
	background: rgba(22, 24, 29, 0.6);
	box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
}

.explorer-options {
	display: flex;
	gap: 16px;
	padding: 8px 16px;
	border-radius: 50px;
	border: 1px solid var(--bg-slate-400, #1d212d);
	background: rgba(22, 24, 29, 0.6);
	box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	position: fixed;
	bottom: 16px;
	left: calc(50% + 240px);
	transform: translate(calc(-50% - 120px), 0);

	hr {
		border-color: #1d212d;
	}

	.view-options,
	.actions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;

			border: 1px solid #1d2023;
			color: #c0c1c3;
			background-color: #161922;

			box-shadow: none !important;

			&.ant-btn-round {
				padding-inline-start: 10px;
				padding-inline-end: 8px;
				font-weight: 500;
			}

			&.ant-btn-round:disabled {
				background-color: rgba(209, 209, 209, 0.074);
				color: #5f5f5f;
			}
		}

		.ant-select-focused {
			border-color: transparent !important;

			.ant-select-selector {
				border-color: transparent !important;
				box-shadow: none !important;
			}
		}

		.ant-select-selector {
			border: transparent !important;
			background-color: transparent !important;
		}
	}
}

.render-options {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 2px;
	color: var(--bg-vanilla-400);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: -0.07px;

	.dot {
		min-height: 6px;
		min-width: 6px;
		border-radius: 50%;
	}
}



.lightMode {
	.explorer-options {
		border: 1px solid var(--bg-vanilla-300);
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 4px 4px 16px 4px rgba(255, 255, 255, 0.55);
		backdrop-filter: blur(20px);

		hr {
			border-color: var(--bg-vanilla-300);
		}

		.view-options,
		.actions {
			button {
				border: 1px solid var(--bg-vanilla-300);
				color: var(--bg-ink-200);
				background-color: var(--bg-vanilla-300);
			}
		}
	}
}
