.createDowntimeModal {
	.ant-modal-content {
		padding: 16px;
		border-radius: 4px;
		border: 1px solid var(--l1-border);
		background: var(--l2-background);
		box-shadow: 0px -4px 16px 2px rgba(0, 0, 0, 0.2);

		.ant-modal-header {
			background-color: var(--l2-background);
			.ant-typography {
				margin: 0;
				color: var(--l1-foreground);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
			}
		}

		.ant-modal-body {
			.ant-divider {
				margin: 16px 0;
				border: 0.5px solid var(--l1-border);
			}
		}
		.downtime-schedule-btn {
			display: flex;
		}
	}
}

.createForm {
	label {
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;

		padding-bottom: 6px;
	}

	.ant-picker,
	input {
		width: 100%;
		border-radius: 2px;
		border: 1px solid var(--l1-border);
		background: var(--l3-background);
	}

	.alert-rule-tags {
		margin-bottom: 8px;
		overflow: auto;
		max-height: 100px;
		.ant-tag {
			user-select: none;
			height: 28px;
			display: inline-flex;
			align-items: center;
		}
	}

	.ant-select {
		.ant-select-selector {
			border-radius: 2px;
			border: 1px solid var(--l1-border);
			background: var(--l3-background);
		}
	}

	.alert-rule-form {
		display: flex;
		gap: 8px;
		align-items: end;

		.alert-rule-info {
			font-size: 11px;
			font-weight: 300;
			color: var(--l2-foreground);
		}
	}

	.formItemWithBullet {
		margin-bottom: 0;
	}

	.scheduleTimeInfoText {
		margin-top: 8px;
		margin-bottom: 20px;
		font-size: 12px;
		font-weight: 400;
		color: var(--l2-foreground);
	}
}

.alert-rule-tags {
	.ant-tag {
		display: flex;
		align-items: center;
		border: 1px solid color-mix(in srgb, var(--bg-robin-400) 20%, transparent);
		background: color-mix(in srgb, var(--bg-robin-400) 10%, transparent);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		padding-right: 0px;
		border-right: 0;
		color: var(--bg-robin-400);

		.ant-tag-close-icon {
			height: 28px;
			width: 20px !important;
			justify-content: center;
			border-left: 1px solid
				color-mix(in srgb, var(--bg-robin-400) 20%, transparent);
			border-radius: 0px 2px 2px 0px;
			background: color-mix(in srgb, var(--bg-robin-400) 30%, transparent);
			border-right: 1px solid
				color-mix(in srgb, var(--bg-robin-400) 20%, transparent);
			margin-right: 0px;

			svg {
				fill: var(--primary-background);
			}
		}
	}
	.non-closable-tag {
		padding-right: 7px;
		border-right: 1px solid
			color-mix(in srgb, var(--bg-robin-400) 20%, transparent);
	}

	.red-tag.non-closable-tag {
		border-right: 1px solid
			color-mix(in srgb, var(--bg-sakura-500) 20%, transparent) !important;
	}

	.red-tag {
		border: 1px solid color-mix(in srgb, var(--bg-sakura-500) 20%, transparent);
		background: color-mix(in srgb, var(--bg-sakura-500) 10%, transparent);
		border-right: 0;
		color: var(--bg-sakura-400);

		.ant-tag-close-icon {
			background: color-mix(in srgb, var(--bg-sakura-500) 30%, transparent);
			border-left: 1px solid
				color-mix(in srgb, var(--bg-sakura-500) 20%, transparent);
			border-right: 1px solid
				color-mix(in srgb, var(--bg-sakura-500) 20%, transparent);

			svg {
				fill: var(--bg-sakura-500);
			}
		}
	}
}

.datePicker {
	.ant-picker-panel-container {
		background: var(--l3-background) !important;
	}
}

.planned-downtime-container {
	display: flex;
	justify-content: center;
	width: 100%;

	.planned-downtime-content {
		width: calc(100% - 30px);
		max-width: 736px;

		.title {
			color: var(--l1-foreground);
			font-size: var(--font-size-lg);
			font-style: normal;
			font-weight: var(--font-weight-normal);
			line-height: 28px;
			letter-spacing: -0.09px;
		}

		.subtitle {
			color: var(---bg-vanilla-400);
			font-size: var(--font-size-sm);
			font-style: normal;
			font-weight: var(--font-weight-normal);
			line-height: 20px;
			letter-spacing: -0.07px;
		}

		.ant-input-affix-wrapper {
			margin-top: 16px;
			margin-bottom: 8px;
		}

		.toolbar {
			display: flex;
			align-items: center;
			gap: 8px;

			.ant-btn {
				margin-top: 8px;
			}
		}

		.schedule-created-at {
			border: 1px solid var(--l1-border);
			background-color: var(--l2-background);
			border-top: 0px;
			width: 100%;
			padding: 8px 16px;
			gap: 6px;
			height: 40px;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;

			display: flex;
			align-items: center;
			.ant-typography {
				color: var(--l2-foreground);
				font-variant-numeric: lining-nums tabular-nums stacked-fractions
					slashed-zero;
				font-feature-settings:
					'dlig' on,
					'salt' on,
					'cpsp' on,
					'case' on;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: -0.07px;
			}
		}

		.ant-collapse-header {
			height: 56px;
			align-items: center;
		}

		.header-content {
			display: flex;
			gap: 8px;

			.ant-typography {
				color: var(--l2-foreground);
				font-variant-numeric: lining-nums tabular-nums stacked-fractions
					slashed-zero;
				font-feature-settings:
					'dlig' on,
					'salt' on,
					'cpsp' on,
					'case' on;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: -0.07px;
			}
			.ant-tag {
				border-radius: 20px;
			}

			.action-btn {
				display: flex;
				align-items: center;
				gap: 20px;
				cursor: pointer;

				.hidden {
					display: none;
				}
			}
		}
	}
}

.new-downtime-menu {
	.create-downtime-menu-item {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.planned-downtime-table {
	.ant-table {
		background: none !important;
	}
	.ant-table-cell {
		padding: 0 !important;
		border: 0 !important;
		width: 736px;
	}

	.ant-table-tbody {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.collapse-list {
			border: 1px solid var(--l1-border);
			background-color: var(--l2-background);
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;

			.render-item-collapse-list {
				margin-bottom: 13px;
				display: grid;
				grid-template-columns: 128px 1fr;
			}

			.alert-rule-collapse-list {
				width: 540px;
				max-height: 100px;
				overflow: auto;

				.ant-tag {
					height: 28px;
					display: flex;
					align-items: center;
				}
			}
			.ant-collapse-content-active {
				border-top: 0;
			}

			.ant-collapse-item {
				border: none;
			}
			.ant-collapse-content-box {
				padding: 8px 20px 12px 38px;

				.render-item-value {
					.ant-typography {
						color: var(--l1-foreground);
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px;
					}
				}
			}

			.ant-typography {
				color: var(--l2-foreground);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}
		}
	}
}

.delete-schedule-modal {
	width: calc(100% - 30px) !important; /* Adjust the 20px as needed */
	max-width: 384px;
	.ant-modal-content {
		padding: 0;
		border-radius: 4px;
		border: 1px solid var(--l1-border);
		background: var(--l2-background);
		box-shadow: 0px -4px 16px 2px rgba(0, 0, 0, 0.2);

		.ant-modal-header {
			padding: 16px;
			background: var(--l2-background);
		}

		.ant-modal-body {
			padding: 0px 16px 28px 16px;

			.ant-typography {
				color: var(--l2-foreground);
				font-size: var(--font-size-sm);
				font-style: normal;
				font-weight: var(--font-weight-normal);
				line-height: 20px;
				letter-spacing: -0.07px;
			}

			.save-view-input {
				margin-top: 8px;
				display: flex;
				gap: 8px;
			}

			.ant-color-picker-trigger {
				padding: 6px;
				border-radius: 2px;
				border: 1px solid var(--l1-border);
				background: var(--l3-background);
				width: 32px;
				height: 32px;

				.ant-color-picker-color-block {
					border-radius: 50px;
					width: 16px;
					height: 16px;
					flex-shrink: 0;

					.ant-color-picker-color-block-inner {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}

		.ant-modal-footer {
			display: flex;
			justify-content: flex-end;
			padding: 16px 16px;
			margin: 0;

			.cancel-btn {
				display: flex;
				align-items: center;
				border: none;
				border-radius: 2px;
				background: var(--l1-border);
			}

			.delete-btn {
				display: flex;
				align-items: center;
				border: none;
				border-radius: 2px;
				background: var(--danger-background);
				margin-left: 12px;
			}

			.delete-btn:hover {
				color: var(--l1-foreground);
				background: var(--bg-cherry-600);
			}
		}
	}
	.title {
		color: var(--l1-foreground);
		font-size: var(--font-size-sm);
		font-style: normal;
		font-weight: var(--font-weight-medium);
		line-height: 20px; /* 142.857% */
	}
}

.duration-input {
	.ant-select {
		width: 100px;
	}
}
