.trace-layout {
	display: flex;
	flex-direction: column;
	gap: 25px;

	.flamegraph-waterfall-toggle {
		display: flex;
		gap: 4px;
		align-items: center;
		justify-content: center;
		height: 31px;
		color: var(--bg-vanilla-400);
		padding: 5px 20px;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.07px;

		.ant-btn-icon {
			margin-inline-end: 0px !important;
		}
	}

	.span-list-toggle {
		display: flex;
		gap: 4px;
		align-items: center;
		justify-content: center;
		height: 31px;
		padding: 5px 20px;
		color: var(--bg-vanilla-400);
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.07px;

		.ant-btn-icon {
			margin-inline-end: 0px !important;
		}
	}

	.ant-tabs-tab {
		border-radius: 2px 0px 0px 0px;
		background: var(--bg-ink-400);
		border-radius: 2px 2px 0px 0px;
		border: 1px solid var(--bg-slate-400);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		height: 31px;
	}

	.ant-tabs-tab-active {
		background-color: var(--bg-ink-500);

		.ant-btn {
			color: var(--bg-vanilla-100) !important;
		}
	}

	.ant-tabs-tab + .ant-tabs-tab {
		margin: 0px;
		border-left: 0px;
	}

	.ant-tabs-ink-bar {
		height: 1px !important;
		background: var(--bg-ink-500) !important;
	}

	.ant-tabs-nav-list {
		transform: translate(15px, 0px) !important;
	}

	.ant-tabs-nav::before {
		border-bottom: 1px solid var(--bg-slate-500);
	}

	.ant-tabs-nav {
		margin: 0px;
	}
}
