.traces-module-container {
	.funnel-icon {
		transform: rotate(180deg);
	}

	.trace-detail-header-actions {
		display: flex;
		align-items: center;
		gap: 8px;
		padding-right: 16px;
	}
	.trace-module {
		.ant-tabs-tab {
			.tab-item {
				display: flex;
				align-items: center;
				gap: 8px;
				color: var(--l2-foreground);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}
		}

		.ant-tabs-tab-active {
			.tab-item {
				color: var(--l1-foreground);
			}
		}
		.ant-tabs-nav {
			margin: 0px;
			padding: 0px !important;
		}

		.ant-tabs-nav::before {
			border-bottom: 1px solid var(--l1-border) !important;
		}

		.ant-tabs-nav-list {
			transform: translate(15px, 0px) !important;
		}
	}

	.old-switch {
		display: flex;
		align-items: center;
		color: var(--l2-foreground);

		/* Bifrost (Ancient)/Content/sm */
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
		letter-spacing: -0.07px;

		.ant-btn-icon {
			margin-inline-end: 0px;
		}
	}

	.trace-layout {
		display: flex;
		height: calc(100vh - 44px);

		.trace-left-content {
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding-top: 16px;
		}
	}
}
