.qb-search-view-container {
	padding: 8px 16px;
	border-top: 1px solid var(--bg-slate-400, #1d212d);
	border-bottom: 1px solid var(--bg-slate-400, #1d212d);

	.ant-select-selector {
		border-radius: 2px;
		border: 1px solid var(--bg-slate-400) !important;
		background-color: var(--bg-ink-300) !important;

		input {
			font-size: 12px;
		}

		.ant-tag .ant-typography {
			font-size: 12px;
		}
	}
}

.lightMode {
	.qb-search-view-container {
		border-top: 1px solid var(--bg-vanilla-300);
		border-bottom: 1px solid var(--bg-vanilla-300);

		.ant-select-selector {
			border-color: var(--bg-vanilla-300) !important;
			background-color: var(--bg-vanilla-100) !important;
			color: var(--bg-ink-200);
		}
	}
}
