.qb-search-view-container {
	padding: 8px 16px;

	.ant-select-selector {
		border-radius: 2px;
		border: 1px solid var(--bg-slate-400) !important;
		background-color: var(--bg-ink-300) !important;

		input {
			font-size: 12px;
		}

		.ant-tag .ant-typography {
			font-size: 12px;
		}
	}
}

.lightMode {
	.qb-search-view-container {
		.ant-select-selector {
			border-color: var(--bg-vanilla-300) !important;
			background-color: var(--bg-vanilla-100) !important;
			color: var(--bg-ink-200);
		}
	}
}
