.qb-search-view-container {
	padding: 8px 16px;

	.ant-select-selector {
		border-radius: 2px;
		border: 1px solid var(--l1-border) !important;
		background-color: var(--l1-background) !important;
		color: var(--l2-foreground);

		input {
			font-size: 12px;
		}

		.ant-tag .ant-typography {
			font-size: 12px;
		}
	}
}
