.create-alert-modal {
	.ant-modal-content {
		background-color: var(--l3-background);
		.ant-modal-confirm-title {
			color: var(--l1-foreground);
		}

		.ant-modal-confirm-content {
			.ant-typography {
				color: var(--l1-foreground);
			}
		}

		.ant-modal-confirm-btns {
			button:nth-of-type(1) {
				background-color: var(--l1-border);
				border: none;
				color: var(--l1-foreground);
			}
		}
	}
}

.form-alert-rules-container {
	&.create-mode {
		padding: 16px;
	}
}

.triggered-alerts-container {
	padding: 8px;
}

.alert-rules-list-container {
	padding: 8px;
}

.planned-downtime-container {
	padding: 8px;
}

.steps-container {
	width: 80%;
}

.qb-chart-preview-container {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.overview-header {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.alert-type-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;

		.alert-type-title {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
		}

		.ant-typography {
			margin: 0;
		}
	}
}

.chart-preview-container {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 1rem;

	.ant-card {
		flex: 1;
	}
}

.detection-method-container {
	margin: 24px 0;

	.ant-tabs-nav {
		margin-bottom: 0;

		.ant-tabs-tab {
			padding: 12px 0;
		}
	}

	.detection-method-description {
		padding: 8px 0;
		font-size: 12px;
	}
}

.info-help-btns {
	display: grid;
	grid-template-columns: auto auto;
	gap: 12px;
	margin-top: 20px;

	.doc-redirection-btn {
		color: var(--bg-aqua-500) !important;
		border-color: var(--bg-aqua-500) !important;
	}

	.facing-issue-btn {
		width: 100% !important;
	}
}

.create-notification-btn {
	box-shadow: none;
}
