.ruleDefinition {
	--typography-text-display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-4);
	align-items: center;
}

.ruleUnitSelector {
	width: 150px;
}

.formContainer {
	--input-background: var(--l2-background);
	--input-hover-background: var(--l2-background);
	--input-focus-background: var(--l2-background);
	--input-border-color: var(--l2-border);
	--input-hover-border-color: var(--internal-ant-border-color-hover);
	--input-focus-border-color: var(--internal-ant-border-color-hover);

	:global(.ant-input-number-group-addon) {
		background-color: var(--l3-background);
		border: 1px solid var(--l3-border);
		color: var(--l2-foreground);
	}

	:global(.ant-input),
	:global(.ant-input-number) {
		background-color: var(--l3-background);
		border: 1px solid var(--l3-border);
		color: var(--l2-foreground);
		height: 32px;

		&::placeholder {
			font-family: 'Space Mono';
		}

		&:hover {
			border-color: var(--internal-ant-border-color-hover);
		}

		&:focus {
			border-color: var(--internal-ant-border-color-focus);
		}
	}

	:global(.ant-select) {
		:global(.ant-select-selector) {
			background-color: var(--l3-background);
			border: 1px solid var(--l3-border);
			color: var(--muted-foreground);

			&:hover {
				border-color: var(--internal-ant-border-color-hover);
			}

			&:focus {
				border-color: var(--internal-ant-border-color-focus);
			}
		}

		:global(.ant-select-selection-item) {
			color: var(--l1-foreground);
		}

		:global(.ant-select-arrow) {
			color: var(--muted-foreground);
		}
	}
}
