.notification-settings-container {
	display: flex;
	flex-direction: column;
	margin: 0 16px;

	.notification-message-container {
		display: flex;
		flex-direction: column;
		margin-top: -8px;

		.ant-tabs {
			.ant-tabs-nav {
				margin-bottom: 4px;

				.ant-tabs-nav-wrap {
					border-bottom: 1px solid var(--bg-slate-400);

					.ant-tabs-nav-list {
						.ant-tabs-tab {
							.ant-tabs-tab-btn {
								font-family: Inter !important;
								font-size: 14px !important;
							}
						}

						.ant-tabs-tab-active {
							.ant-tabs-tab-btn {
								color: var(--bg-vanilla-100);
							}
						}
					}
				}
			}

			.ant-tabs-content-holder {
				.ant-tabs-content {
					.ant-tabs-tabpane {
						textarea {
							height: 350px;
							background: var(--bg-ink-400);
							border: 1px solid var(--bg-slate-400);
							border-radius: 4px;
							color: var(--bg-vanilla-400) !important;
							font-family: Inter;
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.multiple-notifications-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
		background-color: var(--bg-ink-400);
		border: 1px solid var(--bg-slate-400);
		padding: 16px;
		margin-top: 16px;

		.border-bottom {
			border-bottom: 1px solid var(--bg-slate-400);
			width: 100%;
			margin-left: -16px;
			margin-right: -32px;
		}

		.ant-radio-group {
			.ant-radio-wrapper {
				display: flex;
				align-items: flex-start;
				gap: 8px;

				&:first-child {
					margin-bottom: 20px;
				}

				&:last-child {
					margin-top: 16px;
				}

				.ant-radio {
					align-self: flex-start;
					padding-top: 8px;
				}

				.ant-select {
					height: 32px;
					width: 200px;
					margin: 0 12px;

					.ant-select-selector {
						background-color: var(--bg-ink-400);
						border: 1px solid var(--bg-slate-400);
						border-radius: 4px;
						color: var(--bg-vanilla-400);
					}
				}
			}
		}

		.multiple-notifications-container-item {
			.multiple-notifications-container-item-title {
				font-size: 14px;
			}
		}
	}

	.re-notification-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
		background-color: var(--bg-ink-400);
		border: 1px solid var(--bg-slate-400);
		padding: 16px;
		margin-top: 16px;

		.advanced-option-item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 16px;

			.advanced-option-item-left-content {
				display: flex;
				flex-direction: column;
				gap: 6px;

				.advanced-option-item-title {
					color: var(--bg-vanilla-300);
					font-family: Inter;
					font-size: 14px;
					font-weight: 500;
				}

				.advanced-option-item-description {
					color: var(--bg-vanilla-400);
					font-family: Inter;
					font-size: 14px;
					font-weight: 400;
				}
			}
		}

		.border-bottom {
			border-bottom: 1px solid var(--bg-slate-400);
			width: 100%;
			margin-left: -16px;
			margin-right: -32px;
		}

		.re-notification-condition {
			display: flex;
			align-items: center;
			gap: 8px;
			flex-wrap: nowrap;

			.ant-typography {
				font-size: 14px;
				font-weight: 400;
				color: var(--bg-vanilla-400);
				white-space: nowrap;
			}

			.ant-select {
				width: 200px;
				height: 32px;
				flex-shrink: 0;
				.ant-select-selector {
					border: 1px solid var(--bg-slate-400);
				}
			}

			.ant-input {
				width: 200px;
				flex-shrink: 0;
				border: 1px solid var(--bg-slate-400);
			}
		}
	}
}

.lightMode {
	.notification-settings-container {
		.notification-message-container {
			.ant-tabs {
				.ant-tabs-nav {
					.ant-tabs-nav-wrap {
						border-bottom: 1px solid var(--bg-vanilla-300);

						.ant-tabs-nav-list {
							.ant-tabs-tab-active {
								.ant-tabs-tab-btn {
									color: var(--bg-ink-400);
								}
							}
						}
					}
				}

				.ant-tabs-content-holder {
					.ant-tabs-content {
						.ant-tabs-tabpane {
							textarea {
								background: var(--bg-vanilla-200);
								border: 1px solid var(--bg-vanilla-300);
								color: var(--bg-ink-400) !important;
							}
						}
					}
				}
			}
		}

		.multiple-notifications-container {
			background-color: var(--bg-vanilla-200);
			border: 1px solid var(--bg-vanilla-300);

			.border-bottom {
				border-bottom: 1px solid var(--bg-vanilla-300);
			}

			.ant-radio-group {
				.ant-radio-wrapper {
					.ant-select {
						.ant-select-selector {
							background-color: var(--bg-vanilla-200);
							border: 1px solid var(--bg-vanilla-300);
							color: var(--bg-ink-400);
						}
					}
				}
			}
		}

		.re-notification-container {
			background-color: var(--bg-vanilla-200);
			border: 1px solid var(--bg-vanilla-300);

			.advanced-option-item {
				.advanced-option-item-left-content {
					.advanced-option-item-title {
						color: var(--bg-ink-300);
					}

					.advanced-option-item-description {
						color: var(--bg-ink-400);
					}
				}
			}

			.border-bottom {
				border-bottom: 1px solid var(--bg-vanilla-300);
			}

			.re-notification-condition {
				.ant-typography {
					color: var(--bg-ink-400);
				}

				.ant-select {
					.ant-select-selector {
						border: 1px solid var(--bg-vanilla-300);
					}
				}

				.ant-input {
					border: 1px solid var(--bg-vanilla-300);
				}
			}
		}
	}
}
