.alert-status-info {
	gap: 6px;
	color: var(--l2-foreground);
	&__icon {
		display: flex;
		align-items: baseline;
	}
	&,
	&__details {
		display: flex;
		align-items: center;
	}
	&__details {
		gap: 3px;
	}
}
