.entityGroupHeader {
	display: flex;
	align-items: center;
	gap: var(--spacing-5);
	padding-left: 4px;
}

.infoIcon {
	display: inline-flex;
	align-items: center;
	color: var(--text-slate-secondary);
	cursor: pointer;

	&:hover {
		color: var(--text-slate-primary);
	}
}
