.connection-status-container {
	.full-docs-link {
		margin-bottom: $size-9;

		.header {
			display: flex;
			align-items: center;
			gap: $size-4;
			margin: $size-4 $size-0;

			img {
				height: $size-10;
			}

			h1 {
				font-size: 18px;
				display: flex;
				align-items: center;
				color: #e5e7eb;
				gap: $size-4;
				margin: $size-0;
			}
		}
	}

	.status-container {
		display: flex;
		justify-content: space-between;
		gap: $size-6;

		.title {
			text-transform: capitalize;
		}
	}

	.service-info,
	.language-info,
	.status-info,
	.details-info {
		display: flex;
		gap: $size-2;
		flex-direction: column;
	}

	.language-info {
		.language {
			text-transform: capitalize;
		}
	}

	.service-info {
		flex: 2;
	}

	.language-info {
		flex: 2;
	}

	.status-info {
		flex: 1;
	}

	.details-info {
		flex: 3;
	}

	.status {
		display: flex;
		gap: $size-2;

		svg {
			width: $size-4;
			height: $size-4;
		}
	}
}

$lightModeFontColor: rgb(29, 29, 29);

.lightMode {
	.connection-status-container {
		.header .title {
			color: $lightModeFontColor;

			h1 {
				color: $lightModeFontColor;
			}
		}

		.status-container {
			color: $lightModeFontColor;
		}
	}
}

.text-capitalize {
	text-transform: capitalize;
}
