.headerSkeleton {
	width: 60% !important;
	min-width: 50px !important;
	height: 16px !important;

	:global(.ant-skeleton-input) {
		min-width: 50px !important;
		height: 16px !important;
	}
}

.cellSkeleton {
	width: 80% !important;
	min-width: 40px !important;
	height: 14px !important;

	:global(.ant-skeleton-input) {
		min-width: 40px !important;
		height: 14px !important;
	}
}
