.selectOptionContainer {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	overflow-x: auto;

	&::-webkit-scrollbar {
		width: 0.2rem;
		height: 0.2rem;
	}
}

.option-renderer-tooltip {
	pointer-events: none;
}
