.domain-mapping-list {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 2px;
		margin-bottom: 4px;
	}

	&__title {
		margin: 0;
		color: var(--l1-foreground);
	}

	&__description {
		margin: 0;
		color: var(--l3-foreground);
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		gap: 8px;

		.ant-form-item {
			margin-bottom: 0;
		}
	}

	&__field {
		flex: 1;
	}
}
