.userInfo-label {
	min-width: 150px;
}

.userInfo-value {
	min-width: 20rem;
}

.user-info-card {
	border-radius: 4px 4px 0px 0px;
	border: 1px solid var(--Slate-500, #161922);
	background: var(--Ink-400, #121317);

	border-radius: 3px;
}
