.query-builder-container {
	position: relative;
	border-top: 1px solid var(--l1-border);
	border-bottom: 1px solid var(--l1-border);
	background: var(--l1-background);

	// height: 280px;
	// overflow: hidden;

	.query-builder-left-col {
		// min-height: 280px;
		// position: relative;

		border-top: 1px solid var(--l1-border);
		border-right: 1px solid var(--l1-border);
		border-bottom: 1px solid var(--l1-border);
		border-left: 1px solid var(--l1-border);
		background: var(--l1-background);
	}

	.new-query-formula-buttons-container {
		position: absolute;
		display: flex;
		z-index: 10;
		bottom: 10px;
		left: 16px;

		border-radius: 2px;
		background: var(--l2-background);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

		.ant-btn {
			border-radius: 0px;
			border: 1px solid var(--l1-border);
			background: var(--l2-background);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

			padding: 2px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.query-builder-mini-map {
		border-left: 1px solid var(--l1-border);
		border-right: 1px solid var(--l1-border);

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 8px;
		align-items: center;
		padding: 8px;

		// min-height: 280px;
		// height: 100%;
		// overflow-y: auto;

		.ant-btn {
			min-width: 32px;
			padding: 4px 9px;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 2px;

			&.query-btn {
				color: var(--bg-sakura-400);

				border: 1px solid color-mix(in srgb, var(--bg-sakura-500) 20%, transparent);
				background: color-mix(in srgb, var(--bg-sakura-500) 10%, transparent);

				&:hover {
					border: 1px solid color-mix(in srgb, var(--bg-sakura-500) 40%, transparent);
					color: var(--bg-sakura-400);
				}
			}

			&.formula-btn {
				color: var(--bg-sienna-400);

				border: 1px solid color-mix(in srgb, var(--bg-sienna-400) 20%, transparent);
				background: color-mix(in srgb, var(--bg-sienna-400) 10%, transparent);

				&:hover {
					border: 1px solid color-mix(in srgb, var(--bg-sienna-400) 40%, transparent);
					color: var(--bg-sienna-400);
				}
			}
		}
	}

	.qb-entities-list {
		// height: 280px;
		// overflow-y: auto;
		// height: 100%;

		scroll-behavior: smooth;
	}

	.query-builder {
		padding: 12px;

		// height: 348px;
		// overflow-y: auto;
		// scroll-snap-align: start;

		.query-builder-queries-formula-container {
			display: flex;
			gap: 16px;
			// height: 100%;

			scroll-snap-type: y mandatory;

			.query,
			.formula {
				scroll-snap-align: start;
			}
		}

		.ant-select-selector {
			border-radius: 2px;
			border: 1px solid var(--l1-border);
			background: var(--l3-background);

			input {
				font-size: 12px;
			}

			.ant-tag .ant-typography {
				font-size: 12px;
			}
		}

		.ant-input-number {
			border-radius: 2px;
			border: 1px solid var(--l1-border);
		}

		.divider {
			margin: 12px -12px;

			.ant-divider-horizontal {
				width: calc(100% + 24px);
				margin: 24px 0 12px;
				border-block-start: 2px solid var(--l1-border);
			}
		}
	}

	::-webkit-scrollbar {
		height: 0.2rem;
		width: 0.2rem;
	}
}
