.dashboardPageTitleWithActions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: var(--l2-foreground);
	background-color: var(--l1-background);
	padding: 16px;
	box-shadow: 0 2px 2px 0px var(--l2-border);
	position: sticky;
	top: 0;
	align-self: flex-start;
	z-index: 10;
}
