.dashboardPageToolbarContainer {
	position: sticky;
	top: 0;
	z-index: 10;
	color: var(--l2-foreground);
	background-color: var(--l1-background);
	padding: 16px;
	box-shadow:
		0 1px 0 0 var(--l2-border),
		0 6px 12px -10px var(--l2-border);
}

.dashboardPageToolbarSubContainer {
	width: 100%;
}

.dashboardInfoWithActions {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
}

.toolbarRow2 {
	width: 100%;
	margin-top: 12px;

	&::after {
		display: block;
		clear: both;
		content: '';
	}
}

.timeCluster {
	float: right;
	margin: 0 0 0 16px;
}
