.top-traces-with-errors {
	padding: 16px;
	border-radius: 3px;
	height: 350px;
	border: 1px solid var(--bg-slate-500);
	background: linear-gradient(
			0deg,
			rgba(171, 189, 255, 0.01) 0%,
			rgba(171, 189, 255, 0.01) 100%
		),
		#0b0c0e;
}
