.sidenav-container {
	width: 64px;
	height: 100%;
	position: relative;
	z-index: 1;

	&.pinned {
		width: 240px;
	}
}

.sideNav {
	flex: 0 0 64px;
	height: 100%;
	max-width: 64px;
	min-width: 64px;
	width: 64px;
	border-right: 1px solid var(--Slate-500, #161922);
	background: var(--Ink-500, #0b0c0e);

	padding-bottom: 48px;
	transition: all 0.2s, background 0s, border 0s;

	.brand-container {
		padding: 8px 16px;
	}

	.brand-company-meta {
		display: flex;
		gap: 8px;
	}

	.brand {
		display: flex;
		align-items: center;

		gap: 32px;
		height: 32px;

		.brand-logo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;

			cursor: pointer;

			img {
				height: 16px;
			}

			.brand-logo-name {
				font-family: 'Work Sans', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px;

				color: #fff;
			}
		}

		.brand-title-section {
			display: none;

			.license-type {
				display: flex;
				padding: 2px 6px;
				justify-content: center;
				align-items: center;
				gap: 4px;

				border-radius: 4px 0px 0px 4px;
				background: var(--Slate-400, #1d212d);

				color: var(--Vanilla-100, #fff);
				text-align: center;
				font-family: Inter;
				font-size: 10px;
				font-style: normal;
				font-weight: 600;
				line-height: 14px; /* 140% */
				letter-spacing: 0.4px;
				text-transform: uppercase;
			}

			.version {
				display: flex;
				padding: 2px 6px;
				justify-content: center;
				align-items: center;
				gap: 4px;

				border-radius: 0px 4px 4px 0px;
				background: var(--Slate-300, #242834);

				color: var(--Vanilla-400, #c0c1c3);
				text-align: center;
				font-variant-numeric: lining-nums tabular-nums slashed-zero;
				font-feature-settings: 'salt' on;
				font-family: Inter;
				font-size: 10px;
				font-style: normal;
				font-weight: 500;
				line-height: 14px; /* 140% */
				letter-spacing: 0.4px;
			}

			&.community-enterprise-user {
				color: var(--bg-sakura-500);
				background: rgba(255, 113, 113, 0.1);
				border: 1px solid var(--bg-sakura-500);
			}
		}

		.user-history-section {
			display: none;
		}

		.dockBtn {
			cursor: pointer;
			background: none;
			border: none;
			padding: 0;
			height: 16px;
			width: 16px;
		}
	}

	.get-started-nav-items {
		display: flex;
		margin: 4px 13px 12px 10px;

		.get-started-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;
			margin-left: 2px;
			gap: 8px;

			width: 100%;
			height: 32px;

			border-radius: 3px;
			border: 1px solid var(--Slate-400, #1d212d);
			background: var(--Slate-500, #161922);

			box-shadow: none !important;
		}
	}

	.nav-wrapper {
		// height: calc(100% - 52px);
		height: 100%;
		max-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.nav-top-section {
			display: flex;
			flex-direction: column;
			flex: 1;
			overflow-y: auto;
			overflow-x: hidden;

			.primary-nav-items {
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				overflow-x: hidden;

				&::-webkit-scrollbar {
					width: 0.1rem;
				}
			}

			.shortcut-nav-items,
			.more-nav-items {
				.nav-title-section {
					display: flex;
					flex-direction: column;
					gap: 4px;

					margin-top: 16px;
				}

				.nav-section-title {
					color: var(--Slate-50, #62687c);
					font-family: Inter;
					font-size: 11px;
					font-style: normal;
					font-weight: 600;
					line-height: 18px; /* 163.636% */
					letter-spacing: 0.88px;
					text-transform: uppercase;

					display: flex;
					align-items: center;
					gap: 8px;

					padding: 0 20px;

					.nav-section-title-text {
						display: none;
					}

					.nav-section-title-icon {
						&.reorder {
							display: block;
							cursor: pointer;
							margin-left: auto;
						}
					}
				}

				.nav-section-subtitle {
					color: var(--Vanilla-400, #c0c1c3);
					font-family: Inter;
					font-size: 11px;
					font-style: normal;
					font-weight: 300;
					line-height: 14px; /* 150% */
					letter-spacing: 0.4px;

					padding: 0 20px;
					opacity: 0.6;

					display: none;

					transition: all 0.3s, background 0s, border 0s;
					transition-delay: 0.1s;
				}

				.nav-items-section {
					margin-top: 8px;
					display: flex;
					flex-direction: column;
					gap: 4px;
				}
			}
		}

		.nav-bottom-section {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			overflow-y: auto;
			overflow-x: hidden;

			padding: 12px 0px;

			.secondary-nav-items {
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				overflow-y: auto;
				overflow-x: hidden;
				padding: 8px 0;
				max-width: 100%;
				width: 64px;
				// width: 100%; // temp

				transition: all 0.2s, background 0s, border 0s;

				background: linear-gradient(180deg, rgba(11, 12, 14, 0) 0%, #0b0c0e 27.11%);

				&::-webkit-scrollbar {
					width: 0.1rem;
				}

				.collapse-expand-handlers {
					position: absolute;

					top: -9px;
					right: -9px;
					cursor: pointer;

					display: none;

					transition: display 0.3s;

					svg {
						fill: var(--bg-vanilla-400);
						color: var(--bg-slate-300);
					}
				}
			}
		}
	}

	.nav-wrapper-cloud {
		// height: calc(100% - 88px);
		height: 100%;
	}

	&.collapsed {
		flex: 0 0 64px;
		max-width: 64px;
		min-width: 64px;
		width: 64px;

		.nav-wrapper {
			.nav-top-section {
				.shortcut-nav-items {
					.nav-section-title,
					.nav-section-subtitle {
						display: none;
					}
				}
			}

			.nav-bottom-section {
				.secondary-nav-items {
					width: 64px;
				}
			}
		}

		.get-started-nav-items {
			.get-started-btn {
				justify-content: center;
			}
		}
	}

	.nav-item-label {
		display: none;
	}

	.nav-item-beta,
	.nav-item-new {
		display: none;
	}

	.sidenav-new-tag {
		border-radius: 12px;
		background: var(--Robin-500, #4e74f8);

		color: var(--Vanilla-100, #fff);
		font-variant-numeric: lining-nums tabular-nums slashed-zero;
		font-feature-settings: 'case' on, 'cpsp' on, 'dlig' on, 'salt' on;
		font-family: Inter;
		font-size: 9px;
		font-style: normal;
		font-weight: 300;
		line-height: 12px; /* 140% */
		letter-spacing: 0.3px;
		text-transform: uppercase;
	}

	.sidenav-beta-tag {
		color: var(--Vanilla-100, #fff);
		font-variant-numeric: lining-nums tabular-nums slashed-zero;
		font-feature-settings: 'case' on, 'cpsp' on, 'dlig' on, 'salt' on;
		font-family: Inter;
		font-size: 9px;
		font-style: normal;
		font-weight: 300;
		line-height: 12px; /* 140% */
		letter-spacing: 0.3px;
		text-transform: uppercase;

		border-radius: 12px;
		background: var(--bg-slate-300);
	}

	&:hover {
		flex: 0 0 240px;
		max-width: 240px;
		min-width: 240px;
		width: 240px;

		position: absolute;
		height: 100%;
		z-index: 10;
		background: #0b0c0e;

		.brand {
			justify-content: space-between;

			.brand-title-section {
				display: flex;
				align-items: center;
			}
		}

		.user-history-section {
			display: block;
		}

		.nav-wrapper {
			.nav-top-section {
				.shortcut-nav-items {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;
					overflow-y: auto;
					overflow-x: hidden;

					.nav-section-title {
						.nav-section-title-text {
							display: block;
						}

						.nav-section-title-icon {
							&.reorder {
								display: block;
							}
						}
					}

					.nav-section-subtitle {
						display: block;
					}
				}

				.more-nav-items {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;
					overflow-y: auto;
					overflow-x: hidden;

					.nav-section-title {
						.nav-section-title-text {
							display: block;
						}
					}

					.nav-section-subtitle {
						display: block;
					}
				}
			}

			.nav-bottom-section {
				.secondary-nav-items {
					width: 240px;
				}
			}
		}

		.get-started-nav-items {
			.get-started-btn {
				justify-content: flex-start;
			}
		}

		.collapse-expand-handlers {
			display: block;
		}

		.nav-item-label {
			display: block;
		}

		.nav-item-beta,
		.nav-item-new {
			display: block;
		}
	}

	&.pinned {
		flex: 0 0 240px;
		max-width: 240px;
		min-width: 240px;
		width: 240px;

		position: absolute;
		height: 100%;
		z-index: 10;
		background: #0b0c0e;

		.brand {
			justify-content: space-between;

			.brand-title-section {
				display: flex;
				align-items: center;
			}
		}

		.user-history-section {
			display: block;
		}

		.nav-wrapper {
			.nav-top-section {
				.shortcut-nav-items {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;
					overflow-y: auto;
					overflow-x: hidden;

					.nav-section-title {
						.nav-section-title-text {
							display: block;
						}
					}

					.nav-section-subtitle {
						display: block;
					}
				}

				.more-nav-items {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;
					overflow-y: auto;
					overflow-x: hidden;

					.nav-section-title {
						.nav-section-title-text {
							display: block;
						}
					}

					.nav-section-subtitle {
						display: block;
					}
				}
			}

			.nav-bottom-section {
				.secondary-nav-items {
					width: 240px;
				}
			}
		}

		.get-started-nav-items {
			.get-started-btn {
				justify-content: flex-start;
			}
		}

		.collapse-expand-handlers {
			display: block;
		}

		.nav-item-label {
			display: block;
		}

		.nav-item-beta,
		.nav-item-new {
			display: block;
		}
	}
}

.nav-dropdown-overlay {
	.ant-dropdown-menu {
		margin-left: 8px !important;
		padding: 0px !important;
		width: 216px !important;
		border-radius: 3px !important;

		// Glass blur
		// background: rgba(18, 19, 23, 0.6); /* based on #121317 */
		// backdrop-filter: blur(16px);
		// -webkit-backdrop-filter: blur(16px);
		// border: 1px solid rgba(255, 255, 255, 0.08);
		// border-radius: 12px;
		// box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
		// color: white;
		// padding: 8px 0;

		.ant-dropdown-menu-item {
			.ant-dropdown-menu-title-content {
				color: var(--Vanilla-400, #c0c1c3);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				letter-spacing: 0.14px;
			}
		}
	}
}

.settings-dropdown {
	.user-settings-dropdown-logged-in-section {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.user-settings-dropdown-label-text {
			color: var(--Slate-50, #62687c);
			font-family: Inter;
			font-size: 10px;
			font-family: Inter;
			font-weight: 600;
			font-style: normal;
			line-height: 18px; /* 163.636% */
			letter-spacing: 0.88px;
			text-transform: uppercase;
		}

		.user-settings-dropdown-label-email {
			color: var(--Vanilla-400, #c0c1c3);
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			letter-spacing: 0.14px;
		}
	}

	.ant-dropdown-menu-item-divider {
		background-color: var(--Slate-500, #161922) !important;
	}
}

.lightMode {
	.sideNav {
		background: var(--bg-vanilla-100);
		border-right: 1px solid var(--bg-vanilla-300);

		.get-started-nav-items {
			.get-started-btn {
				border: 1px solid var(--bg-vanilla-300);
			}
		}

		.brand {
			.brand-logo {
				.brand-logo-name {
					color: var(--bg-slate-400);
				}
			}
		}

		.nav-wrapper {
			.secondary-nav-items {
				border-top: 1px solid var(--bg-vanilla-300);

				.collapse-expand-handlers {
					svg {
						color: var(--bg-slate-300);
						fill: var(--bg-vanilla-300);
					}
				}
			}
		}

		&:hover {
			background: var(--bg-vanilla-100);
		}
	}
}
