@import '@signozhq/design-tokens';

.sideNav {
	flex: 0 0 240px;
	max-width: 240px;
	min-width: 240px;
	width: 240px;
	border-right: 1px solid $bg-slate-400;
	padding-bottom: 48px;
	transition: all 0.3s, background 0s, border 0s;
	position: relative;

	.brand {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: $padding-4;

		.brand-logo {
			display: flex;
			align-items: center;
			gap: 8px;

			cursor: pointer;

			img {
				height: $font-size-xl;
			}

			.brand-logo-name {
				font-family: 'Work Sans', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px;

				color: #fff;
			}
		}

		.license {
			&.tag {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				color: rgba(255, 255, 255, 0.85);
				font-size: 8px;
				font-weight: $font-weight-medium;
				letter-spacing: 0.6px;
				padding: 4px 8px;
				text-transform: uppercase;
				white-space: nowrap;
				background: $bg-slate-400;
				border: 1px solid $bg-slate-400;
				border-radius: 20px;
				opacity: 1;
				transition: all 0.2s;
			}
		}
	}

	.get-started-nav-items {
		display: flex;
		margin: 4px 13px 4px 10px;

		.get-started-btn {
			display: flex;
			align-items: center;
			padding: 8px;
			margin-left: 2px;
			gap: 8px;

			width: 100%;
			height: 36px;

			border: 1px solid $bg-slate-400;

			border-radius: 2px;
			box-shadow: none !important;
		}
	}

	.secondary-nav-items {
		border-top: 1px solid $bg-slate-400;
		padding: 8px 0;
		max-width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 240px;

		transition: all 0.3s, background 0s, border 0s;

		// position: relative;

		.collapse-expand-handlers {
			position: absolute;

			position: absolute;
			top: -9px;
			right: -9px;
			cursor: pointer;

			color: $bg-robin-300;
		}
	}

	&.collapsed {
		flex: 0 0 64px;
		max-width: 64px;
		min-width: 64px;
		width: 64px;

		.secondary-nav-items {
			width: 64px;
		}

		.brand {
			justify-content: center;
		}

		.get-started-nav-items {
			.get-started-btn {
				justify-content: center;
			}
		}
	}
}

.lightMode {
	.sideNav {
		background: $bg-vanilla-300;
		border-right: 1px solid $bg-vanilla-400;

		.get-started-nav-items {
			.get-started-btn {
				border: 1px solid $bg-vanilla-400;
			}
		}

		.brand {
			.brand-logo {
				.brand-logo-name {
					color: $bg-slate-400;
				}
			}
		}

		.secondary-nav-items {
			border-top: 1px solid $bg-vanilla-400;

			.collapse-expand-handlers {
				color: $bg-robin-400;
			}
		}
	}
}
