.show-more-button {
	background-color: var(--bg-slate-400);
	color: var(--bg-vanilla-100);
	display: flex;
	padding: 4px 8px;
	align-items: center;
	gap: 3px;
	border: none;
	margin: 0;
}

.show-more-button {
	&.disabled {
		background-color: var(--bg-slate-200);
		color: var(--bg-vanilla-400);
	}
}

.lightMode {
	.show-more-button {
		background-color: var(--bg-vanilla-300);
		color: var(--bg-slate-400);
	}

	.show-more-button {
		&.disabled {
			background-color: var(--bg-vanilla-300);
			color: var(--bg-vanilla-400);
		}
	}
}
