.show-more-button {
    background-color: var(--bg-slate-400);
    color: var(--bg-vanilla-100);
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 3px;
    border: none;
    margin: 0;
}

.lightMode {
    .show-more-button {
        background-color: var(--bg-vanilla-300);
        color: var(--bg-slate-400);
    }
}