.wrapper {
	composes: cardWrapper from '../states.module.scss';
	padding: 105px 141px;
	gap: 4px;
}

.img {
	max-width: 100%;
}

.errorText {
	composes: bodyText from '../states.module.scss';
	color: var(--l1-foreground);
	font-weight: 500;
}

.actionButtons {
	display: flex;
	gap: 24px;
	align-items: center;
	margin-top: 20px;
}

.retryButton {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 5.937px 11.875px;
	justify-content: center;
	gap: 5.937px;
	border-radius: 1.484px;
	background: var(--l1-border);
	color: var(--l1-foreground);
}

.learnMore {
	composes: learnMoreLink from '../states.module.scss';
}

.learnMoreArrow {
	composes: learnMoreArrow from '../states.module.scss';
}
