.logs-infinity-table {
    margin-top: 0px !important;
    table > thead > tr> th {
        color: #ffffff;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-align: left;
        padding: 8px;
        text-transform: lowercase;
    }

    table > tbody > tr > td {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-align: left;
        padding: 12px 8px;

        > .ant-typography {
            margin-bottom: 0;
        }
    }
}

.lightMode {
    .logs-infinity-table {
        table > thead > tr > th {
            background-color: var(--bg-vanilla-300);
            color: var(--bg-ink-500); 
        }

        table > tbody > tr > td {
            color: var(--bg-ink-500);
        }
    }   
}
