.logs-table-row {
	cursor: pointer;
	position: relative;
}

.table-row-backdrop {
	&.INFO {
		background-color: var(--primary-background) 10;
	}
	&.WARNING,
	&.WARN {
		background-color: var(--warning-background) 10;
	}
	&.ERROR {
		background-color: var(--danger-background) 10;
	}
	&.TRACE {
		background-color: var(--success-background) 10;
	}
	&.DEBUG {
		background-color: var(--info-background) 10;
	}
	&.FATAL {
		background-color: var(--danger-background) 10;
	}
}
