.labelBadge {
	cursor: default;
	font-size: 12px;

	max-width: 180px;
	text-overflow: ellipsis;
}

.labelValue {
	text-overflow: ellipsis;
	overflow: hidden;
}

.tooltipContent {
	display: flex;
	align-items: center;
	gap: 8px;
}

.copyButton {
	all: unset;
	cursor: pointer;
	display: flex;
	align-items: center;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}
