.labelColumn {
	display: flex;
	gap: 4px;
	align-items: center;
	overflow: hidden;
	max-width: 100%;
	width: 100%;
}

.overflowTrigger {
	all: unset;
	cursor: pointer;
}

.labelPopover {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 8px;
	max-height: 300px;
	overflow-y: auto;
}

.labelTooltip {
	display: flex;
	flex-direction: column;
	gap: 6px;
	max-height: 300px;
	overflow-y: auto;
}

.labelValue {
	text-overflow: ellipsis;
	overflow: hidden;
}

.tooltipContent {
	display: flex;
	align-items: center;
	gap: 8px;
}

.copyButton {
	all: unset;
	cursor: pointer;
	display: flex;
	align-items: center;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}
