.billing-container {
	margin-bottom: 40px;
	padding-top: 36px;
	width: 90%;
	margin: 0 auto;

	.billing-summary {
		margin: 24px 8px;
	}

	.billing-details {
		margin: 24px 0px;

		.ant-table-title {
			color: var(--l2-foreground);
			background-color: var(--l3-background);
		}

		.ant-table-cell {
			background-color: var(--l1-background);
			border-color: var(--l1-border);
		}

		.ant-table-tbody {
			td {
				border-color: var(--l1-border);
			}
		}
	}

	.upgrade-plan-benefits {
		margin: 0px 8px;
		border: 1px solid var(--l1-border);
		border-radius: 5px;
		padding: 0 48px;
		.plan-benefits {
			.plan-benefit {
				display: flex;
				align-items: center;
				gap: 16px;
				margin: 16px 0;
			}
		}
	}

	.empty-graph-card {
		.ant-card-body {
			height: 40vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.billing-update-note {
		text-align: left;
		font-size: 13px;
		color: var(--l2-foreground);
		margin-top: 16px;
	}
}

.ant-skeleton.ant-skeleton-element.ant-skeleton-active {
	width: 100%;
	min-width: 100%;
}

.ant-skeleton.ant-skeleton-element .ant-skeleton-input {
	min-width: 100% !important;
}
