.cloud-integrations-header-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-bottom: 1px solid var(--bg-slate-500);

	.cloud-integrations-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px;
		padding-bottom: 0px;
		gap: 16px;

		.cloud-integrations-title-section {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.cloud-integrations-title {
				display: flex;
				align-items: center;
				gap: 16px;

				.cloud-integrations-icon {
					width: 40px;
					height: 40px;
				}

				color: var(--Vanilla-100, #fff);
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 32px; /* 200% */
				letter-spacing: -0.08px;
			}

			.cloud-integrations-description {
				color: var(--Vanilla-400, #c0c1c3);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				letter-spacing: -0.07px;
			}
		}
	}
}

.lightMode {
	.cloud-integrations-header {
		.cloud-integrations-title {
			color: var(--bg-vanilla-100);
		}

		.cloud-integrations-description {
			color: var(--bg-vanilla-400);
		}
	}
}
