.shell {
	flex: 1;
	min-height: 0;
	display: flex;
	flex-direction: column;

	:global(.ant-tabs-nav) {
		padding: 0 var(--spacing-8);
		margin-bottom: 0;

		&::before {
			border-bottom: 1px solid var(--l1-border) !important;
		}
	}
}

.tabItem {
	display: flex;
	align-items: center;
	gap: var(--spacing-4);
}
