import styles from './__Pascal__.module.scss';

function __Pascal__(): JSX.Element {
	return (
		<section className={styles.container} data-testid="__kebab__-page">
			<h1 className={styles.title}>__Title__</h1>
		</section>
	);
}

export default __Pascal__;
