.widget-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 600;
}

.widget-header-title {
	max-width: 80%;
}

.widget-header-actions {
	display: flex;
	align-items: center;
}
.widget-header-more-options {
	visibility: hidden;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: 14px;
	font-weight: 600;
	padding: 8px;
}

.widget-header-hover {
	visibility: visible;
}

.widget-api-actions {
	padding-right: 0.25rem;
}
