.host-metric-traces {
    margin-top: 1rem;

    .host-metric-traces-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        .filter-section {
            width: 35.7rem;
         }
    }

	.ant-table-content {
		overflow: hidden !important;
	}
    
}
