.entryRow {
	display: flex;
	align-items: center;
	gap: 6px;
	flex-wrap: wrap;
	color: var(--l1-foreground);

	--divider-border: var(--callout-warning-border);
}

.presentIcon {
	color: var(--success-background);
	flex-shrink: 0;
}
