name: prereleaser

on:
  # allow manual triggering of the workflow by a maintainer
  workflow_dispatch:
    inputs:
      release_type:
        description: "Type of the release"
        type: choice
        required: true
        options:
          - 'patch'
          - 'minor'
          - 'major'

jobs:
  signoz:
    uses: signoz/primus.workflows/.github/workflows/releaser.yaml@main
    secrets: inherit
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    with:
      PRIMUS_REF: main
      PROJECT_NAME: signoz
      RELEASE_TYPE: ${{ inputs.release_type || 'minor' }}
