name: push

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  image-build-and-push-signoz:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - name: setup-qemu
        uses: docker/setup-qemu-action@v3
      - name: setup-buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
      - name: docker-login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: create-env-file
        run: |
          echo 'INTERCOM_APP_ID="${{ secrets.INTERCOM_APP_ID }}"' > frontend/.env
          echo 'SEGMENT_ID="${{ secrets.SEGMENT_ID }}"' >> frontend/.env
          echo 'SENTRY_AUTH_TOKEN="${{ secrets.SENTRY_AUTH_TOKEN }}"' >> frontend/.env
          echo 'SENTRY_ORG="${{ secrets.SENTRY_ORG }}"' >> frontend/.env
          echo 'SENTRY_PROJECT_ID="${{ secrets.SENTRY_PROJECT_ID }}"' >> frontend/.env
          echo 'SENTRY_DSN="${{ secrets.SENTRY_DSN }}"' >> frontend/.env
          echo 'TUNNEL_URL="${{ secrets.TUNNEL_URL }}"' >> frontend/.env
          echo 'TUNNEL_DOMAIN="${{ secrets.TUNNEL_DOMAIN }}"' >> frontend/.env
          echo 'POSTHOG_KEY="${{ secrets.POSTHOG_KEY }}"' >> frontend/.env
          echo 'CUSTOMERIO_ID="${{ secrets.CUSTOMERIO_ID }}"' >> frontend/.env
          echo 'CUSTOMERIO_SITE_ID="${{ secrets.CUSTOMERIO_SITE_ID }}"' >> frontend/.env
      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
      - name: branch-name
        id: branch-name
        uses: tj-actions/branch-names@v7.0.7
      - name: docker-tag
        run: |
          if [ '${{ steps.branch-name.outputs.is_tag }}' == 'true' ]; then
            echo "DOCKER_TAG=${{ steps.branch-name.outputs.tag }}" >> $GITHUB_ENV
          elif [ '${{ steps.branch-name.outputs.current_branch }}' == 'main' ]; then
            echo "DOCKER_TAG=latest" >> $GITHUB_ENV
          else
            echo "DOCKER_TAG=${{ steps.branch-name.outputs.current_branch }}" >> $GITHUB_ENV
          fi
      - name: cross-compilation-tools
        run: |
          set -ex
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu musl-tools
      - name: publish-signoz
        run: make build-push-signoz
      - name: qs-docker-tag
        run: |
          if [ '${{ steps.branch-name.outputs.is_tag }}' == 'true' ]; then
            tag="${{ steps.branch-name.outputs.tag }}"
            tag="${tag:1}"
            echo "DOCKER_TAG=${tag}" >> $GITHUB_ENV
          elif [ '${{ steps.branch-name.outputs.current_branch }}' == 'main' ]; then
            echo "DOCKER_TAG=latest" >> $GITHUB_ENV
          else
            echo "DOCKER_TAG=${{ steps.branch-name.outputs.current_branch }}" >> $GITHUB_ENV
          fi
      - name: publish-query-service
        run: |
          SIGNOZ_DOCKER_IMAGE=query-service make build-push-query-service

  image-build-and-push-signoz-community:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup-go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - name: setup-qemu
        uses: docker/setup-qemu-action@v3
      - name: setup-buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
      - name: docker-login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
      - name: branch-name
        id: branch-name
        uses: tj-actions/branch-names@v7.0.7
      - name: docker-tag
        run: |
          if [ '${{ steps.branch-name.outputs.is_tag }}' == 'true' ]; then
            echo "DOCKER_TAG=${{ steps.branch-name.outputs.tag }}" >> $GITHUB_ENV
          elif [ '${{ steps.branch-name.outputs.current_branch }}' == 'main' ]; then
            echo "DOCKER_TAG=latest" >> $GITHUB_ENV
          else
            echo "DOCKER_TAG=${{ steps.branch-name.outputs.current_branch }}" >> $GITHUB_ENV
          fi
      - name: cross-compilation-tools
        run: |
          set -ex
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu musl-tools
      - name: publish-signoz-community
        run: make build-push-signoz-community
      - name: qs-docker-tag
        run: |
          if [ '${{ steps.branch-name.outputs.is_tag }}' == 'true' ]; then
            tag="${{ steps.branch-name.outputs.tag }}"
            tag="${tag:1}"
            echo "DOCKER_TAG=${tag}-oss" >> $GITHUB_ENV
          elif [ '${{ steps.branch-name.outputs.current_branch }}' == 'main' ]; then
            echo "DOCKER_TAG=latest-oss" >> $GITHUB_ENV
          else
            echo "DOCKER_TAG=${{ steps.branch-name.outputs.current_branch }}-oss" >> $GITHUB_ENV
          fi
      - name: publish-query-service-oss
        run: |
          SIGNOZ_DOCKER_IMAGE=query-service make build-push-query-service
