.fullscreen-grid-container {
	overflow: auto;
	margin: 8px -8px;

	.react-grid-layout {
		border: none !important;
		margin-top: 0;
	}
}

.widget-graph-container {
	height: 100%;

	&.graph {
		height: calc(100% - 30px);
	}
}

.widget-full-view {
	.ant-modal-content {
		background-color: var(--bg-ink-400);

		.ant-modal-header {
			background-color: var(--bg-ink-400);
		}
	}	
}

.lightMode {
	.fullscreen-grid-container {
		background-color: rgb(250, 250, 250);
	}

	.widget-full-view {
		.ant-modal-content {
			background-color: var(--bg-vanilla-100);
		}

		.ant-modal-header {
			background-color: var(--bg-vanilla-100);
		}
	}
}
