.fullscreen-grid-container {
	overflow: auto;
	margin-top: 1rem;

	.react-grid-layout {
		border: none !important;
		margin-top: 0;
	}
}

.widget-graph-container {
	height: 100%;

	&.graph {
		height: calc(100% - 30px);
	}
}

.full-view-modal {
	.ant-modal-content {
		background-color: var(--bg-ink-400);

		.ant-modal-header {
			background-color: var(--bg-ink-400);
		}
	}	
}

.lightMode {
	.fullscreen-grid-container {
		background-color: rgb(250, 250, 250);
	}
}
