.selectOptionContainer {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	overflow-x: auto;

	&::-webkit-scrollbar {
		width: 0.2rem;
		height: 0.2rem;
	}

	.option-value {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 0;
	}

	.option-meta-data-container {
		display: flex;
		gap: 8px;
		flex-shrink: 0;
	}
}

.option-renderer-tooltip {
	pointer-events: none;
}
