.query-builder-search-v2 {
	display: flex;
	gap: 4px;
	.tags {
	}
	.search-bar {
		width: 100%;
	}

	.ant-tag {
		&.resource {
			border-color: var(--bg-sakura-600);
		}
		&.tag {
			border-color: var(--bg-seinna-600);
		}
	}
}
