<!DOCTYPE html>
<html>
<body>
    <p>Hello {{.Name}},</p>
    <p>You requested a password reset for your SigNoz account.</p>
    <p>Click the link below to reset your password:</p>
    <a href="{{.Link}}">Reset Password</a>
    <p>This link will expire in {{.Expiry}}.</p>
    <p>If you didn't request this, please ignore this email. Your password will remain unchanged.</p>
    <br>
    <p>Best regards,<br>The SigNoz Team</p>
</body>
</html>
