<!DOCTYPE html>
<html>
<body>
    <p>Hi {{.CustomerName}},</p>
    <p>We wanted to inform you that your role in the SigNoz project has been updated by {{.UpdatedByEmail}}.</p>
    <p>**Previous Role:** {{.OldRole}}</p>
    <p>**New Role:** {{.NewRole}}</p>
    <p>If you were not expecting this change or have any questions, please reach out to your project administrator or contact us at support@signoz.io</p>
    <p>Thanks,</p>
    <p>SigNoz Team</p>
</body>
</html>
