<!DOCTYPE html>
<html>
<body>
    Hi {{.CustomerName}},<br>
    Your role in <strong>SigNoz</strong> has been updated by {{.UpdatedByEmail}}.
    <p>
        <strong>Previous Role:</strong> {{.OldRole}}<br>
        <strong>New Role:</strong> {{.NewRole}}
    </p>
    {{if eq .OldRole "Admin"}}
        <p>
            If you were not expecting this change or have any questions, please contact us at <a href="mailto:support@signoz.io">support@signoz.io</a>.
        </p>
    {{else}}
        <p>
            If you were not expecting this change or have any questions, please reach out to your administrator.
        </p>
    {{end}}
    <p>Best regards,<br>The SigNoz Team</p>
</body>
</html>