.field-renderer-container {
    .label {
        color: var(--bg-robin-400);
        font-family: SF Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.005em;
        text-align: left;
        margin-bottom: var(--margin-1);
    }
}