.json-view-container {
	border-radius: 3px;
	border: 1px solid var(--bg-slate-500);
	padding-top: 16px;

	.json-view-footer {
		height: 36px;
		display: flex;
		align-items: center;
		border-top: 1px solid var(--bg-slate-500);
	}

	.log-switch {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.wrap-word-switch {
			display: flex;
			gap: 8px;
			margin-left: var(--margin-3);
			align-items: center;
		}

		.log-switch-btn {
			border: 1px solid var(--bg-slate-500);
			background-color: var(--bg-slate-500);
			width: 40px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.lightMode {
	.json-view-container {
		.log-switch {
			.log-switch-btn {
				background: var(--bg-vanilla-200);
				border: 1px solid var(--bg-vanilla-400);
			}
		}
	}
}
