.overview-container {
	.tag {
		border-radius: 20px;
		border: 1px solid color-mix(in srgb, var(--bg-sienna-500) 20%, transparent);
		background: color-mix(in srgb, var(--bg-sienna-500) 10%, transparent);
		padding: var(--padding-1) var(--padding-2);
		font-family: 'Inter';
		font-size: var(--font-size-xs);
		font-weight: var(--font-weight-medium);
		line-height: 16px;
		letter-spacing: -0.005em;
		text-align: center;
		color: var(--text-sienna-400);
	}

	.log-switch {
		height: 36px;
		display: flex;
		align-items: center;

		.wrap-word-switch {
			display: flex;
			gap: 8px;
			margin-left: var(--margin-3);
			align-items: center;
		}

		.log-switch-btn {
			border: 1px solid var(--l1-border);
			background-color: var(--l2-background);
			width: 40px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.attribute-table {
		margin-top: var(--margin-1);
	}

	.ant-collapse {
		border: 1px solid var(--l1-border);
	}

	.collapse-content {
		border-bottom: 1px solid var(--l1-border);

		.ant-collapse-header {
			align-items: center;
			border-radius: 2px;
			background: color-mix(in srgb, var(--bg-robin-200) 4%, transparent);

			padding: 8px;

			.ant-collapse-extra {
				display: flex;
				align-items: center;

				.action-btn {
					display: flex;

					.ant-btn {
						background: color-mix(in srgb, var(--bg-robin-400) 8%, transparent);
					}
				}
			}
		}

		.ant-collapse-content {
			padding: 0;
			background: var(--l1-background);
			border-top: 1px solid var(--l1-border);

			.ant-collapse-content-box {
				padding: var(--padding-2) 0 0 0;
			}
		}
	}

	.logs-body-content {
		padding-top: 12px;
	}

	.ant-tag-borderless {
		border-radius: 2px;
		background: color-mix(in srgb, var(--bg-robin-400) 8%, transparent);
	}

	.attribute-collapse {
		.ant-collapse-content {
			.ant-collapse-content-box {
				padding: 0;
			}
		}
	}

	.ant-table-wrapper .ant-table-cell {
		padding: 14px 14px;
	}

	.attribute-tab-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.action-btn {
			border-radius: 2px;
			border: 1px solid var(--l1-border);
			display: flex;
			align-items: center;
			justify-content: center;

			background: none;
			border: none;
			box-shadow: none;
		}
	}
}
