.overview-container {
    margin-top: var(--margin-4);
    .tag {
        border: 1px solid #AD7F5833;
        background: linear-gradient(0deg, rgba(173, 127, 88, 0.2), rgba(173, 127, 88, 0.2));
        border-radius: 20px;
        padding: var(--padding-1), var(--padding-2);
        font-family: 'Inter';
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-medium);
        line-height: 16px;
        letter-spacing: -0.005em;
        text-align: center;
        color: var(--text-sienna-400);
    }

    .log-switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--margin-3);

        .wrap-word-switch {
            display: flex;
            gap: 10px;
        }

        .log-switch-btn {
            border: 1px solid var(--bg-slate-400);
            background: var(--bg-ink-300);
            width: 50px;
        }
    }

    .attribute-table {
        margin-top: var(--margin-1);
    }

    .collapse-content {
        .ant-collapse-header {
            background: rgba(171, 189, 255, 0.04);
        }
        .ant-collapse-content {
            background: var(--bg-ink-400);
        }
    }
}

.lightMode {
    .overview-container {
        .collapse-content {
            .ant-collapse-content {
                background: var(--bg-vanilla-100);
            }
        }
    
        .log-switch {
            .log-switch-btn {
                background: var(--bg-vanilla-200);
                border: 1px solid var(--bg-vanilla-400);
            }
        }
    }
}
