.span-details-sider {
	padding-top: 16px;

	::-webkit-scrollbar {
		width: 0.2em;
	}

	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px
			color-mix(in srgb, var(--l1-background) 30%, transparent);
	}

	&.dark {
		.ant-layout-sider-trigger {
			background-color: var(--l1-background) !important;
		}
	}

	&.light {
		.ant-layout-sider-trigger {
			background-color: white !important;
		}
	}

	.expand-collapse-btn {
		padding: 4px;
		height: auto;
		width: auto;
	}
}
